<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.ActRuTaskMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.ActRuTask" >
    <id column="ID_" property="id" jdbcType="VARCHAR" />
    <result column="REV_" property="rev" jdbcType="INTEGER" />
    <result column="EXECUTION_ID_" property="executionId" jdbcType="VARCHAR" />
    <result column="PROC_INST_ID_" property="procInstId" jdbcType="VARCHAR" />
    <result column="PROC_DEF_ID_" property="procDefId" jdbcType="VARCHAR" />
    <result column="NAME_" property="name" jdbcType="VARCHAR" />
    <result column="PARENT_TASK_ID_" property="parentTaskId" jdbcType="VARCHAR" />
    <result column="DESCRIPTION_" property="description" jdbcType="VARCHAR" />
    <result column="TASK_DEF_KEY_" property="taskDefKey" jdbcType="VARCHAR" />
    <result column="OWNER_" property="owner" jdbcType="VARCHAR" />
    <result column="ASSIGNEE_" property="assignee" jdbcType="VARCHAR" />
    <result column="DELEGATION_" property="delegation" jdbcType="VARCHAR" />
    <result column="PRIORITY_" property="priority" jdbcType="INTEGER" />
    <result column="CREATE_TIME_" property="createTime" jdbcType="TIMESTAMP" />
    <result column="DUE_DATE_" property="dueDate" jdbcType="TIMESTAMP" />
    <result column="CATEGORY_" property="category" jdbcType="VARCHAR" />
    <result column="SUSPENSION_STATE_" property="suspensionState" jdbcType="INTEGER" />
    <result column="TENANT_ID_" property="tenantId" jdbcType="VARCHAR" />
    <result column="FORM_KEY_" property="formKey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID_, REV_, EXECUTION_ID_, PROC_INST_ID_, PROC_DEF_ID_, NAME_, PARENT_TASK_ID_, DESCRIPTION_, 
    TASK_DEF_KEY_, OWNER_, ASSIGNEE_, DELEGATION_, PRIORITY_, CREATE_TIME_, DUE_DATE_, 
    CATEGORY_, SUSPENSION_STATE_, TENANT_ID_, FORM_KEY_
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.ActRuTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ACT_RU_TASK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ACT_RU_TASK
    where ID_ = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ACT_RU_TASK
    where ID_ = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.congmai.zhgj.web.model.ActRuTaskExample" >
    delete from ACT_RU_TASK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.congmai.zhgj.web.model.ActRuTask" >
    insert into ACT_RU_TASK (ID_, REV_, EXECUTION_ID_, 
      PROC_INST_ID_, PROC_DEF_ID_, NAME_, 
      PARENT_TASK_ID_, DESCRIPTION_, TASK_DEF_KEY_, 
      OWNER_, ASSIGNEE_, DELEGATION_, 
      PRIORITY_, CREATE_TIME_, DUE_DATE_, 
      CATEGORY_, SUSPENSION_STATE_, TENANT_ID_, 
      FORM_KEY_)
    values (#{id,jdbcType=VARCHAR}, #{rev,jdbcType=INTEGER}, #{executionId,jdbcType=VARCHAR}, 
      #{procInstId,jdbcType=VARCHAR}, #{procDefId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentTaskId,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{taskDefKey,jdbcType=VARCHAR}, 
      #{owner,jdbcType=VARCHAR}, #{assignee,jdbcType=VARCHAR}, #{delegation,jdbcType=VARCHAR}, 
      #{priority,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{dueDate,jdbcType=TIMESTAMP}, 
      #{category,jdbcType=VARCHAR}, #{suspensionState,jdbcType=INTEGER}, #{tenantId,jdbcType=VARCHAR}, 
      #{formKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.ActRuTask" >
    insert into ACT_RU_TASK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID_,
      </if>
      <if test="rev != null" >
        REV_,
      </if>
      <if test="executionId != null" >
        EXECUTION_ID_,
      </if>
      <if test="procInstId != null" >
        PROC_INST_ID_,
      </if>
      <if test="procDefId != null" >
        PROC_DEF_ID_,
      </if>
      <if test="name != null" >
        NAME_,
      </if>
      <if test="parentTaskId != null" >
        PARENT_TASK_ID_,
      </if>
      <if test="description != null" >
        DESCRIPTION_,
      </if>
      <if test="taskDefKey != null" >
        TASK_DEF_KEY_,
      </if>
      <if test="owner != null" >
        OWNER_,
      </if>
      <if test="assignee != null" >
        ASSIGNEE_,
      </if>
      <if test="delegation != null" >
        DELEGATION_,
      </if>
      <if test="priority != null" >
        PRIORITY_,
      </if>
      <if test="createTime != null" >
        CREATE_TIME_,
      </if>
      <if test="dueDate != null" >
        DUE_DATE_,
      </if>
      <if test="category != null" >
        CATEGORY_,
      </if>
      <if test="suspensionState != null" >
        SUSPENSION_STATE_,
      </if>
      <if test="tenantId != null" >
        TENANT_ID_,
      </if>
      <if test="formKey != null" >
        FORM_KEY_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rev != null" >
        #{rev,jdbcType=INTEGER},
      </if>
      <if test="executionId != null" >
        #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null" >
        #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="procDefId != null" >
        #{procDefId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTaskId != null" >
        #{parentTaskId,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="taskDefKey != null" >
        #{taskDefKey,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="assignee != null" >
        #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="delegation != null" >
        #{delegation,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dueDate != null" >
        #{dueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="suspensionState != null" >
        #{suspensionState,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="formKey != null" >
        #{formKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.congmai.zhgj.web.model.ActRuTaskExample" resultType="java.lang.Integer" >
    select count(*) from ACT_RU_TASK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ACT_RU_TASK
    <set >
      <if test="record.id != null" >
        ID_ = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.rev != null" >
        REV_ = #{record.rev,jdbcType=INTEGER},
      </if>
      <if test="record.executionId != null" >
        EXECUTION_ID_ = #{record.executionId,jdbcType=VARCHAR},
      </if>
      <if test="record.procInstId != null" >
        PROC_INST_ID_ = #{record.procInstId,jdbcType=VARCHAR},
      </if>
      <if test="record.procDefId != null" >
        PROC_DEF_ID_ = #{record.procDefId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME_ = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.parentTaskId != null" >
        PARENT_TASK_ID_ = #{record.parentTaskId,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        DESCRIPTION_ = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.taskDefKey != null" >
        TASK_DEF_KEY_ = #{record.taskDefKey,jdbcType=VARCHAR},
      </if>
      <if test="record.owner != null" >
        OWNER_ = #{record.owner,jdbcType=VARCHAR},
      </if>
      <if test="record.assignee != null" >
        ASSIGNEE_ = #{record.assignee,jdbcType=VARCHAR},
      </if>
      <if test="record.delegation != null" >
        DELEGATION_ = #{record.delegation,jdbcType=VARCHAR},
      </if>
      <if test="record.priority != null" >
        PRIORITY_ = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME_ = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dueDate != null" >
        DUE_DATE_ = #{record.dueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.category != null" >
        CATEGORY_ = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.suspensionState != null" >
        SUSPENSION_STATE_ = #{record.suspensionState,jdbcType=INTEGER},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID_ = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.formKey != null" >
        FORM_KEY_ = #{record.formKey,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ACT_RU_TASK
    set ID_ = #{record.id,jdbcType=VARCHAR},
      REV_ = #{record.rev,jdbcType=INTEGER},
      EXECUTION_ID_ = #{record.executionId,jdbcType=VARCHAR},
      PROC_INST_ID_ = #{record.procInstId,jdbcType=VARCHAR},
      PROC_DEF_ID_ = #{record.procDefId,jdbcType=VARCHAR},
      NAME_ = #{record.name,jdbcType=VARCHAR},
      PARENT_TASK_ID_ = #{record.parentTaskId,jdbcType=VARCHAR},
      DESCRIPTION_ = #{record.description,jdbcType=VARCHAR},
      TASK_DEF_KEY_ = #{record.taskDefKey,jdbcType=VARCHAR},
      OWNER_ = #{record.owner,jdbcType=VARCHAR},
      ASSIGNEE_ = #{record.assignee,jdbcType=VARCHAR},
      DELEGATION_ = #{record.delegation,jdbcType=VARCHAR},
      PRIORITY_ = #{record.priority,jdbcType=INTEGER},
      CREATE_TIME_ = #{record.createTime,jdbcType=TIMESTAMP},
      DUE_DATE_ = #{record.dueDate,jdbcType=TIMESTAMP},
      CATEGORY_ = #{record.category,jdbcType=VARCHAR},
      SUSPENSION_STATE_ = #{record.suspensionState,jdbcType=INTEGER},
      TENANT_ID_ = #{record.tenantId,jdbcType=VARCHAR},
      FORM_KEY_ = #{record.formKey,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.ActRuTask" >
    update ACT_RU_TASK
    <set >
      <if test="rev != null" >
        REV_ = #{rev,jdbcType=INTEGER},
      </if>
      <if test="executionId != null" >
        EXECUTION_ID_ = #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null" >
        PROC_INST_ID_ = #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="procDefId != null" >
        PROC_DEF_ID_ = #{procDefId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentTaskId != null" >
        PARENT_TASK_ID_ = #{parentTaskId,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION_ = #{description,jdbcType=VARCHAR},
      </if>
      <if test="taskDefKey != null" >
        TASK_DEF_KEY_ = #{taskDefKey,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        OWNER_ = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="assignee != null" >
        ASSIGNEE_ = #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="delegation != null" >
        DELEGATION_ = #{delegation,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        PRIORITY_ = #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dueDate != null" >
        DUE_DATE_ = #{dueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null" >
        CATEGORY_ = #{category,jdbcType=VARCHAR},
      </if>
      <if test="suspensionState != null" >
        SUSPENSION_STATE_ = #{suspensionState,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        TENANT_ID_ = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="formKey != null" >
        FORM_KEY_ = #{formKey,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.ActRuTask" >
    update ACT_RU_TASK
    set REV_ = #{rev,jdbcType=INTEGER},
      EXECUTION_ID_ = #{executionId,jdbcType=VARCHAR},
      PROC_INST_ID_ = #{procInstId,jdbcType=VARCHAR},
      PROC_DEF_ID_ = #{procDefId,jdbcType=VARCHAR},
      NAME_ = #{name,jdbcType=VARCHAR},
      PARENT_TASK_ID_ = #{parentTaskId,jdbcType=VARCHAR},
      DESCRIPTION_ = #{description,jdbcType=VARCHAR},
      TASK_DEF_KEY_ = #{taskDefKey,jdbcType=VARCHAR},
      OWNER_ = #{owner,jdbcType=VARCHAR},
      ASSIGNEE_ = #{assignee,jdbcType=VARCHAR},
      DELEGATION_ = #{delegation,jdbcType=VARCHAR},
      PRIORITY_ = #{priority,jdbcType=INTEGER},
      CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      DUE_DATE_ = #{dueDate,jdbcType=TIMESTAMP},
      CATEGORY_ = #{category,jdbcType=VARCHAR},
      SUSPENSION_STATE_ = #{suspensionState,jdbcType=INTEGER},
      TENANT_ID_ = #{tenantId,jdbcType=VARCHAR},
      FORM_KEY_ = #{formKey,jdbcType=VARCHAR}
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
</mapper>