<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.ClauseSettlementDetailMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.ClauseSettlementDetail" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="clauseSettlementSerial" property="clauseSettlementSerial" jdbcType="VARCHAR" />
    <result column="paymentType" property="paymentType" jdbcType="VARCHAR" />
    <result column="deliveryNode" property="deliveryNode" jdbcType="VARCHAR" />
    <result column="accountPeriod" property="accountPeriod" jdbcType="VARCHAR" />
    <result column="deliveryRate" property="deliveryRate" jdbcType="VARCHAR" />
    <result column="deliveryAmount" property="deliveryAmount" jdbcType="VARCHAR" />
    <result column="paymentMethod" property="paymentMethod" jdbcType="VARCHAR" />
    <result column="billingMethod" property="billingMethod" jdbcType="VARCHAR" />
    <result column="billingAmount" property="billingAmount" jdbcType="VARCHAR" />
    <result column="unbilledAmount" property="unbilledAmount" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serialNum, clauseSettlementSerial, paymentType, deliveryNode, accountPeriod, deliveryRate, 
    deliveryAmount, paymentMethod, billingMethod, billingAmount, unbilledAmount, remark, 
    status, delFlg, creator, createTime, updater, updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.ClauseSettlementDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clauseSettlementDetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from clauseSettlementDetail
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from clauseSettlementDetail
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.congmai.zhgj.web.model.ClauseSettlementDetailExample" >
    delete from clauseSettlementDetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.congmai.zhgj.web.model.ClauseSettlementDetail" >
    insert into clauseSettlementDetail (serialNum, clauseSettlementSerial, 
      paymentType, deliveryNode, accountPeriod, 
      deliveryRate, deliveryAmount, paymentMethod, 
      billingMethod, billingAmount, unbilledAmount, 
      remark, status,
      creator, createTime, updater, 
      updateTime)
    values (#{serialNum,jdbcType=VARCHAR}, #{clauseSettlementSerial,jdbcType=VARCHAR}, 
      #{paymentType,jdbcType=VARCHAR}, #{deliveryNode,jdbcType=VARCHAR}, #{accountPeriod,jdbcType=VARCHAR}, 
      #{deliveryRate,jdbcType=VARCHAR}, #{deliveryAmount,jdbcType=VARCHAR}, #{paymentMethod,jdbcType=VARCHAR}, 
      #{billingMethod,jdbcType=VARCHAR}, #{billingAmount,jdbcType=VARCHAR}, #{unbilledAmount,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.ClauseSettlementDetail" >
    insert into clauseSettlementDetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serialNum,
      </if>
      <if test="clauseSettlementSerial != null" >
        clauseSettlementSerial,
      </if>
      <if test="paymentType != null" >
        paymentType,
      </if>
      <if test="deliveryNode != null" >
        deliveryNode,
      </if>
      <if test="accountPeriod != null" >
        accountPeriod,
      </if>
      <if test="deliveryRate != null" >
        deliveryRate,
      </if>
      <if test="deliveryAmount != null" >
        deliveryAmount,
      </if>
      <if test="paymentMethod != null" >
        paymentMethod,
      </if>
      <if test="billingMethod != null" >
        billingMethod,
      </if>
      <if test="billingAmount != null" >
        billingAmount,
      </if>
      <if test="unbilledAmount != null" >
        unbilledAmount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="delFlg != null" >
        delFlg,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="clauseSettlementSerial != null" >
        #{clauseSettlementSerial,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNode != null" >
        #{deliveryNode,jdbcType=VARCHAR},
      </if>
      <if test="accountPeriod != null" >
        #{accountPeriod,jdbcType=VARCHAR},
      </if>
      <if test="deliveryRate != null" >
        #{deliveryRate,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAmount != null" >
        #{deliveryAmount,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null" >
        #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="billingMethod != null" >
        #{billingMethod,jdbcType=VARCHAR},
      </if>
      <if test="billingAmount != null" >
        #{billingAmount,jdbcType=VARCHAR},
      </if>
      <if test="unbilledAmount != null" >
        #{unbilledAmount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.congmai.zhgj.web.model.ClauseSettlementDetailExample" resultType="java.lang.Integer" >
    select count(*) from clauseSettlementDetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update clauseSettlementDetail
    <set >
      <if test="record.serialNum != null" >
        serialNum = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.clauseSettlementSerial != null" >
        clauseSettlementSerial = #{record.clauseSettlementSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentType != null" >
        paymentType = #{record.paymentType,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryNode != null" >
        deliveryNode = #{record.deliveryNode,jdbcType=VARCHAR},
      </if>
      <if test="record.accountPeriod != null" >
        accountPeriod = #{record.accountPeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryRate != null" >
        deliveryRate = #{record.deliveryRate,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryAmount != null" >
        deliveryAmount = #{record.deliveryAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentMethod != null" >
        paymentMethod = #{record.paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.billingMethod != null" >
        billingMethod = #{record.billingMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.billingAmount != null" >
        billingAmount = #{record.billingAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.unbilledAmount != null" >
        unbilledAmount = #{record.unbilledAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlg != null" >
        delFlg = #{record.delFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update clauseSettlementDetail
    set serialNum = #{record.serialNum,jdbcType=VARCHAR},
      clauseSettlementSerial = #{record.clauseSettlementSerial,jdbcType=VARCHAR},
      paymentType = #{record.paymentType,jdbcType=VARCHAR},
      deliveryNode = #{record.deliveryNode,jdbcType=VARCHAR},
      accountPeriod = #{record.accountPeriod,jdbcType=VARCHAR},
      deliveryRate = #{record.deliveryRate,jdbcType=VARCHAR},
      deliveryAmount = #{record.deliveryAmount,jdbcType=VARCHAR},
      paymentMethod = #{record.paymentMethod,jdbcType=VARCHAR},
      billingMethod = #{record.billingMethod,jdbcType=VARCHAR},
      billingAmount = #{record.billingAmount,jdbcType=VARCHAR},
      unbilledAmount = #{record.unbilledAmount,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      delFlg = #{record.delFlg,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.ClauseSettlementDetail" >
    update clauseSettlementDetail
    <set >
      <if test="clauseSettlementSerial != null" >
        clauseSettlementSerial = #{clauseSettlementSerial,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        paymentType = #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNode != null" >
        deliveryNode = #{deliveryNode,jdbcType=VARCHAR},
      </if>
      <if test="accountPeriod != null" >
        accountPeriod = #{accountPeriod,jdbcType=VARCHAR},
      </if>
      <if test="deliveryRate != null" >
        deliveryRate = #{deliveryRate,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAmount != null" >
        deliveryAmount = #{deliveryAmount,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null" >
        paymentMethod = #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="billingMethod != null" >
        billingMethod = #{billingMethod,jdbcType=VARCHAR},
      </if>
      <if test="billingAmount != null" >
        billingAmount = #{billingAmount,jdbcType=VARCHAR},
      </if>
      <if test="unbilledAmount != null" >
        unbilledAmount = #{unbilledAmount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.ClauseSettlementDetail" >
    update clauseSettlementDetail
    set clauseSettlementSerial = #{clauseSettlementSerial,jdbcType=VARCHAR},
      paymentType = #{paymentType,jdbcType=VARCHAR},
      deliveryNode = #{deliveryNode,jdbcType=VARCHAR},
      accountPeriod = #{accountPeriod,jdbcType=VARCHAR},
      deliveryRate = #{deliveryRate,jdbcType=VARCHAR},
      deliveryAmount = #{deliveryAmount,jdbcType=VARCHAR},
      paymentMethod = #{paymentMethod,jdbcType=VARCHAR},
      billingMethod = #{billingMethod,jdbcType=VARCHAR},
      billingAmount = #{billingAmount,jdbcType=VARCHAR},
      unbilledAmount = #{unbilledAmount,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      delFlg = #{delFlg,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  
  <select id="selectDetailByClauseSettlementSerial" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from clauseSettlementDetail
    where 
    clauseSettlementSerial = #{clauseSettlementSerial,jdbcType=VARCHAR}
    and delFlg = '0'
  </select>
</mapper>