<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.ClauseSettlementMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.ClauseSettlement" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="contractSerial" property="contractSerial" jdbcType="VARCHAR" />
    <result column="payee" property="payee" jdbcType="VARCHAR" />
    <result column="payer" property="payer" jdbcType="VARCHAR" />
    <result column="materielAmount" property="materielAmount" jdbcType="VARCHAR" />
    <result column="rateAmount" property="rateAmount" jdbcType="VARCHAR" />
    <result column="rateAndAmount" property="rateAndAmount" jdbcType="VARCHAR" />
    <result column="orderAmount" property="orderAmount" jdbcType="VARCHAR" />
    <result column="otherAmount" property="otherAmount" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <collection property="clauseSettlementDetails" column="serialNum" select="com.congmai.zhgj.web.dao.ClauseSettlementDetailMapper.selectDetailByClauseSettlementSerial"/> 
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serialNum, contractSerial, payee, payer, materielAmount,
rateAmount,
rateAndAmount,
    orderAmount, otherAmount, remark, 
    status, delFlg, creator, createTime, updater, updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.ClauseSettlementExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clauseSettlement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from clauseSettlement
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from clauseSettlement
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.congmai.zhgj.web.model.ClauseSettlementExample" >
    delete from clauseSettlement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.congmai.zhgj.web.model.ClauseSettlement" >
    insert into clauseSettlement (serialNum, contractSerial, payee, 
      payer, materielAmount,
rateAmount,
rateAndAmount, orderAmount, otherAmount, 
       remark, status, 
      delFlg, creator, createTime, 
      updater, updateTime)
    values (#{serialNum,jdbcType=VARCHAR}, #{contractSerial,jdbcType=VARCHAR}, #{payee,jdbcType=VARCHAR}, 
      #{payer,jdbcType=VARCHAR},
      #{materielAmount,jdbcType=VARCHAR},
      #{rateAmount,jdbcType=VARCHAR},
      #{rateAndAmount,jdbcType=VARCHAR}, 
#{orderAmount,jdbcType=VARCHAR}, #{otherAmount,jdbcType=VARCHAR}, 
       #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{delFlg,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.ClauseSettlement" >
    insert into clauseSettlement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serialNum,
      </if>
      <if test="contractSerial != null" >
        contractSerial,
      </if>
      <if test="payee != null" >
        payee,
      </if>
      <if test="payer != null" >
        payer,
      </if>
      <if test="materielAmount != null" >
        materielAmount,
      </if>
      <if test="rateAmount != null" >
        rateAmount,
      </if>
      <if test="rateAndAmount != null" >
        rateAndAmount,
      </if>
      <if test="orderAmount != null" >
        orderAmount,
      </if>
      <if test="otherAmount != null" >
        otherAmount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="delFlg != null" >
        delFlg,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="contractSerial != null" >
        #{contractSerial,jdbcType=VARCHAR},
      </if>
      <if test="payee != null" >
        #{payee,jdbcType=VARCHAR},
      </if>
      <if test="payer != null" >
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="materielAmount != null" >
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="rateAmount != null" >
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="rateAndAmount != null" >
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=VARCHAR},
      </if>
      <if test="otherAmount != null" >
        #{otherAmount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.congmai.zhgj.web.model.ClauseSettlementExample" resultType="java.lang.Integer" >
    select count(*) from clauseSettlement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update clauseSettlement
    <set >
      <if test="record.serialNum != null" >
        serialNum = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.contractSerial != null" >
        contractSerial = #{record.contractSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.payee != null" >
        payee = #{record.payee,jdbcType=VARCHAR},
      </if>
      <if test="record.payer != null" >
        payer = #{record.payer,jdbcType=VARCHAR},
      </if>
      <if test="record.materielAmount != null" >
        materielAmount = #{record.materielAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.payer != null" >
        rateAmount = #{record.rateAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.payer != null" >
        rateAndAmount = #{record.rateAndAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.orderAmount != null" >
        orderAmount = #{record.orderAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.otherAmount != null" >
        otherAmount = #{record.otherAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlg != null" >
        delFlg = #{record.delFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update clauseSettlement
    set serialNum = #{record.serialNum,jdbcType=VARCHAR},
      contractSerial = #{record.contractSerial,jdbcType=VARCHAR},
      payee = #{record.payee,jdbcType=VARCHAR},
      payer = #{record.payer,jdbcType=VARCHAR},
      materielAmount = #{record.materielAmount,jdbcType=VARCHAR},
      rateAmount = #{record.rateAmount,jdbcType=VARCHAR},
      rateAndAmount = #{record.rateAndAmount,jdbcType=VARCHAR},
      orderAmount = #{record.orderAmount,jdbcType=VARCHAR},
      otherAmount = #{record.otherAmount,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      delFlg = #{record.delFlg,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.ClauseSettlement" >
    update clauseSettlement
    <set >
      <if test="contractSerial != null" >
        contractSerial = #{contractSerial,jdbcType=VARCHAR},
      </if>
      <if test="payee != null" >
        payee = #{payee,jdbcType=VARCHAR},
      </if>
      <if test="payer != null" >
        payer = #{payer,jdbcType=VARCHAR},
      </if>
      <if test="materielAmount != null" >
        materielAmount = #{materielAmount,jdbcType=VARCHAR},
      </if>
      <if test="rateAmount != null" >
        rateAmount = #{rateAmount,jdbcType=VARCHAR},
      </if>
      <if test="rateAndAmount != null" >
        rateAndAmount = #{rateAndAmount,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        orderAmount = #{orderAmount,jdbcType=VARCHAR},
      </if>
      <if test="otherAmount != null" >
        otherAmount = #{otherAmount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.ClauseSettlement" >
    update clauseSettlement
    set contractSerial = #{contractSerial,jdbcType=VARCHAR},
      payee = #{payee,jdbcType=VARCHAR},
      payer = #{payer,jdbcType=VARCHAR},
      materielAmount = #{materielAmount,jdbcType=VARCHAR},
      rateAmount = #{rateAmount,jdbcType=VARCHAR},
      rateAndAmount = #{rateAndAmount,jdbcType=VARCHAR},
      orderAmount = #{orderAmount,jdbcType=VARCHAR},
      otherAmount = #{otherAmount,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      delFlg = #{delFlg,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
</mapper>