<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.ClauseCheckAcceptMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.ClauseCheckAccept" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="contractSerial" property="contractSerial" jdbcType="VARCHAR" />
    <result column="checkParty" property="checkParty" jdbcType="VARCHAR" />
    <result column="acceptStandard" property="acceptStandard" jdbcType="VARCHAR" />
    <result column="specifications" property="specifications" jdbcType="VARCHAR" />
    <result column="checkType" property="checkType" jdbcType="VARCHAR" />
    <result column="technicalFile" property="technicalFile" jdbcType="VARCHAR" />
    <result column="playCheckDate" property="playCheckDate" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serialNum, contractSerial, checkParty, acceptStandard, specifications, checkType, 
    technicalFile, playCheckDate, remark, status, delFlg, creator, createTime, updater, 
    updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.ClauseCheckAcceptExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clauseCheckAccept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from clauseCheckAccept
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from clauseCheckAccept
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.congmai.zhgj.web.model.ClauseCheckAcceptExample" >
    delete from clauseCheckAccept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.congmai.zhgj.web.model.ClauseCheckAccept" >
    insert into clauseCheckAccept (serialNum, contractSerial, checkParty, 
      acceptStandard, specifications, checkType, 
      technicalFile, playCheckDate, remark, 
      status, delFlg, creator, 
      createTime, updater, updateTime
      )
    values (#{serialNum,jdbcType=VARCHAR}, #{contractSerial,jdbcType=VARCHAR}, #{checkParty,jdbcType=VARCHAR}, 
      #{acceptStandard,jdbcType=VARCHAR}, #{specifications,jdbcType=VARCHAR}, #{checkType,jdbcType=VARCHAR}, 
      #{technicalFile,jdbcType=VARCHAR}, #{playCheckDate,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{delFlg,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.ClauseCheckAccept" >
    insert into clauseCheckAccept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serialNum,
      </if>
      <if test="contractSerial != null" >
        contractSerial,
      </if>
      <if test="checkParty != null" >
        checkParty,
      </if>
      <if test="acceptStandard != null" >
        acceptStandard,
      </if>
      <if test="specifications != null" >
        specifications,
      </if>
      <if test="checkType != null" >
        checkType,
      </if>
      <if test="technicalFile != null" >
        technicalFile,
      </if>
      <if test="playCheckDate != null" >
        playCheckDate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="delFlg != null" >
        delFlg,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="contractSerial != null" >
        #{contractSerial,jdbcType=VARCHAR},
      </if>
      <if test="checkParty != null" >
        #{checkParty,jdbcType=VARCHAR},
      </if>
      <if test="acceptStandard != null" >
        #{acceptStandard,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="checkType != null" >
        #{checkType,jdbcType=VARCHAR},
      </if>
      <if test="technicalFile != null" >
        #{technicalFile,jdbcType=VARCHAR},
      </if>
      <if test="playCheckDate != null" >
        #{playCheckDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.congmai.zhgj.web.model.ClauseCheckAcceptExample" resultType="java.lang.Integer" >
    select count(*) from clauseCheckAccept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update clauseCheckAccept
    <set >
      <if test="record.serialNum != null" >
        serialNum = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.contractSerial != null" >
        contractSerial = #{record.contractSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.checkParty != null" >
        checkParty = #{record.checkParty,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptStandard != null" >
        acceptStandard = #{record.acceptStandard,jdbcType=VARCHAR},
      </if>
      <if test="record.specifications != null" >
        specifications = #{record.specifications,jdbcType=VARCHAR},
      </if>
      <if test="record.checkType != null" >
        checkType = #{record.checkType,jdbcType=VARCHAR},
      </if>
      <if test="record.technicalFile != null" >
        technicalFile = #{record.technicalFile,jdbcType=VARCHAR},
      </if>
      <if test="record.playCheckDate != null" >
        playCheckDate = #{record.playCheckDate,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlg != null" >
        delFlg = #{record.delFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update clauseCheckAccept
    set serialNum = #{record.serialNum,jdbcType=VARCHAR},
      contractSerial = #{record.contractSerial,jdbcType=VARCHAR},
      checkParty = #{record.checkParty,jdbcType=VARCHAR},
      acceptStandard = #{record.acceptStandard,jdbcType=VARCHAR},
      specifications = #{record.specifications,jdbcType=VARCHAR},
      checkType = #{record.checkType,jdbcType=VARCHAR},
      technicalFile = #{record.technicalFile,jdbcType=VARCHAR},
      playCheckDate = #{record.playCheckDate,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      delFlg = #{record.delFlg,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.ClauseCheckAccept" >
    update clauseCheckAccept
    <set >
      <if test="contractSerial != null" >
        contractSerial = #{contractSerial,jdbcType=VARCHAR},
      </if>
      <if test="checkParty != null" >
        checkParty = #{checkParty,jdbcType=VARCHAR},
      </if>
      <if test="acceptStandard != null" >
        acceptStandard = #{acceptStandard,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        specifications = #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="checkType != null" >
        checkType = #{checkType,jdbcType=VARCHAR},
      </if>
      <if test="technicalFile != null" >
        technicalFile = #{technicalFile,jdbcType=VARCHAR},
      </if>
      <if test="playCheckDate != null" >
        playCheckDate = #{playCheckDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.ClauseCheckAccept" >
    update clauseCheckAccept
    set contractSerial = #{contractSerial,jdbcType=VARCHAR},
      checkParty = #{checkParty,jdbcType=VARCHAR},
      acceptStandard = #{acceptStandard,jdbcType=VARCHAR},
      specifications = #{specifications,jdbcType=VARCHAR},
      checkType = #{checkType,jdbcType=VARCHAR},
      technicalFile = #{technicalFile,jdbcType=VARCHAR},
      playCheckDate = #{playCheckDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      delFlg = #{delFlg,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
</mapper>