<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.CompanyMapper" >
   <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.Company" >
    <result column="comId" property="comId" jdbcType="VARCHAR" />
    <result column="comNum" property="comNum" jdbcType="VARCHAR" />
    <result column="comType" property="comType" jdbcType="VARCHAR" />
    <result column="tradeType" property="tradeType" jdbcType="VARCHAR" />
    <result column="abbreviation" property="abbreviation" jdbcType="VARCHAR" />
    <result column="comName" property="comName" jdbcType="VARCHAR" />
    <result column="registeredCapital" property="registeredCapital" jdbcType="VARCHAR" />
    <result column="legalPerson" property="legalPerson" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="taxpayeNumber" property="taxpayeNumber" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="businessNature" property="businessNature" jdbcType="VARCHAR" />
    <result column="comNature" property="comNature" jdbcType="VARCHAR" />
    <result column="businessType" property="businessType" jdbcType="VARCHAR" />
    <result column="classification" property="classification" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
 	<result column="corporatePresence" property="corporatePresence" jdbcType="VARCHAR" />
    <result column="openingBank" property="openingBank" jdbcType="VARCHAR" />
    <result column="accountNumber" property="accountNumber" jdbcType="VARCHAR" />
    <result column="billRemark" property="billRemark" jdbcType="VARCHAR" />
    <result column="wmsComId" property="wmsComId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.congmai.zhgj.web.model.Company" >
    <result column="comId" property="comId" jdbcType="VARCHAR" />
    <result column="comNum" property="comNum" jdbcType="VARCHAR" />
    <result column="comType" property="comType" jdbcType="VARCHAR" />
    <result column="tradeType" property="tradeType" jdbcType="VARCHAR" />
    <result column="abbreviation" property="abbreviation" jdbcType="VARCHAR" />
    <result column="comName" property="comName" jdbcType="VARCHAR" />
    <result column="registeredCapital" property="registeredCapital" jdbcType="VARCHAR" />
    <result column="legalPerson" property="legalPerson" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="taxpayeNumber" property="taxpayeNumber" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="businessNature" property="businessNature" jdbcType="VARCHAR" />
    <result column="comNature" property="comNature" jdbcType="VARCHAR" />
    <result column="businessType" property="businessType" jdbcType="VARCHAR" />
    <result column="classification" property="classification" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
 	<result column="corporatePresence" property="corporatePresence" jdbcType="VARCHAR" />
    <result column="openingBank" property="openingBank" jdbcType="VARCHAR" />
    <result column="accountNumber" property="accountNumber" jdbcType="VARCHAR" />
    <result column="billRemark" property="billRemark" jdbcType="VARCHAR" />
    <result column="wmsComId" property="wmsComId" jdbcType="VARCHAR" />
    <collection column="comId" property="companyQualifications"  select="com.congmai.zhgj.web.dao.CompanyQualificationMapper.selectByComId"></collection>
  </resultMap>
   <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
 <sql id="Base_Column_List" >
    comId, comNum, comType,tradeType, abbreviation, comName, registeredCapital, legalPerson, address, 
    taxpayeNumber, tel, contact, businessNature, comNature, businessType, classification, remark,
    status, delFlg, creator, createTime, updater, updateTime, corporatePresence, openingBank, 
    accountNumber, billRemark,wmsComId
  </sql>
  
  <select id="selectList" resultMap="BaseResultMap2" parameterType="com.congmai.zhgj.web.model.Company" >
    select
    <include refid="Base_Column_List" />
    from company
   		where delFlg = 0
   	<if test="creator != null" >
        and creator = #{creator,jdbcType=VARCHAR}
    </if>
    <if test="comId != null" >
        and comId = #{comId,jdbcType=VARCHAR}
    </if>
    <if test="comIds != null" >
        and comId in
         <foreach item="item" index="index" collection="comIds" open="(" separator="," close=")">  
		  #{item}  
		 </foreach> 
    </if>
   	order by updateTime DESC
   	<if test="pageSize!=-1">    
     	limit #{pageIndex},#{pageSize}
    </if>
  </select>
  
   <select id="countByExample" parameterType="com.congmai.zhgj.web.model.CompanyExample" resultType="java.lang.Integer" >
    select count(*) from company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="selectCompanyByComType" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    	comId,comName,comNum
    from company
   		where delFlg = 0 
   		
   		and (comType = #{comType} 
   		<if test="comType==1||comType==2">    
     	  or comType = 9
    	</if>
    	) 
   		
   		<if test="searchKey!=null and searchKey!=''">
   		 	and comName like CONCAT('%',#{searchKey},'%')
   		</if>
   	order by updateTime DESC
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from company
    where comId = #{comId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectComNameByPrimaryKey" resultType="java.lang.String" parameterType="java.lang.String" >
    select 
     comName
    from company
    where comId = #{comId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from company
    where comId = #{comId,jdbcType=VARCHAR}
  </delete>
  
<!--   <delete id="deleteCompanyBatch"  parameterType="java.util.List" >
    delete from company
    where comId in 
    (<foreach collection="list" item="item" index="index" separator="," >  
       #{item,jdbcType=VARCHAR}
    </foreach>)  
  </delete> -->
  
  <update id="deleteCompanyBatch"  parameterType="java.util.List" >
    update company set delFlg = 1
    where comId in 
    (<foreach collection="list" item="item" index="index" separator="," >  
       #{item,jdbcType=VARCHAR}
    </foreach>)  
  </update>

    <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.Company" >
    insert into company (comId, comNum, comType,tradeType, 
      abbreviation, comName, registeredCapital, 
      legalPerson, address, taxpayeNumber, 
      tel, contact, businessNature, 
      comNature, businessType, remark, 
      classification, status, 
      creator, createTime, updater, 
      updateTime, corporatePresence, openingBank, 
      accountNumber, billRemark)
    values (#{comId,jdbcType=VARCHAR}, #{comNum,jdbcType=VARCHAR}, #{comType,jdbcType=VARCHAR}, #{tradeType,jdbcType=VARCHAR}, 
      #{abbreviation,jdbcType=VARCHAR}, #{comName,jdbcType=VARCHAR}, #{registeredCapital,jdbcType=VARCHAR}, 
      #{legalPerson,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{taxpayeNumber,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{businessNature,jdbcType=VARCHAR}, 
      #{comNature,jdbcType=VARCHAR}, #{businessType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{classification,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{corporatePresence,jdbcType=VARCHAR}, #{openingBank,jdbcType=VARCHAR}, 
      #{accountNumber,jdbcType=VARCHAR}, #{billRemark,jdbcType=VARCHAR})
  </insert>
  


 <insert id="insertSelectiveBatch"  parameterType="java.util.List"> 
   insert into company (comId, comNum, comType, tradeType,
      abbreviation, comName, registeredCapital, 
      legalPerson, address, taxpayeNumber, 
      tel, contact, businessNature, 
      comNature, businessType, classification,remark, 
      status, creator, 
      createTime, updater, updateTime
      )
    values 
    <foreach collection="list" item="item" index="index" separator="," >  
      (#{item.comId,jdbcType=VARCHAR}, #{item.comNum,jdbcType=VARCHAR}, #{item.comType,jdbcType=VARCHAR}, #{item.tradeType,jdbcType=VARCHAR}, 
      #{item.abbreviation,jdbcType=VARCHAR}, #{item.comName,jdbcType=VARCHAR}, #{item.registeredCapital,jdbcType=VARCHAR}, 
      #{item.legalPerson,jdbcType=VARCHAR}, #{item.address,jdbcType=VARCHAR}, #{item.taxpayeNumber,jdbcType=VARCHAR}, 
      #{item.tel,jdbcType=VARCHAR}, #{item.contact,jdbcType=VARCHAR}, #{item.businessNature,jdbcType=VARCHAR}, 
      #{item.comNature,jdbcType=VARCHAR}, #{item.businessType,jdbcType=VARCHAR}, #{item.classification,jdbcType=VARCHAR}, 
      #{item.remark,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR}, 
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.updater,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}) 
    </foreach>  
</insert>  
  
  <select id="countList" parameterType="com.congmai.zhgj.web.model.Company" resultType="java.lang.Integer" >
    select count(*) from company where delFlg = 0
  </select>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.Company" >
    update company
    <set >
      <if test="comNum != null" >
        comNum = #{comNum,jdbcType=VARCHAR},
      </if>
      <if test="comType != null" >
        comType = #{comType,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        tradeType = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="abbreviation != null" >
        abbreviation = #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="comName != null" >
        comName = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="registeredCapital != null" >
        registeredCapital = #{registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        legalPerson = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="taxpayeNumber != null" >
        taxpayeNumber = #{taxpayeNumber,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="businessNature != null" >
        businessNature = #{businessNature,jdbcType=VARCHAR},
      </if>
      <if test="comNature != null" >
        comNature = #{comNature,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        businessType = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="classification != null" >
        classification = #{classification,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="corporatePresence != null" >
        corporatePresence = #{corporatePresence,jdbcType=VARCHAR},
      </if>
      <if test="openingBank != null" >
        openingBank = #{openingBank,jdbcType=VARCHAR},
      </if>
      <if test="accountNumber != null" >
        accountNumber = #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="billRemark != null" >
        billRemark = #{billRemark,jdbcType=VARCHAR},
      </if>
      <if test="wmsComId != null" >
        wmsComId = #{wmsComId,jdbcType=VARCHAR},
      </if>
    </set>
    where comId = #{comId,jdbcType=VARCHAR}
  </update>
  
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.CompanyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectListByRole" resultMap="BaseResultMap2" parameterType="com.congmai.zhgj.web.model.SupplyBuyVO" >
    select
       comId, comNum, comType,tradeType, abbreviation, comName, registeredCapital, legalPerson, address, 
    taxpayeNumber, tel, contact, businessNature, comNature, businessType, classification, remark,
    status, c.delFlg, c.creator, c.createTime, c.updater, c.updateTime, corporatePresence, openingBank, 
    accountNumber, billRemark,wmsComId
    from   	supply_buy s 
     <if test="supplyId=='notnull'">    
     	   left  join  company  c  on s.supply_id = c.comId
    </if>
    <if test="buyId=='notnull'">    
     	  left  join  company  c  on s.buy_id = c.comId
    </if>
   		where c.delFlg = 0  and  s.create_id=#{createId,jdbcType=VARCHAR}
   		<if test="buyId=='notnull'">    
     	and s.buy_id is not null
    </if>
    <if test="supplyId=='notnull'">    
     	and s.supply_id is not null
    </if>
   	order by  c.updateTime DESC
   	<if test="pageSize!=-1">    
     	limit #{pageIndex},#{pageSize}
    </if>
  
  </select>
</mapper>