<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.congmai.zhgj.web.dao.CompanyContactMapper">
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.CompanyContact">
    <id column="serialNum" jdbcType="VARCHAR" property="serialNum" />
    <result column="comId" jdbcType="VARCHAR" property="comId" />
    <result column="contactName" jdbcType="VARCHAR" property="contactName" />
    <result column="contactTel" jdbcType="VARCHAR" property="contactTel" />
    <result column="contactEmail" jdbcType="VARCHAR" property="contactEmail" />
    <result column="contactTitle" jdbcType="VARCHAR" property="contactTitle" />
    <result column="contactImage" jdbcType="VARCHAR" property="contactImage" />
    <result column="delFlg" jdbcType="VARCHAR" property="delFlg" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="responsibility" property="responsibility" jdbcType="VARCHAR" />
     <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
    <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
     serialNum, comId, contactName, contactTel, wechat, contactEmail, contactTitle, department,responsibility, 
    contactImage, remark, delFlg, creator, createTime, updater, updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.CompanyContactExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from companyContact
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from companyContact
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>
  
  <update id="deleteByPrimaryKey" parameterType="java.lang.String">
    update companyContact set delFlg = 1
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  
  
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.CompanyContact">
    insert into companyContact ( serialNum, comId, contactName, contactTel, wechat, contactEmail, contactTitle, department,responsibility, 
    contactImage, remark, creator, createTime, updater, updateTime
      )
    values (#{serialNum,jdbcType=VARCHAR}, #{comId,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, 
      #{contactTel,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{contactEmail,jdbcType=VARCHAR}, 
      #{contactTitle,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR},#{responsibility,jdbcType=VARCHAR}, #{contactImage,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <select id="selectList" parameterType="com.congmai.zhgj.web.model.CompanyContact" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from companyContact where delFlg= 0 order by createTime DESC
  </select>
  
  <select id="countList" parameterType="com.congmai.zhgj.web.model.CompanyContact" resultType="java.lang.Integer">
    select count(*) from companyContact where delFlg= 0
  </select>
  
  
   <select id="selectListByCondition" parameterType="com.congmai.zhgj.web.model.CompanyContact" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from companyContact
    where 1=1 and delFlg= 0
    <if test="comId != null">
       and comId = #{comId,jdbcType=VARCHAR}
    </if>
  </select>
  

  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.CompanyContact">
    update companyContact
    <set>
      <if test="comId != null">
        comId = #{comId,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        contactName = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null">
        contactTel = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        contactEmail = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactTitle != null">
        contactTitle = #{contactTitle,jdbcType=VARCHAR},
      </if>
      <if test="contactImage != null">
        contactImage = #{contactImage,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null">
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
       <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
       <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
       <if test="responsibility != null" >
        responsibility  = #{responsibility,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
    <update id="updateByExampleSelective" parameterType="map" >
    update companyContact
    <set >
      <if test="record.serialNum != null" >
        serialNum = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.comId != null" >
        comId = #{record.comId,jdbcType=VARCHAR},
      </if>
      <if test="record.contactName != null" >
        contactName = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactTel != null" >
        contactTel = #{record.contactTel,jdbcType=VARCHAR},
      </if>
      <if test="record.wechat != null" >
        wechat = #{record.wechat,jdbcType=VARCHAR},
      </if>
      <if test="record.contactEmail != null" >
        contactEmail = #{record.contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.contactTitle != null" >
        contactTitle = #{record.contactTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.responsibility != null" >
        responsibility = #{record.responsibility,jdbcType=VARCHAR},
      </if>
      <if test="record.department != null" >
        department = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.contactImage != null" >
        contactImage = #{record.contactImage,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlg != null" >
        delFlg = #{record.delFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>