<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.CompanyMapper" >
   <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.Company" >
    <result column="comId" property="comId" jdbcType="VARCHAR" />
    <result column="comNum" property="comNum" jdbcType="VARCHAR" />
    <result column="comType" property="comType" jdbcType="VARCHAR" />
    <result column="abbreviation" property="abbreviation" jdbcType="VARCHAR" />
    <result column="comName" property="comName" jdbcType="VARCHAR" />
    <result column="registeredCapital" property="registeredCapital" jdbcType="VARCHAR" />
    <result column="legalPerson" property="legalPerson" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="taxpayeNumber" property="taxpayeNumber" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="businessNature" property="businessNature" jdbcType="VARCHAR" />
    <result column="comNature" property="comNature" jdbcType="VARCHAR" />
    <result column="businessType" property="businessType" jdbcType="VARCHAR" />
    <result column="classification" property="classification" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
 <sql id="Base_Column_List" >
    comId, comNum, comType, abbreviation, comName, registeredCapital, legalPerson, address, 
    taxpayeNumber, tel, contact, businessNature, comNature, businessType, classification, remark,
    status, delFlg, creator, createTime, updater, updateTime
  </sql>
  
  <select id="selectList" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.Company" >
    select
    <include refid="Base_Column_List" />
    from company
   		where delFlg = 0
   	order by createTime DESC
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from company
    where comId = #{comId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from company
    where comId = #{comId,jdbcType=VARCHAR}
  </delete>
  
<!--   <delete id="deleteCompanyBatch"  parameterType="java.util.List" >
    delete from company
    where comId in 
    (<foreach collection="list" item="item" index="index" separator="," >  
       #{item,jdbcType=VARCHAR}
    </foreach>)  
  </delete> -->
  
  <update id="deleteCompanyBatch"  parameterType="java.util.List" >
    update company set delFlg = 1
    where comId in 
    (<foreach collection="list" item="item" index="index" separator="," >  
       #{item,jdbcType=VARCHAR}
    </foreach>)  
  </update>
  
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.Company" >
    insert into company (comId, comNum, comType, 
      abbreviation, comName, registeredCapital, 
      legalPerson, address, taxpayeNumber, 
      tel, contact, businessNature, 
      comNature, businessType, classification,remark, 
      status, creator, 
      createTime, updater, updateTime
      )
    values (#{comId,jdbcType=VARCHAR}, #{comNum,jdbcType=VARCHAR}, #{comType,jdbcType=VARCHAR}, 
      #{abbreviation,jdbcType=VARCHAR}, #{comName,jdbcType=VARCHAR}, #{registeredCapital,jdbcType=VARCHAR}, 
      #{legalPerson,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{taxpayeNumber,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{businessNature,jdbcType=VARCHAR}, 
      #{comNature,jdbcType=VARCHAR}, #{businessType,jdbcType=VARCHAR}, #{classification,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  

  
  <select id="countList" parameterType="com.congmai.zhgj.web.model.Company" resultType="java.lang.Integer" >
    select count(*) from company where delFlg = 0
  </select>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.Company" >
    update company
     <set >
      <if test="comId != null" >
        comId = #{comId,jdbcType=VARCHAR},
      </if>
      <if test="comNum != null" >
        comNum = #{comNum,jdbcType=VARCHAR},
      </if>
      <if test="comType != null" >
        comType = #{comType,jdbcType=VARCHAR},
      </if>
      <if test="abbreviation != null" >
        abbreviation = #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="comName != null" >
        comName = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="registeredCapital != null" >
        registeredCapital = #{registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        legalPerson = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="taxpayeNumber != null" >
        taxpayeNumber = #{taxpayeNumber,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="businessNature != null" >
        businessNature = #{businessNature,jdbcType=VARCHAR},
      </if>
      <if test="comNature != null" >
        comNature = #{comNature,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        businessType = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="classification != null" >
        classification = #{classification,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where comId = #{comId,jdbcType=VARCHAR}
  </update>
</mapper>