<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.ContractMapper">
    
    <!--添加合同  -->
    <insert id="insertContract" parameterType="com.congmai.zhgj.web.model.ContractVO">
    INSERT INTO contract(serialNum,  comId,   contractNum,    contractType,  serviceModel,   settlementClause,  startDate,  endDate,   signDate,   signer,    remark, 
     electronicContract,  signContract,versionNO,status, isLatestVersion,creator,createTime,updater,updateTime,firstParty,secondParty,firstPartySigner,secondPartySigner,otherPartyContractNum,signerAddress,contractNumber) 
                VALUES(#{id},#{comId},#{contractNum},#{contractType},#{serviceModel},#{settlementClause},#{startDate},#{endDate},#{signDate},#{signer},#{remark},
     #{electronicContract},#{signContract},   '1','0',  '1',        #{creator},NOW(),#{creator},NOW(),#{firstParty},#{secondParty},#{firstPartySigner},#{secondPartySigner},#{otherPartyContractNum},#{signerAddress},#{contractNumber})
    </insert>
    
    <!--查询合同列表  -->
   <select id="queryContractList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ContractVO">
    SELECT 
    serialNum AS Id,
	contractNum,
	firstParty,
	secondParty,
	contractType,
	serviceModel,
	signDate,
	signer,
	startDate,
	endDate,
	versionNO,
	status
	FROM
	contract
	WHERE
	delFlg='0'
	AND 
	creator=#{userId}
	AND
	comId IS NULL
    </select>
    
    <!--查询销售合同列表  -->
    <select id="querySaleContractList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ContractVO">
    SELECT
	a.serialNum AS id,a.contractNum,(SELECT comName FROM company WHERE comId=b.buyComId) AS comId,
	a.contractType,COUNT(DISTINCT b.serialNum) AS orderAmount,a.signDate,a.signer,a.startDate,a.endDate,
    a.versionNO,b.status
	FROM
	contract a
	LEFT JOIN orderInfo b ON a.serialNum=b.contractSerial
	WHERE a.delFlg='0' AND b.supplyComId IS NULL AND b.delFlg='0'
	and b.status !=0
	<!-- AND a.creator=#{userId} -->
	GROUP BY(a.serialNum)
    </select>
    
     <!--查询采购合同列表  -->
    <select id="queryBuyContractList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ContractVO">
    SELECT
	a.serialNum AS id,a.contractNum,(SELECT comName FROM company WHERE comId=b.supplyComId) AS comId,a.contractType,COUNT(DISTINCT b.serialNum) AS orderAmount,a.signDate,a.signer,a.startDate,a.endDate,
	a.versionNO,b.status
	FROM
	contract a
	LEFT JOIN orderInfo b ON a.serialNum=b.contractSerial
	WHERE a.delFlg='0' AND b.buyComId IS NULL AND b.delFlg='0'
	and b.status !=0
	<!-- AND a.creator=#{userId} -->
	GROUP BY(a.serialNum)
    </select>
    
    
    <select id="queryOrderInfo" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.OrderInfo">
    SELECT
	a.serialNum,a.orderNum,a.orderType,a.orderAmount,COUNT(DISTINCT b.serialNum) AS materielAmount,(SELECT comName FROM company WHERE comId=a.buyComId) AS buyComId,(SELECT comName FROM company WHERE comId=a.supplyComId) AS supplyComId,a.maker,a.orderDate,a.status
	FROM
	orderInfo a
	LEFT JOIN orderMateriel b ON a.serialNum=b.orderSerial
	WHERE
	a.contractSerial=#{contractSerial}
	AND a.delFlg='0'
	GROUP BY (a.serialNum)
    </select>
    
    <!--删除合同  -->
    <update id="deleteUserContractS" parameterType="java.util.List">
    	UPDATE contract 
    	SET delFlg='1'
    	where serialNum in
        <foreach item="idList" collection="list" open="(" close=")" separator=",">
            #{idList}
        </foreach>
    </update>
    
    <!--查询合同对象  -->
    <select id="selectContractById" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ContractVO">
    SELECT 
    a.serialNum AS Id,
	a.contractNum,
	a.contractType,
	a.firstParty,
	a.secondParty,
	a.firstPartySigner,
	a.secondPartySigner,
	a.otherPartyContractNum,
	a.signerAddress,
	a.startDate,
	a.endDate,
	a.signDate,
	a.signer,
	a.remark,
	a.electronicContract,
	a.signContract,
	b.serialNum AS orderSerial,
	b.supplyComId,
	b.orderNum,
	a.contractNumber
	FROM
	contract a
	LEFT JOIN orderInfo b ON a.serialNum=b.contractSerial
	WHERE 
	a.serialNum=#{id}
    </select>
    
    <!--更新合同  -->
    <update id="updateContract" parameterType="com.congmai.zhgj.web.model.ContractVO">
    UPDATE
	contract
	SET
	contractNum=#{contractNum},
	contractType=#{contractType},
	startDate=#{startDate},
	endDate=#{endDate},
	signDate=#{signDate},
	signer=#{signer},
	signerAddress=#{signerAddress},
	firstParty=#{firstParty},
	secondParty=#{secondParty},
	firstPartySigner=#{firstPartySigner},
	secondPartySigner=#{secondPartySigner},
	otherPartyContractNum=#{otherPartyContractNum},
	<if test="electronicContract!=null">  
    electronicContract = #{electronicContract},  
    </if> 
    
    <if test="signContract!=null">  
    signContract = #{signContract},  
    </if> 
	
	versionNO=versionNO+1,
	remark=#{remark},
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{id}
    </update>
    
    
    <update id="signSaleContract" parameterType="com.congmai.zhgj.web.model.ContractVO">
    UPDATE
	contract
	SET
    signContract = #{signContract},  
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{id}
    </update>
    
    
    <update id="updateOrderAfterSign" parameterType="java.util.HashMap">
    UPDATE
	orderInfo
	SET
    status ='2',  
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{serialNum}
    </update>
    
    
    <!--更新合同  -->
    <update id="updateContract4order" parameterType="com.congmai.zhgj.web.model.ContractVO">
    UPDATE
	contract
	SET
	contractNum=#{contractNum},
	contractType=#{contractType},
	contractNumber=#{contractNumber},
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{id}
    </update>
    
    <select id="checkNum" parameterType="com.congmai.zhgj.web.model.ContractVO" resultType="String" >  
      select count(*) from contract where 
      contractNum = #{contractNum,jdbcType=VARCHAR}
      and delFlg = '0'
      <if test="serialNum != null" >
        and serialNum != #{serialNum,jdbcType=VARCHAR}
      </if>
      
    </select> 
  
</mapper>