<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.ContractMapper">
    
    <!--添加合同  -->
    <insert id="insertContract" parameterType="com.congmai.zhgj.web.model.ContractVO">
    INSERT INTO contract(serialNum,  comId,   contractNum,    contractType,  serviceModel,   settlementClause,  startDate,  endDate,   signDate,   signer,    remark, 
     electronicContract,  signContract,versionNO,status, isLatestVersion,creator,createTime,updater,updateTime,firstParty,secondParty,firstPartySigner,secondPartySigner,otherPartyContractNum,signerAddress,contractNumber) 
                VALUES(#{id},#{comId},#{contractNum},#{contractType},#{serviceModel},#{settlementClause},#{startDate},#{endDate},#{signDate},#{signer},#{remark},
     #{electronicContract},#{signContract},   '1','0',  '1',        #{creator},NOW(),#{creator},NOW(),#{firstParty},#{secondParty},#{firstPartySigner},#{secondPartySigner},#{otherPartyContractNum},#{signerAddress},#{contractNumber})
    </insert>
    
    <!--查询合同列表  -->
   <select id="queryContractList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ContractVO">
    SELECT 
    a.serialNum AS Id,
	a.contractNum,
	a.firstParty,
	a.secondParty,
	a.contractType,
	a.serviceModel,
	a.signDate,
	a.signer,
	a.startDate,
	a.endDate,
	a.versionNO,
	a.status
	FROM
	contract a
	LEFT JOIN orderInfo b ON a.serialNum=b.contractSerial
	WHERE
	a.delFlg='0'
<!-- 	AND 
	creator=#{userId} -->
	<!-- AND
	comId IS NULL -->
	and b.serialNum IS NULL
    </select>
    
    <!--查询销售合同列表  -->
    <select id="querySaleContractList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ContractVO">
    SELECT
	a.serialNum AS id,a.contractNum,(SELECT comName FROM company WHERE comId=b.buyComId) AS comId,
	a.contractType,COUNT(DISTINCT b.serialNum) AS orderAmount,a.signDate,a.signer,a.startDate,a.endDate,
    a.versionNO,b.status
	FROM
	contract a
	LEFT JOIN orderInfo b ON a.serialNum=b.contractSerial
	WHERE a.delFlg='0' AND ((b.supplyComId IS NULL AND b.delFlg='0'
	and b.status !=0)
	or ((a.status=3 or a.status=2) and a.contractType = '采购框架'))
	<!-- AND a.creator=#{userId} -->
	GROUP BY(a.serialNum)
    </select>
    
     <!--查询采购合同列表  -->
    <select id="queryBuyContractList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ContractVO">
    SELECT
	a.serialNum AS id,a.contractNum,(SELECT comName FROM company WHERE comId=b.supplyComId) AS comId,a.contractType,COUNT(DISTINCT b.serialNum) AS orderAmount,a.signDate,a.signer,a.startDate,a.endDate,
	a.versionNO,b.status
	FROM
	contract a
	LEFT JOIN orderInfo b ON a.serialNum=b.contractSerial
	WHERE a.delFlg='0' AND ((b.buyComId IS NULL AND b.delFlg='0'
	and b.status !=0 and b.status !=66 and b.status !=77 and b.status !=1)  <!-- 审批通过的采购订单，才生成采购合同 -->
	or ((a.status=3 or a.status=2) and a.contractType = '销售框架'))
	<!-- AND a.creator=#{userId} -->
	GROUP BY(a.serialNum)
    </select>
    
    
    <select id="queryOrderInfo" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.OrderInfo">
    SELECT
	a.serialNum,a.orderNum,a.orderType,a.orderAmount,COUNT(DISTINCT b.serialNum) AS materielAmount,(SELECT comName FROM company WHERE comId=a.buyComId) AS buyComId,(SELECT comName FROM company WHERE comId=a.supplyComId) AS supplyComId,a.maker,a.orderDate,a.status
	FROM
	orderInfo a
	LEFT JOIN orderMateriel b ON a.serialNum=b.orderSerial
	WHERE
	a.contractSerial=#{contractSerial}
	AND a.delFlg='0'
	GROUP BY (a.serialNum)
    </select>
    
    <!--删除合同  -->
    <update id="deleteUserContractS" parameterType="java.util.List">
    	UPDATE contract 
    	SET delFlg='1'
    	where serialNum in
        <foreach item="idList" collection="list" open="(" close=")" separator=",">
            #{idList}
        </foreach>
    </update>
    
    <!--查询合同对象  -->
    <select id="selectContractById" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ContractVO">
    SELECT 
    a.serialNum AS Id,
	a.contractNum,
	a.contractType,
	a.firstParty,
	a.secondParty,
	a.firstPartySigner,
	a.secondPartySigner,
	a.otherPartyContractNum,
	a.signerAddress,
	a.startDate,
	a.endDate,
	a.signDate,
	a.signer,
	a.remark,
	a.electronicContract,
	a.signContract,
	b.serialNum AS orderSerial,
	b.supplyComId,
	b.orderNum,
	a.comId,
	(SELECT comName FROM company WHERE comId=a.comId) AS comName,
	a.contractNumber
	FROM
	contract a
	LEFT JOIN orderInfo b ON a.serialNum=b.contractSerial
	WHERE 
	a.serialNum=#{id}
    </select>
    
    <!--更新合同  -->
    <update id="updateContract" parameterType="com.congmai.zhgj.web.model.ContractVO">
    UPDATE
	contract
	SET
	contractNum=#{contractNum},
	contractType=#{contractType},
	startDate=#{startDate},
	endDate=#{endDate},
	signDate=#{signDate},
	signer=#{signer},
	signerAddress=#{signerAddress},
	firstParty=#{firstParty},
	secondParty=#{secondParty},
	firstPartySigner=#{firstPartySigner},
	secondPartySigner=#{secondPartySigner},
	otherPartyContractNum=#{otherPartyContractNum},
	<if test="electronicContract!=null">  
    electronicContract = #{electronicContract},  
    </if> 
    
    <if test="signContract!=null">  
    signContract = #{signContract},  
    </if> 
	
	versionNO=versionNO+1,
	remark=#{remark},
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{id}
    </update>
    
    
    <update id="signSaleContract" parameterType="com.congmai.zhgj.web.model.ContractVO">
    UPDATE
	contract
	SET
    signContract = #{signContract},  
   <if test="contractNum != null" >
        contractNum = #{contractNum,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null" >
        contractType = #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="serviceModel != null" >
        serviceModel = #{serviceModel,jdbcType=VARCHAR},
      </if>
      <if test="settlementClause != null" >
        settlementClause = #{settlementClause,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        startDate = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        endDate = #{endDate,jdbcType=DATE},
      </if>
      <if test="signDate != null" >
        signDate = #{signDate,jdbcType=DATE},
      </if>
      <if test="firstParty != null" >
        firstParty = #{firstParty,jdbcType=VARCHAR},
      </if>
      <if test="secondParty != null" >
        secondParty = #{secondParty,jdbcType=VARCHAR},
      </if>
      <if test="firstPartySigner != null" >
        firstPartySigner = #{firstPartySigner,jdbcType=VARCHAR},
      </if>
      <if test="secondPartySigner != null" >
        secondPartySigner = #{secondPartySigner,jdbcType=VARCHAR},
      </if>
      <if test="otherPartyContractNum != null" >
        otherPartyContractNum = #{otherPartyContractNum,jdbcType=VARCHAR},
      </if>
      <if test="signer != null" >
        signer = #{signer,jdbcType=VARCHAR},
      </if>
      <if test="contractNumber != null" >
        contractNumber = #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="signerAddress != null" >
        signerAddress = #{signerAddress,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null" >
        paymentMethod = #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="paymentPeriod != null" >
        paymentPeriod = #{paymentPeriod,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{id}
    </update>
    
    
    <update id="updateOrderAfterSign" parameterType="java.util.HashMap">
    UPDATE
	orderInfo
	SET
    status ='2',  
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{serialNum}
    </update>
    
    
    <!--更新合同  -->
    <update id="updateContract4order" parameterType="com.congmai.zhgj.web.model.ContractVO">
    UPDATE
	contract
	SET
	contractNum=#{contractNum},
	contractType=#{contractType},
	contractNumber=#{contractNumber},
	electronicContract = #{electronicContract},
	signDate = #{signDate},
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{id}
    </update>
    
    <select id="checkNum" parameterType="com.congmai.zhgj.web.model.ContractVO" resultType="String" >  
      select count(*) from contract where 
      contractNum = #{contractNum,jdbcType=VARCHAR}
      and delFlg = '0'
      <if test="id != null" >
        and id != #{id,jdbcType=VARCHAR}
      </if>
      
    </select> 
    
    
    <!--查询合同列表  -->
   <select id="selectList" parameterType="com.congmai.zhgj.web.model.ContractVO" resultType="com.congmai.zhgj.web.model.ContractVO">
    SELECT 
    a.serialNum AS Id,
	a.contractNum,
	a.firstParty,
	a.secondParty,
	a.contractType,
	a.serviceModel,
	a.signDate,
	a.signer,
	a.startDate,
	a.endDate,
	a.versionNO,
	a.status,
	a.creator,
	(SELECT comName FROM company WHERE comId=a.comId) AS comId
	FROM
	contract a
	
	WHERE
	a.delFlg='0'
		<if test="contractType != null" >
        and contractType = #{contractType,jdbcType=VARCHAR}
      </if>

    </select>
  
</mapper>