<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.ContractMapper">
    
    <!--添加合同  -->
    <insert id="insertContract" parameterType="com.congmai.zhgj.web.model.ContractVO">
    INSERT INTO contract(serialNum,  comId,   contractNum,    contractType,  serviceModel,   settlementClause,  startDate,  endDate,   signDate,   signer,    remark,  electronicContract,  signContract,versionNO,status, isLatestVersion,creator,createTime,updater,updateTime) 
                VALUES(#{id},#{comId},#{contractNum},#{contractType},#{serviceModel},#{settlementClause},#{startDate},#{endDate},#{signDate},#{signer},#{remark},#{electronicContract},#{signContract},   '1','0',  '1',        #{creator},NOW(),#{creator},NOW())
    </insert>
    
    <!--查询合同列表  -->
   <select id="queryContractList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ContractVO">
    SELECT 
    serialNum AS Id,
	contractNum,
	comId,
	contractType,
	serviceModel,
	signDate,
	signer,
	startDate,
	endDate,
	versionNO,
	status
	FROM
	contract
	WHERE
	delFlg='0'
	AND 
	creator=#{userId}
    </select>
    
    <!--删除合同  -->
    <update id="deleteUserContractS" parameterType="java.util.List">
    	UPDATE contract 
    	SET delFlg='1'
    	where serialNum in
        <foreach item="idList" collection="list" open="(" close=")" separator=",">
            #{idList}
        </foreach>
    </update>
    
    <!--查询合同对象  -->
    <select id="selectContractById" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ContractVO">
    SELECT 
    serialNum AS Id,
	contractNum,
	contractType,
	serviceModel,
	comId,
	settlementClause,
	signerAddress,
	startDate,
	endDate,
	signDate,
	signer,
	remark,
	electronicContract,
	signContract
	FROM
	contract
	WHERE 
	serialNum=#{id}
    </select>
    
    <!--更新合同  -->
    <update id="updateContract" parameterType="com.congmai.zhgj.web.model.ContractVO">
    UPDATE
	contract
	SET
	contractNum=#{contractNum},
	comId=#{comId},
	contractType=#{contractType},
	<if test="serviceModel!=null">  
    serviceModel=#{serviceModel},
    </if> 
	<if test="settlementClause!=null">  
    settlementClause=#{settlementClause},
    </if> 
    <if test="signerAddress!=null">  
    signerAddress=#{signerAddress},
    </if>
	startDate=#{startDate},
	endDate=#{endDate},
	signDate=#{signDate},
	signer=#{signer},
	
	<if test="electronicContract!=null">  
    electronicContract = #{electronicContract},  
    </if> 
    
    <if test="electronicContract!=null">  
    signContract = #{signContract},  
    </if> 
	
	versionNO=versionNO+1,
	remark=#{remark},
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{id}
    </update>
</mapper>