<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.DeliveryMapper">
    
    <!--添加发货物料  -->
    <insert id="insertDeliveryMateriel" parameterType="com.congmai.zhgj.web.model.DeliveryMaterielVO">
    INSERT INTO deliveryMateriel
    (serialNum,  deliverSerial,   orderMaterielSerial, supplyMaterielSerial,
     batchNum,  manufactureDate,   deliverCount,  
     remark, creator,createTime,updater,updateTime) 
     VALUES
     (#{serialNum},#{deliverSerial},#{orderMaterielSerial},#{supplyMaterielSerial},#{batchNum},
     #{manufactureDate},#{deliverCount},#{remark},
     #{creator},NOW(),#{creator},NOW())
    </insert>
    
    <!--添加基本信息  -->
    <insert id="insertBasicInfo" parameterType="com.congmai.zhgj.web.model.DeliveryVO">
    INSERT INTO delivery
    (serialNum,orderSerial,deliverNum,deliverType,supplyComId,buyComId,shipper,receiver,maker,approval,approvalDate,warehouseSerial,deliverAddress,remark,deliverDate,
    materielCount,packageCount,packageType,packageSpecifications,materielWeight,serviceMoney,deliverer,contactNum,deliverRemark,creator,createTime,updater,updateTime,status) VALUES
    (#{serialNum},#{orderSerial},#{deliverNum},#{deliverType},#{supplyComId},#{buyComId},#{shipper},#{receiver},#{maker},#{approval},#{approvalDate},#{warehouseSerial},#{deliveryAddress},#{remark},#{deliverDate},#{materielCount},
    #{packageCount},#{packageType},#{packageSpecifications},#{materielWeight},#{serviceMoney},#{deliverer},#{contactNum},#{deliverRemark},#{creator},NOW(),#{creator},NOW(),'0')
    </insert>
    
    <!--更新基本信息  -->
    <update id="updateBasicInfo" parameterType="com.congmai.zhgj.web.model.DeliveryVO">
    UPDATE delivery SET
    orderSerial=#{orderSerial},
    deliverNum=#{deliverNum},
    <if test="buyComId != null" >
    buyComId=#{buyComId},
    </if>
    warehouseSerial=#{warehouseSerial},
    deliverAddress=#{deliveryAddress},
    status=#{status},
    shipper=#{shipper},
    receiver=#{receiver},
    maker=#{maker},
    approval=#{approval},
    approvalDate=#{approvalDate},
    remark=#{remark},
    deliverDate=#{deliverDate},
    materielCount=#{materielCount},
    packageCount=#{packageCount},
    packageType=#{packageType},
    packageSpecifications=#{packageSpecifications},
    materielWeight=#{materielWeight},
    serviceMoney=#{serviceMoney},
    deliverer=#{deliverer},
    contactNum=#{contactNum},
    deliverRemark=#{deliverRemark},
    reason=#{reason},
	processInstanceId=#{processInstanceId},
	userId=#{userId},
    updater=#{updater},
    updateTime=NOW()
    WHERE
    serialNum=#{serialNum}
    </update>
    
    
    <!--添加基本信息第二部分  -->
    <insert id="insertBasicInfoPartII" parameterType="com.congmai.zhgj.web.model.DeliveryTransportVO">
    INSERT INTO deliveryTransport
    (serialNum,deliverSerial,transportType,transport,port,shipNumber,playArrivalDate,playWarehouseDate,remark,creator,createTime,updater,updateTime,contact,contactNum) VALUES
    (#{serialNum},#{deliverSerial},#{transportType},#{transport},#{port},#{shipNumber},#{playArrivalDate},#{playWarehouseDate},#{transportRemark},
    #{creator},NOW(),#{creator},NOW(),#{transportContact},#{transportContactNum})
    </insert>
    
    
    <!--更新基本信息第二部分  -->
    <update id="updateBasicInfoPartII" parameterType="com.congmai.zhgj.web.model.DeliveryTransportVO">
    UPDATE deliveryTransport SET
    transportType=#{transportType},
    transport=#{transport},
    port=#{port},
    shipNumber=#{shipNumber},
    playArrivalDate=#{playArrivalDate},
    playWarehouseDate=#{playWarehouseDate},
    remark=#{transportRemark},
    contact=#{transportContact},
    contactNum=#{transportContactNum},
    updater=#{updater},
    updateTime=NOW()
    WHERE
    serialNum=#{serialNum}    
    </update>
    
    <!--添加基本信息第三部分  -->
    <insert id="insertBasicInfoPartIII" parameterType="com.congmai.zhgj.web.model.TakeDeliveryVO">
    INSERT INTO takeDelivery
    (serialNum,deliverSerial,warehouseSerial,takeDeliverAddress,takeDeliverDate,receiver,contactNum,remark,status,creator,createTime,updater,updateTime) VALUES
    (#{serialNum},#{deliverSerial},#{takeDeliveryWarehouseSerial},#{takeAddress},#{takeDeliverDate},#{takeDeliveryReceiver},#{takeDeliveryContactNum},#{takeDeliveryRemark},'0',#{creator},NOW(),#{creator},NOW())
    </insert>
    
    <!--更新基本信息第三部分  -->
    <update id="updateBasicInfoPartIII" parameterType="com.congmai.zhgj.web.model.TakeDeliveryVO">
    UPDATE takeDelivery SET
    warehouseSerial=#{takeDeliveryWarehouseSerial},
    takeDeliverAddress=#{takeAddress},
    takeDeliverDate=#{takeDeliverDate},
    receiver=#{takeDeliveryReceiver},
    contactNum=#{takeDeliveryContactNum},
    remark=#{takeDeliveryRemark},
    updater=#{updater},
    updateTime=NOW()
    WHERE
    serialNum=#{serialNum}  
    </update>
    
    <!--查询订单物料集合  -->
    <select id="selectByExample" resultType="com.congmai.zhgj.web.model.DeliveryMaterielVO" parameterType="java.lang.String">
    SELECT
	b.materielName,b.materielNum,b.specifications,b.unit,a.amount,a.serialNum AS orderMaterielSerialNum,b.manufactureDate
	FROM
	orderMateriel a
	LEFT JOIN materiel b ON a.materielSerial=b.serialNum
	WHERE orderSerial=#{serialNum}
    </select>
    
    <!--查询详情物料集合  -->
    <select id="selectListForDetail" resultType="com.congmai.zhgj.web.model.DeliveryMaterielVO" parameterType="java.lang.String">
    SELECT
	a.serialNum,a.supplyMaterielSerial,a.orderMaterielSerial,c.materielNum,c.materielName,c.specifications,c.unit,a.batchNum,a.manufactureDate,b.amount,a.deliverCount,a.remark,
	a.stockCount,a.unstockCount,d.warehouseName,e.positionName,a.stockRemark,a.qualifiedCount,a.unqualifiedCount,a.checkRemark,
	a.acceptCount,a.refuseCount,a.takeRemark,f.status
	FROM
	deliveryMateriel a
	LEFT JOIN orderMateriel b ON a.orderMaterielSerial=b.serialNum
	LEFT JOIN materiel c ON b.materielSerial=c.serialNum
	LEFT JOIN warehouse d ON a.warehouseSerial=d.serialNum
	LEFT JOIN warehousePosition e ON a.positionSerial=e.serialNum
	LEFT JOIN delivery f ON a.deliverSerial=f.serialNum
	WHERE a.deliverSerial=#{serialNum}
    </select>
    
    <!--查询详情物料集合  -->
    <select id="selectListForDetail2" resultType="com.congmai.zhgj.web.model.DeliveryMaterielVO" parameterType="java.lang.String">
    SELECT
	a.serialNum,a.supplyMaterielSerial,a.orderMaterielSerial,c.materielNum,c.materielName,c.specifications,c.unit,a.batchNum,a.manufactureDate,a.deliverCount,a.remark,
	a.stockCount,a.unstockCount,d.warehouseName,e.positionName,a.stockRemark,a.qualifiedCount,a.unqualifiedCount,a.checkRemark,
	a.acceptCount,a.refuseCount,a.takeRemark,f.status
	FROM
	deliveryMateriel a
	LEFT JOIN supplyMateriel g ON a.supplyMaterielSerial=g.serialNum
	LEFT JOIN materiel c ON g.materielId=c.materielId AND c.isLatestVersion='1'
	LEFT JOIN warehouse d ON a.warehouseSerial=d.serialNum
	LEFT JOIN warehousePosition e ON a.positionSerial=e.serialNum
	LEFT JOIN delivery f ON a.deliverSerial=f.serialNum
	WHERE a.deliverSerial=#{serialNum}
    </select>
    
    <!--查询详情  -->
    <select id="selectDetailById" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.DeliveryVO">
    SELECT
	a.serialNum,a.deliverNum,a.deliverType,f.orderNum,a.supplyComId,a.shipper,a.receiver,a.maker,a.makeDate,a.approval,a.approvalDate,a.warehouseSerial,a.orderSerial,c.warehouseSerial AS takeWarehouseSerial,
	a.remark,d.warehouseName deliveryWarehouseName,a.deliverAddress deliveryAddress,a.deliverDate,a.materielCount,a.packageCount,a.packageType,a.packageSpecifications,
	a.materielWeight,a.serviceMoney,a.deliverer,a.contactNum,a.deliverRemark,a.status,
	b.serialNum AS transportserialNum,b.transportType,b.transport,b.port,b.shipNumber,b.playArrivalDate,b.playWarehouseDate,
	b.contact transportContact,b.contactNum transportContactNum,b.remark transportRemark,
	e.serialNum takeWarehouseSerial,e.warehouseName takeWarehouseName,c.takeDeliverAddress takeAddress,c.takeDeliverDate,c.receiver takeDeliveryReceiver,
	c.contactNum takeDeliveryContactNum,c.remark takeDeliveryRemark,c.serialNum AS takeDeliverSerialNum,a.reason,a.processInstanceId,a.userId
	FROM delivery a
	LEFT JOIN deliveryTransport b ON b.deliverSerial=a.serialNum
	LEFT JOIN warehouse d ON a.warehouseSerial=d.serialNum AND d.delFlg='0'
	LEFT JOIN takeDelivery c ON c.deliverSerial=a.serialNum
	LEFT JOIN warehouse e ON c.warehouseSerial=e.serialNum AND e.delFlg='0'
	LEFT JOIN orderInfo f ON a.orderSerial=f.serialNum 
	WHERE a.serialNum=#{id}
    </select>
    
    <!--查询详情  -->
    <select id="selectDetailById2" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.DeliveryVO">
    SELECT
	a.serialNum,a.deliverNum,a.deliverType,a.orderSerial AS orderNum,a.supplyComId,a.shipper,a.receiver,a.maker,a.makeDate,a.approval,a.approvalDate,a.warehouseSerial,a.orderSerial,c.warehouseSerial AS takeWarehouseSerial,
	a.remark,d.warehouseName deliveryWarehouseName,a.deliverAddress deliveryAddress,a.deliverDate,a.materielCount,a.packageCount,a.packageType,a.packageSpecifications,
	a.materielWeight,a.serviceMoney,a.deliverer,a.contactNum,a.deliverRemark,a.status,
	b.serialNum AS transportserialNum,b.transportType,b.transport,b.port,b.shipNumber,b.playArrivalDate,b.playWarehouseDate,
	b.contact transportContact,b.contactNum transportContactNum,b.remark transportRemark,
	e.serialNum takeWarehouseSerial,e.warehouseName takeWarehouseName,c.takeDeliverAddress takeAddress,c.takeDeliverDate,c.receiver takeDeliveryReceiver,
	c.contactNum takeDeliveryContactNum,c.remark takeDeliveryRemark,c.serialNum AS takeDeliverSerialNum,a.reason,a.processInstanceId,a.userId
	FROM delivery a
	LEFT JOIN deliveryTransport b ON b.deliverSerial=a.serialNum
	LEFT JOIN warehouse d ON a.warehouseSerial=d.serialNum AND d.delFlg='0'
	LEFT JOIN takeDelivery c ON c.deliverSerial=a.serialNum
	LEFT JOIN warehouse e ON c.warehouseSerial=e.serialNum AND e.delFlg='0'
	WHERE a.serialNum=#{id}
    </select>
    
    <!--查询发货列表  -->
   <select id="findAllDeliveryList" parameterType="com.congmai.zhgj.web.model.DeliveryVO" resultType="com.congmai.zhgj.web.model.DeliveryVO">
   SELECT
	a.serialNum,a.deliverNum,a.orderSerial,b.orderNum,COUNT(DISTINCT c.serialNum) AS materielCount,a.packageCount,
	a.receiver,(SELECT address FROM warehouse WHERE serialNum=a.warehouseSerial) AS deliveryAddress,a.status,
	(SELECT address FROM warehouse WHERE serialNum=d.warehouseSerial) AS takeAddress,a.deliverDate,
	e.transportType,a.remark,com.comName AS supplyName,com1.comName AS buyName
	FROM delivery a 
	LEFT JOIN orderInfo b ON a.orderSerial=b.serialNum
	LEFT JOIN deliveryMateriel c ON a.serialNum=c.deliverSerial
	LEFT JOIN takeDelivery d ON a.serialNum=d.deliverSerial 
	LEFT JOIN deliveryTransport e ON e.deliverSerial=a.serialNum
	LEFT JOIN  company   com  ON  com.comId=a.supplyComId
	LEFT JOIN  company   com1  ON  com1.comId=a.buyComId
	WHERE a.delFlg='0' 
	
	<if test="supplyComIds== null" >
       AND a.creator=#{creator}
    </if>
	
	<if test="supplyComIds != null" >
        and a.supplyComId in
         <foreach item="item" index="index" collection="supplyComIds" open="(" separator="," close=")">  
		  #{item}  
		 </foreach> 
    </if>
	GROUP BY(a.serialNum)
	ORDER BY a.createTime DESC
    </select>
    
    <!--删除发货  -->
    <update id="deleteDeliveryS" parameterType="java.util.List">
    	UPDATE delivery 
    	SET delFlg='1'
    	where serialNum in
        <foreach item="idList" collection="list" open="(" close=")" separator=",">
            #{idList}
        </foreach>
    </update>
    
    <!--批量获取物料信息  -->
    <select id="batchGetMaterielInfo" parameterType="java.util.List" resultType="com.congmai.zhgj.web.model.Materiel">
    SELECT
	a.serialNum AS supplyMaterielSerial,b.materielNum,b.materielName,b.specifications,b.unit
	FROM
	supplyMateriel a
	LEFT JOIN materiel b ON a.materielId=b.materielId
	WHERE b.isLatestVersion='1' AND a.serialNum IN
    <foreach item="idList" collection="list" open="(" close=")" separator=",">
            #{idList}
        </foreach>
    </select>
    <!--查询发货物料对象  -->
    <select id="selectDeliveryMaterielById" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.DeliveryMaterielVO">
    SELECT 
	a.serialNum,
	a.orderMaterielSerial,
	a.batchNum,
	a.deliverCount,
	a.remark,
	b.amount,
	c.materielName,
	c.materielNum,
	c.specifications,
	c.unit,
	a.manufactureDate
	FROM
	deliveryMateriel a
	LEFT JOIN orderMateriel b ON a.orderMaterielSerial=b.serialNum
	LEFT JOIN materiel c ON b.materielSerial=c.serialNum
	WHERE 
	a.serialNum=#{id}
    </select>
    
     <!--查询发货物料对象  -->
    <select id="selectDeliveryMaterielById2" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.DeliveryMaterielVO">
    SELECT
	c.materielNum,c.materielName,c.specifications,c.unit,a.batchNum,a.manufactureDate,a.deliverCount,a.remark
	FROM
	deliveryMateriel a 
	LEFT JOIN supplyMateriel b ON a.supplyMaterielSerial=b.serialNum
	LEFT JOIN materiel c ON b.materielId=c.materielId AND c.isLatestVersion='1'
	WHERE a.serialNum=#{id}
    </select>
    <!--查询仓库地址  -->
    <select id="queryAddressById" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.Warehouse">
    SELECT
	address
	FROM
	warehouse
	WHERE
	serialNum=#{serialNum}
    </select>
    
    <!--更新发货物料-->
    <update id="updateDeliveryMateriel" parameterType="com.congmai.zhgj.web.model.DeliveryMaterielVO">
    UPDATE
	deliveryMateriel
	SET
	batchNum=#{batchNum},
	manufactureDate=#{manufactureDate},
	deliverCount=#{deliverCount},
	remark=#{remark},
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{serialNum}
    </update>
    
    
    <!--删除旧的物料  -->
    <delete id="deleteOldDeliveryMateriel" parameterType="java.util.List">
    DELETE FROM deliveryMateriel WHERE serialNum in
    <foreach item="idList" collection="list" open="(" close=")" separator=",">
        #{idList}
    </foreach>
    </delete>
    
    
    <!--删除旧的物料  -->
    <delete id="deleteOldDeliveryMateriel2" parameterType="java.lang.String">
    DELETE FROM deliveryMateriel WHERE deliverSerial=#{deliverSerial}
    </delete>
    
    
    <!--查询物料归属订单  -->
    <select id="selectOrderId" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
	b.serialNum
	FROM orderMateriel a LEFT JOIN orderInfo b ON a.orderSerial=b.serialNum
	WHERE a.serialNum=#{orderMaterielSerial}
    </select>
    
    <!--查询需要删除的物料  -->
    <select id="queryDeliveryMaterielDelete" parameterType="java.util.HashMap" resultType="java.lang.String">
    SELECT 
	a.serialNum
	FROM
	deliveryMateriel a
	LEFT JOIN orderMateriel b ON a.orderMaterielSerial=b.serialNum
	LEFT JOIN orderInfo c ON b.orderSerial=c.serialNum
	WHERE a.deliverSerial=#{deliverySerial} AND c.serialNum!=#{orderSerial}
    </select>
    
    <!--确认发货  -->
    <update id="goDelivery" parameterType="java.util.HashMap">
    UPDATE delivery SET status='3',updater=#{updater},updateTime=NOW() WHERE serialNum=#{serialNum}
    </update>
    
    
    <update id="updateOrderWhenDeliveryComlete" parameterType="java.util.HashMap">
    UPDATE orderInfo SET deliverStatus='1',updater=#{updater},updateTime=NOW() WHERE serialNum=#{orderSerial}
    </update>
  <!--查询详情物料集合  -->
    <select id="selectListForDetailForStockCheck" resultType="com.congmai.zhgj.web.model.DeliveryMaterielVO" parameterType="java.util.HashMap">
    SELECT
	a.serialNum,c.materielNum,c.materielName,c.specifications,c.unit,a.batchNum,a.manufactureDate,b.amount,a.deliverCount,a.remark,
	a.stockCount,a.unstockCount,d.warehouseName,e.positionName,a.stockRemark,a.qualifiedCount,a.unqualifiedCount,a.checkRemark,
	b.orderSerial,
	a.acceptCount,a.refuseCount,a.takeRemark
	<if test="null!=#{deliverSerial}">
	,f.status
	</if>
	<if test="null!=#{takeDeliverSerial}">
	,td.status
	</if>
	FROM
	deliveryMateriel a
	LEFT JOIN orderMateriel b ON a.orderMaterielSerial=b.serialNum
	LEFT JOIN materiel c ON b.materielSerial=c.serialNum
	LEFT JOIN warehouse d ON a.warehouseSerial=d.serialNum
	LEFT JOIN warehousePosition e ON a.positionSerial=e.serialNum
	<if test="null!=#{deliverSerial}">
	LEFT JOIN delivery f ON a.deliverSerial=f.serialNum
	</if>
	<if test="null!=#{takeDeliverSerial}">
	LEFT JOIN takeDelivery td ON a.deliverSerial=td.serialNum
	</if>
	WHERE a.deliverSerial=#{serialNum}
    </select>
    
    <select id="selectCompanyInfo" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.Company">
    SELECT comName,comId,comType FROM company WHERE comId=#{comId}
    </select>
    
    
    <!--批量添加附件  -->
    <insert id="insertAttachFiles" parameterType="java.util.List">
    insert into relationFile (serialNum,relationSerial,isReadable,fileType,fileDescribe,file,uploader,uploadDate,delFlg,creator,createTime,updater,updateTime)
    values
    <foreach collection="list" item="item" index="index" separator=",">
        (#{item.serialNum}, #{item.relationSerial},'0',#{item.fileType}
        ,#{item.fileDescribe},#{item.file},#{item.uploader},NOW()
        ,'0',#{item.creator},NOW(),#{item.updater},NOW())
    </foreach>
    </insert>
    
    
    <select id="getAttachFileInfo" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.RelationFile">
    SELECT file,fileDescribe AS remark,uploader,uploadDate FROM relationFile WHERE relationSerial=#{serialNum}
    </select>
    </mapper>
