<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.DemandPlanMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.DemandPlan" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="buyComId" property="buyComId" jdbcType="VARCHAR" />
    <result column="demandPlanNum" property="demandPlanNum" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="customerPrincipal" property="customerPrincipal" jdbcType="VARCHAR" />
    <result column="customerPlanNum" property="customerPlanNum" jdbcType="VARCHAR" />
    <result column="maker" property="maker" jdbcType="VARCHAR" />
    <result column="releaseDate" property="releaseDate" jdbcType="DATE" />
    <result column="updateDate" property="updateDate" jdbcType="DATE" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="status" property="status"  jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <association property="buyComName" column="buyComId" select="com.congmai.zhgj.web.dao.CompanyMapper.selectComNameByPrimaryKey" ></association>
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
   serialNum, demandPlanNum, buyComId, source, customerPrincipal, customerPlanNum, releaseDate, 
    maker, description, updateDate, remark, delFlg, creator, createTime, updater, updateTime,status
  </sql>
  <sql id="Base_Column_List2" >
    d.serialNum, d.buyComId, d.source, d.customerPrincipal, d.customerPlanNum, d.demandPlanNum, d.maker, d.releaseDate,d.description, d.updateDate, d.remark, d.delFlg, d.creator, d.createTime, 
    d.updater, d.updateTime,d.status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.DemandPlanSelectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List2" />
    from demandPlan d
    left join company c on c.comId = d.buyComId
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="start !=0 or limit!=0">    
     limit #{start},#{limit}</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from demandPlan
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from demandPlan
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.congmai.zhgj.web.model.DemandPlanExample" >
    delete from demandPlan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
<insert id="insert" parameterType="com.congmai.zhgj.web.model.DemandPlan" >
    insert into demandPlan (serialNum, demandPlanNum, buyComId, 
      source, customerPrincipal, customerPlanNum, 
      releaseDate, maker, description, 
      updateDate, remark, delFlg, 
      creator, createTime, updater, 
      updateTime,status)
    values (#{serialNum,jdbcType=VARCHAR}, #{demandPlanNum,jdbcType=VARCHAR}, #{buyComId,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{customerPrincipal,jdbcType=VARCHAR}, #{customerPlanNum,jdbcType=VARCHAR}, 
      #{releaseDate,jdbcType=DATE}, #{maker,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, #{delFlg,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP},#{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.DemandPlan" >
    insert into demandPlan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serialNum,
      </if>
      <if test="demandPlanNum != null" >
        demandPlanNum,
      </if>
      <if test="buyComId != null" >
        buyComId,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="customerPrincipal != null" >
        customerPrincipal,
      </if>
      <if test="customerPlanNum != null" >
        customerPlanNum,
      </if>
      <if test="releaseDate != null" >
        releaseDate,
      </if>
      <if test="maker != null" >
        maker,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="updateDate != null" >
        updateDate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="delFlg != null" >
        delFlg,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="demandPlanNum != null" >
        #{demandPlanNum,jdbcType=VARCHAR},
      </if>
      <if test="buyComId != null" >
        #{buyComId,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="customerPrincipal != null" >
        #{customerPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="customerPlanNum != null" >
        #{customerPlanNum,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null" >
        #{releaseDate,jdbcType=DATE},
      </if>
      <if test="maker != null" >
        #{maker,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status!= null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.congmai.zhgj.web.model.DemandPlanSelectExample" resultType="java.lang.Integer" >
    select count(*) from demandPlan d
    left join company c on c.comId = d.buyComId
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
 <update id="updateByExampleSelective" parameterType="map" >
    update demandPlan
    <set >
      <if test="record.serialNum != null" >
        serialNum = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.demandPlanNum != null" >
        demandPlanNum = #{record.demandPlanNum,jdbcType=VARCHAR},
      </if>
      <if test="record.buyComId != null" >
        buyComId = #{record.buyComId,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.customerPrincipal != null" >
        customerPrincipal = #{record.customerPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="record.customerPlanNum != null" >
        customerPlanNum = #{record.customerPlanNum,jdbcType=VARCHAR},
      </if>
      <if test="record.releaseDate != null" >
        releaseDate = #{record.releaseDate,jdbcType=DATE},
      </if>
      <if test="record.maker != null" >
        maker = #{record.maker,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        updateDate = #{record.updateDate,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlg != null" >
        delFlg = #{record.delFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
       <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update demandPlan
    set serialNum = #{record.serialNum,jdbcType=VARCHAR},
      demandPlanNum = #{record.demandPlanNum,jdbcType=VARCHAR},
      buyComId = #{record.buyComId,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR},
      customerPrincipal = #{record.customerPrincipal,jdbcType=VARCHAR},
      customerPlanNum = #{record.customerPlanNum,jdbcType=VARCHAR},
      releaseDate = #{record.releaseDate,jdbcType=DATE},
      maker = #{record.maker,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      updateDate = #{record.updateDate,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR},
      delFlg = #{record.delFlg,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      status= #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.DemandPlan" >
    update demandPlan
    <set >
      <if test="demandPlanNum != null" >
        demandPlanNum = #{demandPlanNum,jdbcType=VARCHAR},
      </if>
      <if test="buyComId != null" >
        buyComId = #{buyComId,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="customerPrincipal != null" >
        customerPrincipal = #{customerPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="customerPlanNum != null" >
        customerPlanNum = #{customerPlanNum,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null" >
        releaseDate = #{releaseDate,jdbcType=DATE},
      </if>
      <if test="maker != null" >
        maker = #{maker,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        updateDate = #{updateDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.DemandPlan" >
    update demandPlan
    set demandPlanNum = #{demandPlanNum,jdbcType=VARCHAR},
      buyComId = #{buyComId,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      customerPrincipal = #{customerPrincipal,jdbcType=VARCHAR},
      customerPlanNum = #{customerPlanNum,jdbcType=VARCHAR},
      releaseDate = #{releaseDate,jdbcType=DATE},
      maker = #{maker,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      updateDate = #{updateDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      delFlg = #{delFlg,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
</mapper>