<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.DemandMaterielMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.DemandMateriel" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="procurementPlanSerial" property="procurementPlanSerial" jdbcType="VARCHAR" />
    <result column="materielSerial" property="materielSerial" jdbcType="VARCHAR" />
    <result column="supplyMaterielSerial" property="supplyMaterielSerial" jdbcType="VARCHAR" />
    <result column="planCount" property="planCount" jdbcType="VARCHAR" />
    <result column="completeCount" property="completeCount" jdbcType="VARCHAR" />
    <result column="deliveryDate" property="deliveryDate" jdbcType="DATE" />
    <result column="deliveryAddress" property="deliveryAddress" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <association property="materiel" column="materielSerial" select="com.congmai.zhgj.web.dao.MaterielMapper.selectByPrimaryKey"/>
     <association property="stockCount" column="materielSerial" select="com.congmai.zhgj.web.dao.StockInOutRecordMapper.getMaterielZiJianStock"/>
    <collection property="supplyMateriels" column="materielSerial" select="com.congmai.zhgj.web.dao.SupplyMaterielMapper.selectSupplyMaterielByMaterielSerial"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serialNum, procurementPlanSerial, materielSerial, supplyMaterielSerial, planCount, 
    completeCount, deliveryDate, deliveryAddress, status, sort, delFlg, creator, createTime, 
    updater, updateTime, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.DemandMaterielExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from demandmateriel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from demandmateriel
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from demandmateriel
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.congmai.zhgj.web.model.DemandMaterielExample" >
    delete from demandmateriel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.congmai.zhgj.web.model.DemandMateriel" >
    insert into demandmateriel (serialNum, procurementPlanSerial, 
      materielSerial, supplyMaterielSerial, planCount, 
      completeCount, deliveryDate, deliveryAddress, 
      status, sort, delFlg, 
      creator, createTime, updater, 
      updateTime, remark)
    values (#{serialNum,jdbcType=VARCHAR}, #{procurementPlanSerial,jdbcType=VARCHAR}, 
      #{materielSerial,jdbcType=VARCHAR}, #{supplyMaterielSerial,jdbcType=VARCHAR}, #{planCount,jdbcType=VARCHAR}, 
      #{completeCount,jdbcType=VARCHAR}, #{deliveryDate,jdbcType=DATE}, #{deliveryAddress,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{delFlg,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.DemandMateriel" >
    insert into demandmateriel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serialNum,
      </if>
      <if test="procurementPlanSerial != null" >
        procurementPlanSerial,
      </if>
      <if test="materielSerial != null" >
        materielSerial,
      </if>
      <if test="supplyMaterielSerial != null" >
        supplyMaterielSerial,
      </if>
      <if test="planCount != null" >
        planCount,
      </if>
      <if test="completeCount != null" >
        completeCount,
      </if>
      <if test="deliveryDate != null" >
        deliveryDate,
      </if>
      <if test="deliveryAddress != null" >
        deliveryAddress,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlg != null" >
        delFlg,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="procurementPlanSerial != null" >
        #{procurementPlanSerial,jdbcType=VARCHAR},
      </if>
      <if test="materielSerial != null" >
        #{materielSerial,jdbcType=VARCHAR},
      </if>
      <if test="supplyMaterielSerial != null" >
        #{supplyMaterielSerial,jdbcType=VARCHAR},
      </if>
      <if test="planCount != null" >
        #{planCount,jdbcType=VARCHAR},
      </if>
      <if test="completeCount != null" >
        #{completeCount,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null" >
        #{deliveryDate,jdbcType=DATE},
      </if>
      <if test="deliveryAddress != null" >
        #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.congmai.zhgj.web.model.DemandMaterielExample" resultType="java.lang.Integer" >
    select count(*) from demandmateriel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update demandmateriel
    <set >
      <if test="record.serialNum != null" >
        serialNum = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.procurementPlanSerial != null" >
        procurementPlanSerial = #{record.procurementPlanSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.materielSerial != null" >
        materielSerial = #{record.materielSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.supplyMaterielSerial != null" >
        supplyMaterielSerial = #{record.supplyMaterielSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.planCount != null" >
        planCount = #{record.planCount,jdbcType=VARCHAR},
      </if>
      <if test="record.completeCount != null" >
        completeCount = #{record.completeCount,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryDate != null" >
        deliveryDate = #{record.deliveryDate,jdbcType=DATE},
      </if>
      <if test="record.deliveryAddress != null" >
        deliveryAddress = #{record.deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.delFlg != null" >
        delFlg = #{record.delFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update demandmateriel
    set serialNum = #{record.serialNum,jdbcType=VARCHAR},
      procurementPlanSerial = #{record.procurementPlanSerial,jdbcType=VARCHAR},
      materielSerial = #{record.materielSerial,jdbcType=VARCHAR},
      supplyMaterielSerial = #{record.supplyMaterielSerial,jdbcType=VARCHAR},
      planCount = #{record.planCount,jdbcType=VARCHAR},
      completeCount = #{record.completeCount,jdbcType=VARCHAR},
      deliveryDate = #{record.deliveryDate,jdbcType=DATE},
      deliveryAddress = #{record.deliveryAddress,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      delFlg = #{record.delFlg,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.DemandMateriel" >
    update demandmateriel
    <set >
      <if test="procurementPlanSerial != null" >
        procurementPlanSerial = #{procurementPlanSerial,jdbcType=VARCHAR},
      </if>
      <if test="materielSerial != null" >
        materielSerial = #{materielSerial,jdbcType=VARCHAR},
      </if>
      <if test="supplyMaterielSerial != null" >
        supplyMaterielSerial = #{supplyMaterielSerial,jdbcType=VARCHAR},
      </if>
      <if test="planCount != null" >
        planCount = #{planCount,jdbcType=VARCHAR},
      </if>
      <if test="completeCount != null" >
        completeCount = #{completeCount,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null" >
        deliveryDate = #{deliveryDate,jdbcType=DATE},
      </if>
      <if test="deliveryAddress != null" >
        deliveryAddress = #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null" >
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.DemandMateriel" >
    update demandmateriel
    set procurementPlanSerial = #{procurementPlanSerial,jdbcType=VARCHAR},
      materielSerial = #{materielSerial,jdbcType=VARCHAR},
      supplyMaterielSerial = #{supplyMaterielSerial,jdbcType=VARCHAR},
      planCount = #{planCount,jdbcType=VARCHAR},
      completeCount = #{completeCount,jdbcType=VARCHAR},
      deliveryDate = #{deliveryDate,jdbcType=DATE},
      deliveryAddress = #{deliveryAddress,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      delFlg = #{delFlg,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <!--根据采购计划物料流水查物料名称  -->
  <select id="selectMaterielNameByProcurementPlanSerial"   parameterType="java.lang.String"  resultType="java.lang.String">
  select  GROUP_CONCAT(m.materielName  separator  '、' ) from demandMateriel dm
  left join materiel  m on m.serialNum=dm.materielSerial
  where dm.procurementPlanSerial=#{serialNum,jdbcType=VARCHAR} and  dm.delFlg='0'
  </select>
  
</mapper>