<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.InvoiceBillingRecordMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.InvoiceBillingRecord" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="invoiceSerial" property="invoiceSerial" jdbcType="VARCHAR" />
    <result column="orderMaterielSerial" property="orderMaterielSerial" jdbcType="VARCHAR" />
    <result column="billCount" property="billCount" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serialNum, invoiceSerial, orderMaterielSerial, billCount, delFlg, creator, createTime, 
    updater, updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.InvoiceBillingRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from invoiceBillingRecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from invoiceBillingRecord
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from invoiceBillingRecord
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.congmai.zhgj.web.model.InvoiceBillingRecordExample" >
    delete from invoiceBillingRecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.congmai.zhgj.web.model.InvoiceBillingRecord" >
    insert into invoiceBillingRecord (serialNum, invoiceSerial, orderMaterielSerial, 
      billCount, delFlg, creator, 
      createTime, updater, updateTime
      )
    values (#{serialNum,jdbcType=VARCHAR}, #{invoiceSerial,jdbcType=VARCHAR}, #{orderMaterielSerial,jdbcType=VARCHAR}, 
      #{billCount,jdbcType=VARCHAR}, #{delFlg,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.InvoiceBillingRecord" >
    insert into invoiceBillingRecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serialNum,
      </if>
      <if test="invoiceSerial != null" >
        invoiceSerial,
      </if>
      <if test="orderMaterielSerial != null" >
        orderMaterielSerial,
      </if>
      <if test="billCount != null" >
        billCount,
      </if>
      <if test="delFlg != null" >
        delFlg,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="invoiceSerial != null" >
        #{invoiceSerial,jdbcType=VARCHAR},
      </if>
      <if test="orderMaterielSerial != null" >
        #{orderMaterielSerial,jdbcType=VARCHAR},
      </if>
      <if test="billCount != null" >
        #{billCount,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.congmai.zhgj.web.model.InvoiceBillingRecordExample" resultType="java.lang.Integer" >
    select count(*) from invoiceBillingRecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update invoiceBillingRecord
    <set >
      <if test="record.serialNum != null" >
        serialNum = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceSerial != null" >
        invoiceSerial = #{record.invoiceSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.orderMaterielSerial != null" >
        orderMaterielSerial = #{record.orderMaterielSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.billCount != null" >
        billCount = #{record.billCount,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlg != null" >
        delFlg = #{record.delFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update invoiceBillingRecord
    set serialNum = #{record.serialNum,jdbcType=VARCHAR},
      invoiceSerial = #{record.invoiceSerial,jdbcType=VARCHAR},
      orderMaterielSerial = #{record.orderMaterielSerial,jdbcType=VARCHAR},
      billCount = #{record.billCount,jdbcType=VARCHAR},
      delFlg = #{record.delFlg,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.InvoiceBillingRecord" >
    update invoiceBillingRecord
    <set >
      <if test="invoiceSerial != null" >
        invoiceSerial = #{invoiceSerial,jdbcType=VARCHAR},
      </if>
      <if test="orderMaterielSerial != null" >
        orderMaterielSerial = #{orderMaterielSerial,jdbcType=VARCHAR},
      </if>
      <if test="billCount != null" >
        billCount = #{billCount,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.InvoiceBillingRecord" >
    update invoiceBillingRecord
    set invoiceSerial = #{invoiceSerial,jdbcType=VARCHAR},
      orderMaterielSerial = #{orderMaterielSerial,jdbcType=VARCHAR},
      billCount = #{billCount,jdbcType=VARCHAR},
      delFlg = #{delFlg,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <select id="countBilledNum" parameterType="java.lang.String" resultType="java.lang.Integer" >
   select IFNULL(SUM(IFNULL(br.billCount,0) ),0)from   invoiceBillingRecord  br
     left join invoice  i  on  i.serialNum=br.invoiceSerial
    where  br.orderMaterielSerial=#{orderMaterielSerial,jdbcType=VARCHAR} and  i.status=2
    
 
  </select>
</mapper>