<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.Message" >
    <id column="serial_num" property="serialNum" jdbcType="VARCHAR" />
    <result column="object_serial" property="objectSerial" jdbcType="VARCHAR" />
    <result column="action_name" property="actionName" jdbcType="VARCHAR" />
    <result column="message_type" property="messageType" jdbcType="VARCHAR" />
    <result column="templete_type" property="templeteType" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="receiver_id" property="receiverId" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="read_flg" property="readFlg" jdbcType="CHAR" />
    <result column="del_flg" property="delFlg" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.congmai.zhgj.web.model.Message" extends="BaseResultMap" >
    <result column="context" property="context" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serial_num, object_serial, action_name, message_type, templete_type, title, receiver_id, 
    creator, create_time, updater, update_time, read_flg, del_flg
  </sql>
  <sql id="Blob_Column_List" >
    context
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.congmai.zhgj.web.model.MessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.MessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message
    where serial_num = #{serialNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from message
    where serial_num = #{serialNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.congmai.zhgj.web.model.MessageExample" >
    delete from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.congmai.zhgj.web.model.Message" >
    insert into message (serial_num, object_serial, action_name, 
      message_type, templete_type, title, 
      receiver_id, creator, create_time, 
      updater, update_time, read_flg, 
      del_flg, context)
    values (#{serialNum,jdbcType=VARCHAR}, #{objectSerial,jdbcType=VARCHAR}, #{actionName,jdbcType=VARCHAR}, 
      #{messageType,jdbcType=VARCHAR}, #{templeteType,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{receiverId,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{readFlg,jdbcType=CHAR}, 
      #{delFlg,jdbcType=CHAR}, #{context,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.Message" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serial_num,
      </if>
      <if test="objectSerial != null" >
        object_serial,
      </if>
      <if test="actionName != null" >
        action_name,
      </if>
      <if test="messageType != null" >
        message_type,
      </if>
      <if test="templeteType != null" >
        templete_type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="receiverId != null" >
        receiver_id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="readFlg != null" >
        read_flg,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
      <if test="context != null" >
        context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="objectSerial != null" >
        #{objectSerial,jdbcType=VARCHAR},
      </if>
      <if test="actionName != null" >
        #{actionName,jdbcType=VARCHAR},
      </if>
      <if test="messageType != null" >
        #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="templeteType != null" >
        #{templeteType,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="receiverId != null" >
        #{receiverId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readFlg != null" >
        #{readFlg,jdbcType=CHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=CHAR},
      </if>
      <if test="context != null" >
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.congmai.zhgj.web.model.MessageExample" resultType="java.lang.Integer" >
    select count(*) from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update message
    <set >
      <if test="record.serialNum != null" >
        serial_num = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.objectSerial != null" >
        object_serial = #{record.objectSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.actionName != null" >
        action_name = #{record.actionName,jdbcType=VARCHAR},
      </if>
      <if test="record.messageType != null" >
        message_type = #{record.messageType,jdbcType=VARCHAR},
      </if>
      <if test="record.templeteType != null" >
        templete_type = #{record.templeteType,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverId != null" >
        receiver_id = #{record.receiverId,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.readFlg != null" >
        read_flg = #{record.readFlg,jdbcType=CHAR},
      </if>
      <if test="record.delFlg != null" >
        del_flg = #{record.delFlg,jdbcType=CHAR},
      </if>
      <if test="record.context != null" >
        context = #{record.context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update message
    set serial_num = #{record.serialNum,jdbcType=VARCHAR},
      object_serial = #{record.objectSerial,jdbcType=VARCHAR},
      action_name = #{record.actionName,jdbcType=VARCHAR},
      message_type = #{record.messageType,jdbcType=VARCHAR},
      templete_type = #{record.templeteType,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      receiver_id = #{record.receiverId,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      read_flg = #{record.readFlg,jdbcType=CHAR},
      del_flg = #{record.delFlg,jdbcType=CHAR},
      context = #{record.context,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update message
    set serial_num = #{record.serialNum,jdbcType=VARCHAR},
      object_serial = #{record.objectSerial,jdbcType=VARCHAR},
      action_name = #{record.actionName,jdbcType=VARCHAR},
      message_type = #{record.messageType,jdbcType=VARCHAR},
      templete_type = #{record.templeteType,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      receiver_id = #{record.receiverId,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      read_flg = #{record.readFlg,jdbcType=CHAR},
      del_flg = #{record.delFlg,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.Message" >
    update message
    <set >
      <if test="objectSerial != null" >
        object_serial = #{objectSerial,jdbcType=VARCHAR},
      </if>
      <if test="actionName != null" >
        action_name = #{actionName,jdbcType=VARCHAR},
      </if>
      <if test="messageType != null" >
        message_type = #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="templeteType != null" >
        templete_type = #{templeteType,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="receiverId != null" >
        receiver_id = #{receiverId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readFlg != null" >
        read_flg = #{readFlg,jdbcType=CHAR},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=CHAR},
      </if>
      <if test="context != null" >
        context = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where serial_num = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.congmai.zhgj.web.model.Message" >
    update message
    set object_serial = #{objectSerial,jdbcType=VARCHAR},
      action_name = #{actionName,jdbcType=VARCHAR},
      message_type = #{messageType,jdbcType=VARCHAR},
      templete_type = #{templeteType,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      receiver_id = #{receiverId,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      read_flg = #{readFlg,jdbcType=CHAR},
      del_flg = #{delFlg,jdbcType=CHAR},
      context = #{context,jdbcType=LONGVARCHAR}
    where serial_num = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.Message" >
    update message
    set object_serial = #{objectSerial,jdbcType=VARCHAR},
      action_name = #{actionName,jdbcType=VARCHAR},
      message_type = #{messageType,jdbcType=VARCHAR},
      templete_type = #{templeteType,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      receiver_id = #{receiverId,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      read_flg = #{readFlg,jdbcType=CHAR},
      del_flg = #{delFlg,jdbcType=CHAR}
    where serial_num = #{serialNum,jdbcType=VARCHAR}
  </update>
</mapper>