<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.OrderMaterielMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.OrderMateriel" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="orderSerial" property="orderSerial" jdbcType="VARCHAR" />
    <result column="materielSerial" property="materielSerial" jdbcType="VARCHAR" />
    <result column="supplyMaterielSerial" property="supplyMaterielSerial" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="orderUnitPrice" property="orderUnitPrice" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="VARCHAR" />
    <result column="deliveryDate" property="deliveryDate" jdbcType="DATE" />
    <result column="lastDeliveryDate" property="lastDeliveryDate" jdbcType="DATE" />
    <result column="deliveryAddress" property="deliveryAddress" jdbcType="VARCHAR" />
    <result column="discountRate" property="discountRate" jdbcType="VARCHAR" />
    <result column="serviceRate" property="serviceRate" jdbcType="VARCHAR" />
    <result column="redTicket" property="redTicket" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <association property="materiel" column="materielSerial" select="com.congmai.zhgj.web.dao.MaterielMapper.selectByPrimaryKey"/>
    <association property="supplyMateriel" column="supplyMaterielSerial" select="com.congmai.zhgj.web.dao.SupplyMaterielMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serialNum, orderSerial, materielSerial, supplyMaterielSerial, amount, orderUnitPrice, 
    money, deliveryDate, lastDeliveryDate, deliveryAddress, discountRate, serviceRate, redTicket,
    delFlg, creator, createTime, updater, updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.OrderMaterielExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderMateriel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from orderMateriel
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from orderMateriel
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.congmai.zhgj.web.model.OrderMaterielExample" >
    delete from orderMateriel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.congmai.zhgj.web.model.OrderMateriel" >
    insert into orderMateriel (serialNum, orderSerial, materielSerial, 
      supplyMaterielSerial, amount, orderUnitPrice, 
      money, deliveryDate, lastDeliveryDate, 
      deliveryAddress, discountRate, serviceRate, redTicket,
      creator, createTime, 
      updater, updateTime)
    values (#{serialNum,jdbcType=VARCHAR}, #{orderSerial,jdbcType=VARCHAR}, #{materielSerial,jdbcType=VARCHAR}, 
      #{supplyMaterielSerial,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, #{orderUnitPrice,jdbcType=VARCHAR}, 
      #{money,jdbcType=VARCHAR}, #{deliveryDate,jdbcType=DATE}, #{lastDeliveryDate,jdbcType=DATE}, 
      #{deliveryAddress,jdbcType=VARCHAR}, #{discountRate,jdbcType=VARCHAR}, #{serviceRate,jdbcType=VARCHAR},#{redTicket,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.OrderMateriel" >
    insert into orderMateriel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serialNum,
      </if>
      <if test="orderSerial != null" >
        orderSerial,
      </if>
      <if test="materielSerial != null" >
        materielSerial,
      </if>
      <if test="supplyMaterielSerial != null" >
        supplyMaterielSerial,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="orderUnitPrice != null" >
        orderUnitPrice,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="deliveryDate != null" >
        deliveryDate,
      </if>
      <if test="lastDeliveryDate != null" >
        lastDeliveryDate,
      </if>
      <if test="deliveryAddress != null" >
        deliveryAddress,
      </if>
      <if test="discountRate != null" >
        discountRate,
      </if>
      <if test="serviceRate != null" >
        serviceRate,
      </if>
      <if test="redTicket != null" >
        redTicket,
      </if>
      <if test="delFlg != null" >
        delFlg,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="orderSerial != null" >
        #{orderSerial,jdbcType=VARCHAR},
      </if>
      <if test="materielSerial != null" >
        #{materielSerial,jdbcType=VARCHAR},
      </if>
      <if test="supplyMaterielSerial != null" >
        #{supplyMaterielSerial,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="orderUnitPrice != null" >
        #{orderUnitPrice,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null" >
        #{deliveryDate,jdbcType=DATE},
      </if>
      <if test="lastDeliveryDate != null" >
        #{lastDeliveryDate,jdbcType=DATE},
      </if>
      <if test="deliveryAddress != null" >
        #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="discountRate != null" >
        #{discountRate,jdbcType=VARCHAR},
      </if>
      <if test="serviceRate != null" >
        #{serviceRate,jdbcType=VARCHAR},
      </if>
      <if test="redTicket != null" >
        #{redTicket,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.congmai.zhgj.web.model.OrderMaterielExample" resultType="java.lang.Integer" >
    select count(*) from orderMateriel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orderMateriel
    <set >
      <if test="record.serialNum != null" >
        serialNum = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.orderSerial != null" >
        orderSerial = #{record.orderSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.materielSerial != null" >
        materielSerial = #{record.materielSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.supplyMaterielSerial != null" >
        supplyMaterielSerial = #{record.supplyMaterielSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=VARCHAR},
      </if>
      <if test="record.orderUnitPrice != null" >
        orderUnitPrice = #{record.orderUnitPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryDate != null" >
        deliveryDate = #{record.deliveryDate,jdbcType=DATE},
      </if>
      <if test="record.lastDeliveryDate != null" >
        lastDeliveryDate = #{record.lastDeliveryDate,jdbcType=DATE},
      </if>
      <if test="record.deliveryAddress != null" >
        deliveryAddress = #{record.deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.discountRate != null" >
        discountRate = #{record.discountRate,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceRate != null" >
        serviceRate = #{record.serviceRate,jdbcType=VARCHAR},
      </if>
      <if test="record.redTicket != null" >
        redTicket = #{record.redTicket,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlg != null" >
        delFlg = #{record.delFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orderMateriel
    set serialNum = #{record.serialNum,jdbcType=VARCHAR},
      orderSerial = #{record.orderSerial,jdbcType=VARCHAR},
      materielSerial = #{record.materielSerial,jdbcType=VARCHAR},
      supplyMaterielSerial = #{record.supplyMaterielSerial,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=VARCHAR},
      orderUnitPrice = #{record.orderUnitPrice,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=VARCHAR},
      deliveryDate = #{record.deliveryDate,jdbcType=DATE},
      lastDeliveryDate = #{record.lastDeliveryDate,jdbcType=DATE},
      deliveryAddress = #{record.deliveryAddress,jdbcType=VARCHAR},
      discountRate = #{record.discountRate,jdbcType=VARCHAR},
      serviceRate = #{record.serviceRate,jdbcType=VARCHAR},
      redTicket = #{record.redTicket,jdbcType=VARCHAR},
      delFlg = #{record.delFlg,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.OrderMateriel" >
    update orderMateriel
    <set >
      <if test="orderSerial != null" >
        orderSerial = #{orderSerial,jdbcType=VARCHAR},
      </if>
      <if test="materielSerial != null" >
        materielSerial = #{materielSerial,jdbcType=VARCHAR},
      </if>
      <if test="supplyMaterielSerial != null" >
        supplyMaterielSerial = #{supplyMaterielSerial,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="orderUnitPrice != null" >
        orderUnitPrice = #{orderUnitPrice,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null" >
        deliveryDate = #{deliveryDate,jdbcType=DATE},
      </if>
      <if test="lastDeliveryDate != null" >
        lastDeliveryDate = #{lastDeliveryDate,jdbcType=DATE},
      </if>
      <if test="deliveryAddress != null" >
        deliveryAddress = #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="discountRate != null" >
        discountRate = #{discountRate,jdbcType=VARCHAR},
      </if>
      <if test="serviceRate != null" >
        serviceRate = #{serviceRate,jdbcType=VARCHAR},
      </if>
      <if test="redTicket != null" >
        redTicket = #{redTicket,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.OrderMateriel" >
    update orderMateriel
    set orderSerial = #{orderSerial,jdbcType=VARCHAR},
      materielSerial = #{materielSerial,jdbcType=VARCHAR},
      supplyMaterielSerial = #{supplyMaterielSerial,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      orderUnitPrice = #{orderUnitPrice,jdbcType=VARCHAR},
      money = #{money,jdbcType=VARCHAR},
      deliveryDate = #{deliveryDate,jdbcType=DATE},
      lastDeliveryDate = #{lastDeliveryDate,jdbcType=DATE},
      deliveryAddress = #{deliveryAddress,jdbcType=VARCHAR},
      discountRate = #{discountRate,jdbcType=VARCHAR},
      serviceRate = #{serviceRate,jdbcType=VARCHAR},
      redTicket = #{redTicket,jdbcType=VARCHAR},
      delFlg = #{delFlg,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
</mapper>