<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.OrderInfo" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="contractSerial" property="contractSerial" jdbcType="VARCHAR" />
    <result column="supplyComId" property="supplyComId" jdbcType="VARCHAR" />
    <result column="buyComId" property="buyComId" jdbcType="VARCHAR" />
    <result column="orderNum" property="orderNum" jdbcType="VARCHAR" />
    <result column="orderType" property="orderType" jdbcType="VARCHAR" />
    <result column="seller" property="seller" jdbcType="VARCHAR" />
    <result column="entrustParty" property="entrustParty" jdbcType="VARCHAR" />
    <result column="serviceModel" property="serviceModel" jdbcType="VARCHAR" />
    <result column="demandPlanSerial" property="demandPlanSerial" jdbcType="VARCHAR" />
    <result column="saleApplySerial" property="saleApplySerial" jdbcType="VARCHAR" />
    <result column="settlementClause" property="settlementClause" jdbcType="VARCHAR" />
    <result column="orderSerial" property="orderSerial" jdbcType="VARCHAR" />
    <result column="deliveryMode" property="deliveryMode" jdbcType="VARCHAR" />
    <result column="transportMode" property="transportMode" jdbcType="VARCHAR" />
    <result column="orderDate" property="orderDate" jdbcType="DATE" />
    <result column="maker" property="maker" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="exchangeRate" property="exchangeRate" jdbcType="VARCHAR" />
    <result column="materielCount" property="materielCount" jdbcType="VARCHAR" />
    <result column="materielAmount" property="materielAmount" jdbcType="VARCHAR" />
    <result column="rateAmount" property="rateAmount" jdbcType="VARCHAR" />
    <result column="rateAndAmount" property="rateAndAmount" jdbcType="VARCHAR" />
    <result column="otherAmount" property="otherAmount" jdbcType="VARCHAR" />
    <result column="orderAmount" property="orderAmount" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="orderRemark" property="orderRemark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serialNum, contractSerial, supplyComId, buyComId, orderNum, orderType, seller, entrustParty, 
    serviceModel, demandPlanSerial, saleApplySerial, settlementClause, orderSerial, deliveryMode, 
    transportMode, orderDate, maker, rate, currency, exchangeRate, orderAmount, materielCount,
materielAmount,
rateAmount,
rateAndAmount,
otherAmount, remark, orderRemark,
    
    
    
    status, delFlg, creator, createTime, updater, updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.OrderInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectFramByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.OrderInfoExample" >
    select
    orderInfo.serialNum, orderInfo.contractSerial, orderInfo.supplyComId, orderInfo.buyComId, orderInfo.orderNum, orderInfo.orderType, orderInfo.seller, orderInfo.entrustParty, 
    orderInfo.serviceModel, orderInfo.demandPlanSerial, orderInfo.saleApplySerial, orderInfo.settlementClause, orderInfo.orderSerial, orderInfo.deliveryMode, orderInfo.materielCount,orderInfo.orderAmount,
    orderInfo.transportMode, orderInfo.orderDate, orderInfo.maker, orderInfo.rate, orderInfo.currency, orderInfo.exchangeRate, orderInfo.remark,orderRemark, orderInfo.status, orderInfo.delFlg, 
    orderInfo.creator, orderInfo.createTime, orderInfo.updater, orderInfo.updateTime
    from orderInfo
    left join contract on orderInfo.contractSerial = contract.serialNum
    where
		 orderInfo.delFlg = 0  
		 <if test="buyComId == 'null'" >
		 	AND orderInfo.buyComId IS NULL
		 </if>
		 <if test="supplyComId == 'null'" >
		 	AND orderInfo.supplyComId IS NULL
		 </if>
		AND contract.contractType = '框架合同'
		ORDER BY
			updateTime DESC 
  </select>
  
  <select id="selectCommenByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.OrderInfo" >
    select
    orderInfo.serialNum, orderInfo.contractSerial, orderInfo.supplyComId, orderInfo.buyComId, orderInfo.orderNum, orderInfo.orderType, orderInfo.seller, orderInfo.entrustParty, 
    orderInfo.serviceModel, orderInfo.demandPlanSerial, orderInfo.saleApplySerial, orderInfo.settlementClause, orderInfo.orderSerial, orderInfo.deliveryMode, orderInfo.materielCount,orderInfo.orderAmount,
    orderInfo.transportMode, orderInfo.orderDate, orderInfo.maker, orderInfo.rate, orderInfo.currency, orderInfo.exchangeRate, orderInfo.remark,orderInfo.orderRemark, orderInfo.status, orderInfo.delFlg, 
    orderInfo.creator, orderInfo.createTime, orderInfo.updater, orderInfo.updateTime
    from orderInfo
    left join contract on orderInfo.contractSerial = contract.serialNum
    where
		 orderInfo.delFlg = 0  
		 <if test="buyComId == 'null'" >
		 	AND orderInfo.buyComId IS NULL
		 </if>
		 <if test="supplyComId == 'null'" >
		 	AND orderInfo.supplyComId IS NULL
		 </if>
		AND (contract.contractType is null or
	contract.contractType != '框架合同')
		ORDER BY
			updateTime DESC 
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from orderInfo
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from orderInfo
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.congmai.zhgj.web.model.OrderInfoExample" >
    delete from orderInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.congmai.zhgj.web.model.OrderInfo" >
    insert into orderInfo (serialNum, contractSerial, supplyComId, 
      buyComId, orderNum, orderType, 
      seller, entrustParty, serviceModel, 
      demandPlanSerial, saleApplySerial, settlementClause, 
      orderSerial, deliveryMode, transportMode, 
      orderDate, maker, rate, 
      currency, exchangeRate, materielCount,
materielAmount,
rateAmount,
rateAndAmount,
otherAmount, orderAmount, 
      remark,orderRemark, status,
      creator, createTime, updater, 
      updateTime)
    values (#{serialNum,jdbcType=VARCHAR}, #{contractSerial,jdbcType=VARCHAR}, #{supplyComId,jdbcType=VARCHAR}, 
      #{buyComId,jdbcType=VARCHAR}, #{orderNum,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, 
      #{seller,jdbcType=VARCHAR}, #{entrustParty,jdbcType=VARCHAR}, #{serviceModel,jdbcType=VARCHAR}, 
      #{demandPlanSerial,jdbcType=VARCHAR}, #{saleApplySerial,jdbcType=VARCHAR}, #{settlementClause,jdbcType=VARCHAR}, 
      #{orderSerial,jdbcType=VARCHAR}, #{deliveryMode,jdbcType=VARCHAR}, #{transportMode,jdbcType=VARCHAR}, 
      #{orderDate,jdbcType=DATE}, #{maker,jdbcType=VARCHAR}, #{rate,jdbcType=VARCHAR}, 
      #{currency,jdbcType=VARCHAR}, #{exchangeRate,jdbcType=VARCHAR}, 
      #{materielCount,jdbcType=VARCHAR}, 
      #{materielAmount,jdbcType=VARCHAR}, 
      #{rateAmount,jdbcType=VARCHAR}, 
      #{rateAndAmount,jdbcType=VARCHAR}, 
      #{otherAmount,jdbcType=VARCHAR}, 
		#{orderAmount,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR},#{orderRemark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.OrderInfo" >
    insert into orderInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serialNum,
      </if>
      <if test="contractSerial != null" >
        contractSerial,
      </if>
      <if test="supplyComId != null" >
        supplyComId,
      </if>
      <if test="buyComId != null" >
        buyComId,
      </if>
      <if test="orderNum != null" >
        orderNum,
      </if>
      <if test="orderType != null" >
        orderType,
      </if>
      <if test="seller != null" >
        seller,
      </if>
      <if test="entrustParty != null" >
        entrustParty,
      </if>
      <if test="serviceModel != null" >
        serviceModel,
      </if>
      <if test="demandPlanSerial != null" >
        demandPlanSerial,
      </if>
      <if test="saleApplySerial != null" >
        saleApplySerial,
      </if>
      <if test="settlementClause != null" >
        settlementClause,
      </if>
      <if test="orderSerial != null" >
        orderSerial,
      </if>
      <if test="deliveryMode != null" >
        deliveryMode,
      </if>
      <if test="transportMode != null" >
        transportMode,
      </if>
      <if test="orderDate != null" >
        orderDate,
      </if>
      <if test="maker != null" >
        maker,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="exchangeRate != null" >
        exchangeRate,
      </if>
      <if test="materielCount != null" >
        materielCount,
      </if>
      <if test="materielAmount != null" >
        materielAmount,
      </if>
      <if test="rateAmount != null" >
        rateAmount,
      </if>
      <if test="rateAndAmount != null" >
        rateAndAmount,
      </if>
      <if test="otherAmount != null" >
        otherAmount,
      </if>
      <if test="orderAmount != null" >
        orderAmount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="orderRemark != null" >
        orderRemark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="delFlg != null" >
        delFlg,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="contractSerial != null" >
        #{contractSerial,jdbcType=VARCHAR},
      </if>
      <if test="supplyComId != null" >
        #{supplyComId,jdbcType=VARCHAR},
      </if>
      <if test="buyComId != null" >
        #{buyComId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="seller != null" >
        #{seller,jdbcType=VARCHAR},
      </if>
      <if test="entrustParty != null" >
        #{entrustParty,jdbcType=VARCHAR},
      </if>
      <if test="serviceModel != null" >
        #{serviceModel,jdbcType=VARCHAR},
      </if>
      <if test="demandPlanSerial != null" >
        #{demandPlanSerial,jdbcType=VARCHAR},
      </if>
      <if test="saleApplySerial != null" >
        #{saleApplySerial,jdbcType=VARCHAR},
      </if>
      <if test="settlementClause != null" >
        #{settlementClause,jdbcType=VARCHAR},
      </if>
      <if test="orderSerial != null" >
        #{orderSerial,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMode != null" >
        #{deliveryMode,jdbcType=VARCHAR},
      </if>
      <if test="transportMode != null" >
        #{transportMode,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=DATE},
      </if>
      <if test="maker != null" >
        #{maker,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="exchangeRate != null" >
        #{exchangeRate,jdbcType=VARCHAR},
      </if>
      <if test="materielCount != null" >
        #{materielCount,jdbcType=VARCHAR},
      </if>
      <if test="materielAmount != null" >
        #{materielAmount,jdbcType=VARCHAR},
      </if>
      <if test="rateAmount != null" >
        #{rateAmount,jdbcType=VARCHAR},
      </if>
      <if test="rateAndAmount != null" >
        #{rateAndAmount,jdbcType=VARCHAR},
      </if>
      <if test="otherAmount != null" >
        #{otherAmount,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderRemark != null" >
        #{orderRemark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.congmai.zhgj.web.model.OrderInfoExample" resultType="java.lang.Integer" >
    select count(*) from orderInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orderInfo
    <set >
      <if test="record.serialNum != null" >
        serialNum = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.contractSerial != null" >
        contractSerial = #{record.contractSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.supplyComId != null" >
        supplyComId = #{record.supplyComId,jdbcType=VARCHAR},
      </if>
      <if test="record.buyComId != null" >
        buyComId = #{record.buyComId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null" >
        orderNum = #{record.orderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.orderType != null" >
        orderType = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.seller != null" >
        seller = #{record.seller,jdbcType=VARCHAR},
      </if>
      <if test="record.entrustParty != null" >
        entrustParty = #{record.entrustParty,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceModel != null" >
        serviceModel = #{record.serviceModel,jdbcType=VARCHAR},
      </if>
      <if test="record.demandPlanSerial != null" >
        demandPlanSerial = #{record.demandPlanSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.saleApplySerial != null" >
        saleApplySerial = #{record.saleApplySerial,jdbcType=VARCHAR},
      </if>
      <if test="record.settlementClause != null" >
        settlementClause = #{record.settlementClause,jdbcType=VARCHAR},
      </if>
      <if test="record.orderSerial != null" >
        orderSerial = #{record.orderSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryMode != null" >
        deliveryMode = #{record.deliveryMode,jdbcType=VARCHAR},
      </if>
      <if test="record.transportMode != null" >
        transportMode = #{record.transportMode,jdbcType=VARCHAR},
      </if>
      <if test="record.orderDate != null" >
        orderDate = #{record.orderDate,jdbcType=DATE},
      </if>
      <if test="record.maker != null" >
        maker = #{record.maker,jdbcType=VARCHAR},
      </if>
      <if test="record.rate != null" >
        rate = #{record.rate,jdbcType=VARCHAR},
      </if>
      <if test="record.currency != null" >
        currency = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.exchangeRate != null" >
        exchangeRate = #{record.exchangeRate,jdbcType=VARCHAR},
      </if>
      <if test="record.materielCount != null" >
        materielCount = #{record.materielCount,jdbcType=VARCHAR},
      </if>
      <if test="record.materielAmount != null" >
        materielAmount = #{record.materielAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.rateAmount != null" >
        rateAmount = #{record.rateAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.rateAndAmount != null" >
        rateAndAmount = #{record.rateAndAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.otherAmount != null" >
        otherAmount = #{record.otherAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.orderAmount != null" >
        orderAmount = #{record.orderAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.orderRemark != null" >
        remark = #{record.orderRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlg != null" >
        delFlg = #{record.delFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orderInfo
    set serialNum = #{record.serialNum,jdbcType=VARCHAR},
      contractSerial = #{record.contractSerial,jdbcType=VARCHAR},
      supplyComId = #{record.supplyComId,jdbcType=VARCHAR},
      buyComId = #{record.buyComId,jdbcType=VARCHAR},
      orderNum = #{record.orderNum,jdbcType=VARCHAR},
      orderType = #{record.orderType,jdbcType=VARCHAR},
      seller = #{record.seller,jdbcType=VARCHAR},
      entrustParty = #{record.entrustParty,jdbcType=VARCHAR},
      serviceModel = #{record.serviceModel,jdbcType=VARCHAR},
      demandPlanSerial = #{record.demandPlanSerial,jdbcType=VARCHAR},
      saleApplySerial = #{record.saleApplySerial,jdbcType=VARCHAR},
      settlementClause = #{record.settlementClause,jdbcType=VARCHAR},
      orderSerial = #{record.orderSerial,jdbcType=VARCHAR},
      deliveryMode = #{record.deliveryMode,jdbcType=VARCHAR},
      transportMode = #{record.transportMode,jdbcType=VARCHAR},
      orderDate = #{record.orderDate,jdbcType=DATE},
      maker = #{record.maker,jdbcType=VARCHAR},
      rate = #{record.rate,jdbcType=VARCHAR},
      currency = #{record.currency,jdbcType=VARCHAR},
      exchangeRate = #{record.exchangeRate,jdbcType=VARCHAR},
      materielCount = #{record.materielCount,jdbcType=VARCHAR},
      materielAmount = #{record.materielAmount,jdbcType=VARCHAR},
      rateAmount = #{record.rateAmount,jdbcType=VARCHAR},
      rateAndAmount = #{record.rateAndAmount,jdbcType=VARCHAR},
      otherAmount = #{record.otherAmount,jdbcType=VARCHAR},
      orderAmount = #{record.orderAmount,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      orderRemark = #{record.orderRemark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      delFlg = #{record.delFlg,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.OrderInfo" >
    update orderInfo
    <set >
      <if test="contractSerial != null" >
        contractSerial = #{contractSerial,jdbcType=VARCHAR},
      </if>
      <if test="supplyComId != null" >
        supplyComId = #{supplyComId,jdbcType=VARCHAR},
      </if>
      <if test="buyComId != null" >
        buyComId = #{buyComId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        orderNum = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        orderType = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="seller != null" >
        seller = #{seller,jdbcType=VARCHAR},
      </if>
      <if test="entrustParty != null" >
        entrustParty = #{entrustParty,jdbcType=VARCHAR},
      </if>
      <if test="serviceModel != null" >
        serviceModel = #{serviceModel,jdbcType=VARCHAR},
      </if>
      <if test="demandPlanSerial != null" >
        demandPlanSerial = #{demandPlanSerial,jdbcType=VARCHAR},
      </if>
      <if test="saleApplySerial != null" >
        saleApplySerial = #{saleApplySerial,jdbcType=VARCHAR},
      </if>
      <if test="settlementClause != null" >
        settlementClause = #{settlementClause,jdbcType=VARCHAR},
      </if>
      <if test="orderSerial != null" >
        orderSerial = #{orderSerial,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMode != null" >
        deliveryMode = #{deliveryMode,jdbcType=VARCHAR},
      </if>
      <if test="transportMode != null" >
        transportMode = #{transportMode,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        orderDate = #{orderDate,jdbcType=DATE},
      </if>
      <if test="maker != null" >
        maker = #{maker,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="exchangeRate != null" >
        exchangeRate = #{exchangeRate,jdbcType=VARCHAR},
      </if>
      <if test="materielCount != null" >
        materielCount = #{materielCount,jdbcType=VARCHAR},
      </if>
      <if test="materielAmount != null" >
        materielAmount = #{materielAmount,jdbcType=VARCHAR},
      </if>
      <if test="rateAmount != null" >
        rateAmount = #{rateAmount,jdbcType=VARCHAR},
      </if>
      <if test="rateAndAmount != null" >
        rateAndAmount = #{rateAndAmount,jdbcType=VARCHAR},
      </if>
      <if test="otherAmount != null" >
        otherAmount = #{otherAmount,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        orderAmount = #{orderAmount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderRemark != null" >
        orderRemark = #{orderRemark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.OrderInfo" >
    update orderInfo
    set contractSerial = #{contractSerial,jdbcType=VARCHAR},
      supplyComId = #{supplyComId,jdbcType=VARCHAR},
      buyComId = #{buyComId,jdbcType=VARCHAR},
      orderNum = #{orderNum,jdbcType=VARCHAR},
      orderType = #{orderType,jdbcType=VARCHAR},
      seller = #{seller,jdbcType=VARCHAR},
      entrustParty = #{entrustParty,jdbcType=VARCHAR},
      serviceModel = #{serviceModel,jdbcType=VARCHAR},
      demandPlanSerial = #{demandPlanSerial,jdbcType=VARCHAR},
      saleApplySerial = #{saleApplySerial,jdbcType=VARCHAR},
      settlementClause = #{settlementClause,jdbcType=VARCHAR},
      orderSerial = #{orderSerial,jdbcType=VARCHAR},
      deliveryMode = #{deliveryMode,jdbcType=VARCHAR},
      transportMode = #{transportMode,jdbcType=VARCHAR},
      orderDate = #{orderDate,jdbcType=DATE},
      maker = #{maker,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      exchangeRate = #{exchangeRate,jdbcType=VARCHAR},
      materielCount = #{materielCount,jdbcType=VARCHAR},
      materielAmount = #{materielAmount,jdbcType=VARCHAR},
      rateAmount = #{rateAmount,jdbcType=VARCHAR},
      rateAndAmount = #{rateAndAmount,jdbcType=VARCHAR},
      otherAmount = #{otherAmount,jdbcType=VARCHAR},
      orderAmount = #{orderAmount,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      orderRemark = #{orderRemark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      delFlg = #{delFlg,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
</mapper>