<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.PayMapper">
    
    <!--添加应付款  -->
    <insert id="insertPaymentRecord" parameterType="com.congmai.zhgj.web.model.PaymentRecord">
    INSERT INTO paymentRecord(serialNum,paymentNum,supplyComId,buyComId,paymentType,orderSerial,applyPaymentAmount,billStyle,paymentDate,
    applyCurrency,playPaymentDate,payType,paymentNode,nodeNum,applyDept,payee,contact,contactNum,bank,accountName,accountNumber,
    isBill,applyDate,applicant,remark,status,creator,createTime,updater,updateTime) 
    VALUES(#{serialNum},#{paymentNum},#{supplyComId},#{buyComId},#{paymentType},#{orderSerial},#{applyPaymentAmount},#{billStyle},#{paymentDate},
    #{applyCurrency},#{playPaymentDate},#{payType},#{paymentNode},#{nodeNum},#{applyDept},#{payee},#{contact},#{contactNum},#{bank},#{accountName},#{accountNumber},
    #{isBill},#{applyDate},#{applicant},#{remark},'0',#{creator},NOW(),#{creator},NOW())
    </insert>
    
    <!--插入应付款计划  -->
    <insert id="insertPaymentPlan" parameterType="com.congmai.zhgj.web.model.PaymentPlan">
    INSERT INTO paymentPlan(serialNum,paymentPlanNum,paymentAmount,supplyComId,buyComId,paymentStyle,orderSerial,clauseSettlementSerial,creator,createTime,updater,updateTime)
    VALUES(#{serialNum},#{paymentPlanNum},#{paymentAmount},#{supplyComId},#{buyComId},#{paymentStyle},#{orderSerial},#{clauseSettlementSerial},#{creator},NOW(),#{creator},NOW())
    </insert>
    
    <!--添加附件  -->
    <insert id="betchInsertPaymentFiles" parameterType="com.congmai.zhgj.web.model.PaymentFile">
    INSERT INTO paymentFile(serialNum,paymentSerial,fileType,fileDescribe,file,uploader,uploadDate,creator,createTime,updater,updateTime,remark)
                VALUES(#{serialNum},#{paymentSerial},#{fileType},#{fileDescribe},#{file},#{uploader},NOW(),#{creator},NOW(),#{updater},NOW(),#{remark})
    </insert>
    
    <!--查询结算条款列表  -->
   <select id="selectClauseSettlementDetailList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ClauseSettlementDetail">
    SELECT 
	d.serialNum,d.paymentType,d.deliveryNode,d.accountPeriod,d.deliveryRate,d.deliveryAmount,d.paymentMethod,d.billingMethod,
	d.billingAmount,d.unbilledAmount,d.remark,d.status
	FROM
	orderInfo a
	LEFT JOIN contract b ON a.contractSerial=b.serialNum
	LEFT JOIN clauseSettlement c ON b.serialNum=c.contractSerial
	LEFT JOIN clauseSettlementDetail d ON c.serialNum=d.clauseSettlementSerial
	WHERE a.serialNum=#{orderId}
	AND d.delFlg='0'
    </select>
    
    
    <!--查询结算条款列表  -->
   <select id="selectClauseSettlementDetailList2" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ClauseSettlementDetail">
    SELECT
	c.paymentType,c.deliveryNode
	FROM
	orderInfo a 
	LEFT JOIN clauseSettlement b ON a.contractSerial=b.contractSerial 
	LEFT JOIN clauseSettlementDetail c ON b.serialNum=c.clauseSettlementSerial
	WHERE a.serialNum=#{serialNum}
	AND c.delFlg='0'
    </select>
    
    <!--查询结算条款详情  -->
    <select id="selectClauseDetail" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ClauseSettlement">
    SELECT
	serialNum,deliveryAmount AS totalAmount
	FROM
	clauseSettlementDetail
	WHERE
	serialNum=#{serialNum}
	AND delFlg='0'
    </select>
    
    <!--查询付款列表  -->
    <select id="selectAllPaymentRecordList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.PaymentRecord">
    SELECT
	a.serialNum,a.paymentNum,a.playPaymentDate,a.paymentNode,a.nodeNum,a.applyPaymentAmount,b.orderNum,
	a.supplyComId,a.paymentDate,a.paymentAmount,a.status
	FROM
	paymentRecord a
	LEFT JOIN orderInfo b ON a.orderSerial=b.serialNum
	WHERE a.delFlg='0'
	AND
	a.creator=#{userId}
	AND
	a.buyComId IS NULL
    </select>
    
    
     <!--查询收款列表  -->
    <select id="findAllGatheringMoneyRecord" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.PaymentRecord">
	 SELECT
	a.serialNum,a.paymentNum,a.playPaymentDate,a.paymentNode,a.nodeNum,a.applyPaymentAmount,b.orderNum,
	a.buyComId,a.paymentDate,a.paymentAmount,a.status
	FROM
	paymentRecord a
	LEFT JOIN orderInfo b ON a.orderSerial=b.serialNum
	WHERE a.delFlg='0'
	AND
	a.creator=#{userId}
	AND
	a.supplyComId IS NULL
    </select>
    
    <!--通过id查询收付款详情  -->
    <select id="selectPayById" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.PaymentRecord">
     SELECT
	a.serialNum,a.paymentNum,a.paymentType,b.orderNum,b.serialNum AS orderSerial,a.supplyComId,
	b.orderAmount,a.applyPaymentAmount,a.applyCurrency,a.playPaymentDate,a.payType,a.paymentNode,a.nodeNum,
	a.billStyle,a.isBill,a.applyDate,a.applicant,a.applyDept,a.remark,
    a.payee,a.contact,a.contactNum,a.bank,a.accountName,a.accountNumber,a.status,a.reason,a.processInstanceId,a.userId
	FROM
	paymentRecord a
	LEFT JOIN orderInfo b ON a.orderSerial=b.serialNum
	WHERE a.serialNum=#{serialNum}
    </select>
    
    
    <!--删除收付款  -->
    <update id="delPaymentRecord" parameterType="java.util.List">
    	UPDATE paymentRecord 
    	SET delFlg='1'
    	where serialNum in
        <foreach item="idList" collection="list" open="(" close=")" separator=",">
            #{idList}
        </foreach>
    </update>
    
    
    <!--更新付款计划  -->
    <update id="updatePaymentPlan" parameterType="com.congmai.zhgj.web.model.PaymentPlan">
    UPDATE
	paymentPlan
	SET
	orderSerial=#{orderSerial},
	paymentPlanNum=#{paymentPlanNum},
	paymentStyle=#{paymentStyle},
	supplyComId=#{supplyComId},
	buyComId=#{buyComId},
	paymentAmount=#{paymentAmount},
	clauseSettlementSerial=#{clauseSettlementSerial},
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{serialNum}
    </update>
    
    
    <!--更新付款  -->
    <update id="updatePaymentRecord" parameterType="com.congmai.zhgj.web.model.PaymentRecord">
    UPDATE
	paymentRecord
	SET
	paymentType=#{paymentType},
	paymentNum=#{paymentNum},
	orderSerial=#{orderSerial},
	supplyComId=#{supplyComId},
	applyPaymentAmount=#{applyPaymentAmount},
	applyCurrency=#{applyCurrency},
	playPaymentDate=#{playPaymentDate},
	payType=#{payType},
	paymentNode=#{paymentNode},
	nodeNum=#{nodeNum},
	billStyle=#{billStyle},
	isBill=#{isBill},
	applyDate=#{applyDate},
	applicant=#{applicant},
	applyDept=#{applyDept},
	remark=#{remark},
	payee=#{payee},
	contact=#{contact},
	contactNum=#{contactNum},
	bank=#{bank},
	accountName=#{accountName},
	accountNumber=#{accountNumber},
	updater=#{updater},
	reason=#{reason},
	processInstanceId=#{processInstanceId},
	userId=#{userId},
	status=#{status},
	updateTime=NOW()
	WHERE
	serialNum=#{serialNum}
    </update>
    
    
    <!--查询订单的已付金额  -->
    <select id="selectPaiedMoney" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
	IFNULL(SUM(applyPaymentAmount),0)
	FROM
	paymentRecord
	WHERE
	orderSerial=#{serialNum}
	AND
	delFlg='0'
    </select>
    
    
    <!--查询订单的已开票金额  -->
    <select id="selectBilledMoney" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
	IFNULL(SUM(c.unitPrice*b.billCount),0)
	FROM orderMateriel a 
	LEFT JOIN invoiceBillingRecord b ON a.serialNum=b.orderMaterielSerial
	LEFT JOIN materiel c ON a.materielSerial=c.serialNum
	LEFT JOIN invoice i ON i.serialNum=b.invoiceSerial
	WHERE a.orderSerial=#{serialNum} and  i.status='2'
	
    </select>
    
    <!--查询收付款对象的附件集合  -->
    <select id="selectFileList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.PaymentFile">
    SELECT
    serialNum,fileType,fileDescribe,file,uploader,uploadDate,remark
    FROM paymentFile
    WHERE paymentSerial=#{serialNum}
    </select>
    
    
    <!--删除旧的附件  -->
    <delete id="deleteFileOld" parameterType="java.lang.String">
    DELETE FROM paymentFile WHERE paymentSerial=#{paySerialNum}
    </delete>
    
    
    <!--确认收款  -->
    <update id="confirmGatheringMoney" parameterType="java.util.HashMap">
    UPDATE paymentRecord SET status='1',updater=#{updater},updateTime=NOW() WHERE serialNum=#{serialNum}
    </update>
</mapper>
