<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.PayMapper">
    
    <!--添加应付款  -->
    <insert id="insertPaymentRecord" parameterType="com.congmai.zhgj.web.model.PaymentRecord">
    INSERT INTO paymentRecord(serialNum,paymentNum,supplyComId,buyComId,invoiceSerial,paymentType,billStyle,paymentDate,paymentPlanSerial,
    isBill,approver,approvalDate,applyDate,applicant,paymentVoucher,remark,status,creator,createTime,updater,updateTime) 
    VALUES(#{serialNum},#{paymentNum},#{supplyComId},#{buyComId},#{invoiceSerial},#{paymentType},#{billStyle},#{paymentDate},#{paymentPlanSerial},
    #{isBill},#{approver},#{approvalDate},#{applyDate},#{applicant},#{paymentVoucher},#{remark},'0',#{creator},NOW(),#{creator},NOW())
    </insert>
    
    <!--插入应付款计划  -->
    <insert id="insertPaymentPlan" parameterType="com.congmai.zhgj.web.model.PaymentPlan">
    INSERT INTO paymentPlan(serialNum,paymentPlanNum,paymentAmount,supplyComId,buyComId,paymentStyle,orderSerial,clauseSettlementSerial,creator,createTime,updater,updateTime)
    VALUES(#{serialNum},#{paymentPlanNum},#{paymentAmount},#{supplyComId},#{buyComId},#{paymentStyle},#{orderSerial},#{clauseSettlementSerial},#{creator},NOW(),#{creator},NOW())
    </insert>
    
    <!--查询结算条款列表  -->
   <select id="selectClauseSettlementDetailList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ClauseSettlementDetail">
    SELECT 
	d.serialNum,d.paymentType,d.deliveryNode,d.accountPeriod,d.deliveryRate,d.deliveryAmount,d.paymentMethod,d.billingMethod,
	d.billingAmount,d.unbilledAmount,d.remark,d.status
	FROM
	orderInfo a
	LEFT JOIN contract b ON a.contractSerial=b.serialNum
	LEFT JOIN clauseSettlement c ON b.serialNum=c.contractSerial
	LEFT JOIN clauseSettlementDetail d ON c.serialNum=d.clauseSettlementSerial
	WHERE a.serialNum=#{orderId}
	AND d.delFlg='0'
    </select>
    
    <!--查询结算条款详情  -->
    <select id="selectClauseDetail" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ClauseSettlement">
    SELECT
	serialNum,deliveryAmount AS totalAmount
	FROM
	clauseSettlementDetail
	WHERE
	serialNum=#{serialNum}
	AND delFlg='0'
    </select>
    
    <!--查询付款列表  -->
    <select id="selectAllPaymentRecordList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.PaymentRecord">
    SELECT
	a.serialNum,a.paymentNum,b.paymentPlanNum,c.orderNum,a.paymentType,b.paymentStyle,a.billStyle,
	a.invoiceSerial,a.applicant,a.applyDate,a.supplyComId,b.paymentAmount,a.status
	FROM
	paymentRecord a
	LEFT JOIN paymentPlan b ON a.paymentPlanSerial=b.serialNum
	LEFT JOIN orderInfo c ON b.orderSerial=c.serialNum
	WHERE a.delFlg='0'
	AND
	a.creator=#{userId}
    </select>
    
    <!--通过id查询付款详情  -->
    <select id="selectPayById" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.PaymentRecord">
     SELECT
	a.serialNum,a.paymentNum,b.paymentPlanNum,c.orderNum,c.serialNum AS orderSerial,a.paymentType,b.paymentStyle,a.billStyle,a.invoiceSerial,a.applicant,
	a.applyDate,a.supplyComId,b.paymentAmount,a.status,a.isBill,a.paymentVoucher,a.remark,d.paymentType AS clausePaymentType,b.serialNum AS paymentPlanSerial,
	d.deliveryNode,d.accountPeriod,d.deliveryRate,d.deliveryAmount,d.paymentMethod,d.billingMethod,d.billingAmount,
	d.unbilledAmount,d.remark AS clauseRemark,d.status AS clauseStatus,d.serialNum AS clauseSettlementDetailSerialNum
	FROM
	paymentRecord a
	LEFT JOIN paymentPlan b ON a.paymentPlanSerial=b.serialNum
	LEFT JOIN orderInfo c ON b.orderSerial=c.serialNum
	LEFT JOIN clauseSettlementDetail d ON b.clauseSettlementSerial=d.serialNum
	WHERE a.serialNum=#{serialNum}
    </select>
    
    
    <!--删除付款  -->
    <update id="delPaymentRecord" parameterType="java.util.List">
    	UPDATE paymentRecord 
    	SET delFlg='1'
    	where serialNum in
        <foreach item="idList" collection="list" open="(" close=")" separator=",">
            #{idList}
        </foreach>
    </update>
    
    
    <!--更新付款计划  -->
    <update id="updatePaymentPlan" parameterType="com.congmai.zhgj.web.model.PaymentPlan">
    UPDATE
	paymentPlan
	SET
	orderSerial=#{orderSerial},
	paymentPlanNum=#{paymentPlanNum},
	paymentStyle=#{paymentStyle},
	supplyComId=#{supplyComId},
	buyComId=#{buyComId},
	paymentAmount=#{paymentAmount},
	clauseSettlementSerial=#{clauseSettlementSerial},
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{serialNum}
    </update>
    
    
    <!--更新付款  -->
    <update id="updatePaymentRecord" parameterType="com.congmai.zhgj.web.model.PaymentRecord">
    UPDATE
	paymentRecord
	SET
	paymentNum=#{paymentNum},
	paymentType=#{paymentType},
	isBill=#{isBill},
	billStyle=#{billStyle},
	invoiceSerial=#{invoiceSerial},
	applicant=#{applicant},
	applyDate=#{applyDate},
	remark=#{remark},
	paymentVoucher=#{paymentVoucher},
	supplyComId=#{supplyComId},
	buyComId=#{buyComId},
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{serialNum}
    </update>
</mapper>