<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.PayMapper">
    
    <!--添加应付款  -->
    <insert id="insertPaymentRecord" parameterType="com.congmai.zhgj.web.model.PaymentRecord">
    INSERT INTO paymentRecord(serialNum,paymentNum,supplyComId,buyComId,invoiceSerial,paymentType,billStyle,paymentDate,paymentPlanSerial,
    isBill,approver,approvalDate,applyDate,applicant,paymentVoucher,remark,status,creator,createTime,updater,updateTime) 
    VALUES(#{serialNum},#{paymentNum},#{supplyComId},#{buyComId},#{invoiceSerial},#{paymentType},#{billStyle},#{paymentDate},#{paymentPlanSerial},
    #{isBill},#{approver},#{approvalDate},#{applyDate},#{applicant},#{paymentVoucher},#{remark},'0',#{creator},NOW(),#{creator},NOW())
    </insert>
    
    
    <insert id="insertPaymentPlan" parameterType="com.congmai.zhgj.web.model.PaymentPlan">
    INSERT INTO paymentPlan(serialNum,paymentPlanNum,paymentAmount,supplyComId,buyComId,paymentStyle,orderSerial,clauseSettlementSerial,creator,createTime,updater,updateTime)
    VALUES(#{serialNum},#{paymentPlanNum},#{paymentAmount},#{supplyComId},#{buyComId},#{paymentStyle},#{orderSerial},#{clauseSettlementSerial},#{creator},NOW(),#{creator},NOW())
    </insert>
    
    <!--查询合同列表  -->
   <select id="selectClauseSettlementDetailList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ClauseSettlementDetail">
    SELECT 
	d.serialNum,d.paymentType,d.deliveryNode,d.accountPeriod,d.deliveryRate,d.deliveryAmount,d.paymentMethod,d.billingMethod,
	d.billingAmount,d.unbilledAmount,d.remark,d.status
	FROM
	orderInfo a
	LEFT JOIN contract b ON a.contractSerial=b.serialNum
	LEFT JOIN clauseSettlement c ON b.serialNum=c.contractSerial
	LEFT JOIN clauseSettlementDetail d ON c.serialNum=d.clauseSettlementSerial
	WHERE a.serialNum=#{orderId}
	AND d.delFlg='0'
    </select>
    
    
    <select id="selectClauseDetail" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ClauseSettlement">
    SELECT
	serialNum,deliveryAmount AS totalAmount
	FROM
	clauseSettlementDetail
	WHERE
	serialNum=#{serialNum}
	AND delFlg='0'
    </select>
    
    <select id="selectAllPaymentRecordList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.PaymentRecord">
    SELECT
	a.serialNum,a.paymentNum,b.paymentPlanNum,c.orderNum,a.paymentType,b.paymentStyle,a.billStyle,
	a.invoiceSerial,a.applicant,a.applyDate,a.supplyComId,b.paymentAmount,a.status
	FROM
	paymentRecord a
	LEFT JOIN paymentPlan b ON a.paymentPlanSerial=b.serialNum
	LEFT JOIN orderInfo c ON b.orderSerial=c.serialNum
	WHERE a.delFlg='0'
	AND
	a.creator=#{userId}
    </select>
    
    
    <select id="selectPayById" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.PaymentRecord">
     SELECT
	a.serialNum,a.paymentNum,b.paymentPlanNum,c.orderNum,a.paymentType,b.paymentStyle,a.billStyle,a.invoiceSerial,a.applicant,
	a.applyDate,a.supplyComId,b.paymentAmount,a.status,a.isBill,a.paymentVoucher,a.remark,d.paymentType AS clausePaymentType,
	d.deliveryNode,d.accountPeriod,d.deliveryRate,d.deliveryAmount,d.paymentMethod,d.billingMethod,d.billingAmount,
	d.unbilledAmount,d.remark AS clauseRemark,d.status AS clauseStatus
	FROM
	paymentRecord a
	LEFT JOIN paymentPlan b ON a.paymentPlanSerial=b.serialNum
	LEFT JOIN orderInfo c ON b.orderSerial=c.serialNum
	LEFT JOIN clauseSettlementDetail d ON b.clauseSettlementSerial=d.serialNum
	WHERE a.serialNum=#{serialNum}
    </select>
    
    
    <!--删除合同  -->
    <update id="delPaymentRecord" parameterType="java.util.List">
    	UPDATE paymentRecord 
    	SET delFlg='1'
    	where serialNum in
        <foreach item="idList" collection="list" open="(" close=")" separator=",">
            #{idList}
        </foreach>
    </update>
    
    <!--查询合同对象  -->
    <!-- <select id="selectContractById" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ContractVO">
    SELECT 
    serialNum AS Id,
	contractNum,
	contractType,
	serviceModel,
	comId,
	settlementClause,
	signerAddress,
	startDate,
	endDate,
	signDate,
	signer,
	remark,
	electronicContract,
	signContract
	FROM
	contract
	WHERE 
	serialNum=#{id}
    </select> -->
    
    <!--更新合同  -->
   <!--  <update id="updateContract" parameterType="com.congmai.zhgj.web.model.ContractVO">
    UPDATE
	contract
	SET
	contractNum=#{contractNum},
	comId=#{comId},
	contractType=#{contractType},
	<if test="serviceModel!=null and serviceModel!=''">  
    serviceModel=#{serviceModel},
    </if> 
	<if test="settlementClause!=null and settlementClause!=''">  
    settlementClause=#{settlementClause},
    </if> 
    <if test="signerAddress!=null and signerAddress!=''">  
    signerAddress=#{signerAddress},
    </if>
	startDate=#{startDate},
	endDate=#{endDate},
	signDate=#{signDate},
	signer=#{signer},
	
	<if test="electronicContract!=null and electronicContract!=''">  
    electronicContract = #{electronicContract},  
    </if> 
    
    <if test="electronicContract!=null and electronicContract!=''">  
    signContract = #{signContract},  
    </if> 
	
	versionNO=versionNO+1,
	remark=#{remark},
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{id}
    </update> -->
</mapper>