<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.PriceListMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.PriceList" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="supplyComId" property="supplyComId" jdbcType="VARCHAR" />
    <result column="buyComId" property="buyComId" jdbcType="VARCHAR" />
    <result column="priceDescribe" property="priceDescribe" jdbcType="VARCHAR" />
    <result column="materielSerial" property="materielSerial" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="priceEffectiveDate" property="priceEffectiveDate" jdbcType="DATE" />
    <result column="priceExpirationDate" property="priceExpirationDate" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="file" property="file" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serialNum, supplyComId, buyComId, priceDescribe, materielSerial, price, priceEffectiveDate, 
    priceExpirationDate, remark, file, delFlg, creator, createTime, updater, updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.PriceListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pricelist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pricelist
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pricelist
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.congmai.zhgj.web.model.PriceListExample" >
    delete from pricelist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.congmai.zhgj.web.model.PriceList" >
    insert into pricelist (serialNum, supplyComId, buyComId, 
      priceDescribe, materielSerial, price, 
      priceEffectiveDate, priceExpirationDate, remark, 
      file, delFlg, creator, 
      createTime, updater, updateTime
      )
    values (#{serialNum,jdbcType=VARCHAR}, #{supplyComId,jdbcType=VARCHAR}, #{buyComId,jdbcType=VARCHAR}, 
      #{priceDescribe,jdbcType=VARCHAR}, #{materielSerial,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{priceEffectiveDate,jdbcType=DATE}, #{priceExpirationDate,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, 
      #{file,jdbcType=VARCHAR}, #{delFlg,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.PriceList" >
    insert into pricelist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serialNum,
      </if>
      <if test="supplyComId != null" >
        supplyComId,
      </if>
      <if test="buyComId != null" >
        buyComId,
      </if>
      <if test="priceDescribe != null" >
        priceDescribe,
      </if>
      <if test="materielSerial != null" >
        materielSerial,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="priceEffectiveDate != null" >
        priceEffectiveDate,
      </if>
      <if test="priceExpirationDate != null" >
        priceExpirationDate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="file != null" >
        file,
      </if>
      <if test="delFlg != null" >
        delFlg,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="supplyComId != null" >
        #{supplyComId,jdbcType=VARCHAR},
      </if>
      <if test="buyComId != null" >
        #{buyComId,jdbcType=VARCHAR},
      </if>
      <if test="priceDescribe != null" >
        #{priceDescribe,jdbcType=VARCHAR},
      </if>
      <if test="materielSerial != null" >
        #{materielSerial,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="priceEffectiveDate != null" >
        #{priceEffectiveDate,jdbcType=DATE},
      </if>
      <if test="priceExpirationDate != null" >
        #{priceExpirationDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="file != null" >
        #{file,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.congmai.zhgj.web.model.PriceListExample" resultType="java.lang.Integer" >
    select count(*) from pricelist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pricelist
    <set >
      <if test="record.serialNum != null" >
        serialNum = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.supplyComId != null" >
        supplyComId = #{record.supplyComId,jdbcType=VARCHAR},
      </if>
      <if test="record.buyComId != null" >
        buyComId = #{record.buyComId,jdbcType=VARCHAR},
      </if>
      <if test="record.priceDescribe != null" >
        priceDescribe = #{record.priceDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.materielSerial != null" >
        materielSerial = #{record.materielSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.priceEffectiveDate != null" >
        priceEffectiveDate = #{record.priceEffectiveDate,jdbcType=DATE},
      </if>
      <if test="record.priceExpirationDate != null" >
        priceExpirationDate = #{record.priceExpirationDate,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.file != null" >
        file = #{record.file,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlg != null" >
        delFlg = #{record.delFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pricelist
    set serialNum = #{record.serialNum,jdbcType=VARCHAR},
      supplyComId = #{record.supplyComId,jdbcType=VARCHAR},
      buyComId = #{record.buyComId,jdbcType=VARCHAR},
      priceDescribe = #{record.priceDescribe,jdbcType=VARCHAR},
      materielSerial = #{record.materielSerial,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      priceEffectiveDate = #{record.priceEffectiveDate,jdbcType=DATE},
      priceExpirationDate = #{record.priceExpirationDate,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR},
      file = #{record.file,jdbcType=VARCHAR},
      delFlg = #{record.delFlg,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.PriceList" >
    update pricelist
    <set >
      <if test="supplyComId != null" >
        supplyComId = #{supplyComId,jdbcType=VARCHAR},
      </if>
      <if test="buyComId != null" >
        buyComId = #{buyComId,jdbcType=VARCHAR},
      </if>
      <if test="priceDescribe != null" >
        priceDescribe = #{priceDescribe,jdbcType=VARCHAR},
      </if>
      <if test="materielSerial != null" >
        materielSerial = #{materielSerial,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="priceEffectiveDate != null" >
        priceEffectiveDate = #{priceEffectiveDate,jdbcType=DATE},
      </if>
      <if test="priceExpirationDate != null" >
        priceExpirationDate = #{priceExpirationDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="file != null" >
        file = #{file,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.PriceList" >
    update pricelist
    set supplyComId = #{supplyComId,jdbcType=VARCHAR},
      buyComId = #{buyComId,jdbcType=VARCHAR},
      priceDescribe = #{priceDescribe,jdbcType=VARCHAR},
      materielSerial = #{materielSerial,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      priceEffectiveDate = #{priceEffectiveDate,jdbcType=DATE},
      priceExpirationDate = #{priceExpirationDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      file = #{file,jdbcType=VARCHAR},
      delFlg = #{delFlg,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <delete id="deletePriceList" parameterType="java.util.List">
    	delete from warehouse where serialNum in
        <foreach item="idList" collection="list" open="(" close=")" separator=",">
            #{idList}
        </foreach>
    </delete>
</mapper>