<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.ProcessBaseMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.ProcessBase" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="processInstanceId" property="processInstanceId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="applyDate" property="applyDate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serialNum, reason, processInstanceId, userId, applyDate, status
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from processBase
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from processBase
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.congmai.zhgj.web.model.BaseVO" >
    insert into processBase (serialNum, reason, processInstanceId, 
      userId, applyDate, status
      )
    values (#{serialNum,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, #{processInstanceId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{applyDate,jdbcType=DATE}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.BaseVO" >
    insert into processBase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serialNum,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="processInstanceId != null" >
        processInstanceId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="applyDate != null" >
        applyDate,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="processInstanceId != null" >
        #{processInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByExampleSelective" parameterType="map" >
    update processBase
    <set >
      <if test="record.serialNum != null" >
        serialNum = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.processInstanceId != null" >
        processInstanceId = #{record.processInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        userId = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.applyDate != null" >
        applyDate = #{record.applyDate,jdbcType=DATE},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update processBase
    set serialNum = #{record.serialNum,jdbcType=VARCHAR},
      reason = #{record.reason,jdbcType=VARCHAR},
      processInstanceId = #{record.processInstanceId,jdbcType=VARCHAR},
      userId = #{record.userId,jdbcType=INTEGER},
      applyDate = #{record.applyDate,jdbcType=DATE},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.BaseVO" >
    update processBase
    <set >
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="processInstanceId != null" >
        processInstanceId = #{processInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="applyDate != null" >
        applyDate = #{applyDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.BaseVO" >
    update processBase
    set reason = #{reason,jdbcType=VARCHAR},
      processInstanceId = #{processInstanceId,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=INTEGER},
      applyDate = #{applyDate,jdbcType=DATE},
      status = #{status,jdbcType=VARCHAR}
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  
  <select id="findFinishedTaskInstancesDiy" resultType="com.congmai.zhgj.web.model.HistoricTaskVO" parameterType="java.util.Map" >
  SELECT DISTINCT
		RES.PROC_INST_ID_ as processInstanceId,
		RES.ID_ as taskId,
		RES.START_TIME_ as startTime,
		RES.CLAIM_TIME_ as claimTime,
		RES.END_TIME_ as endTime,
		RES.DELETE_REASON_ as deleteReason,
        RES.PROC_DEF_ID_ as processDefId
	FROM
		ACT_HI_TASKINST RES
	WHERE
		RES.ASSIGNEE_ = #{userId,jdbcType=INTEGER}
	AND RES.END_TIME_ IS NOT NULL
	<if test="businessType != null" >
       AND UPPER(RES.PROC_DEF_ID_) LIKE CONCAT('%',UPPER(#{businessType,jdbcType=VARCHAR}),'%')
     </if>
	ORDER BY
		RES.END_TIME_ DESC
	</select>
	
	<insert id="insertHistoricTask" parameterType="com.congmai.zhgj.web.model.HistoricTaskVO" >
    insert into ACT_HI_TASKINST (ID_, PROC_INST_ID_, PROC_DEF_ID_,START_TIME_, 
      END_TIME_, CLAIM_TIME_, DELETE_REASON_,ASSIGNEE_
      )
    values (#{taskId,jdbcType=VARCHAR}, #{processInstanceId,jdbcType=VARCHAR}, #{processDefId,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{claimTime,jdbcType=TIMESTAMP}, #{deleteReason,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
</mapper>