<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.ProcurementPlanMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.ProcurementPlan" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="saleOrderSerial" property="saleOrderSerial" jdbcType="VARCHAR" />
    <result column="procurementPlanNum" property="procurementPlanNum" jdbcType="VARCHAR" />
    <result column="buyCount" property="buyCount" jdbcType="VARCHAR" />
    <result column="buyDate" property="buyDate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="endCount" property="endCount" jdbcType="VARCHAR" />
    <result column="endDate" property="endDate" jdbcType="TIMESTAMP" />
    <result column="maker" property="maker" jdbcType="VARCHAR" />
    <!-- <association property="saleOrder" column="saleOrderSerial" select="com.congmai.zhgj.web.dao.OrderInfoMapper.selectByPrimaryKey"/>  -->
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.congmai.zhgj.web.model.ProcurementPlan" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="saleOrderSerial" property="saleOrderSerial" jdbcType="VARCHAR" />
    <result column="procurementPlanNum" property="procurementPlanNum" jdbcType="VARCHAR" />
    <result column="buyCount" property="buyCount" jdbcType="VARCHAR" />
    <result column="buyDate" property="buyDate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="endCount" property="endCount" jdbcType="VARCHAR" />
    <result column="endDate" property="endDate" jdbcType="TIMESTAMP" />
    <result column="maker" property="maker" jdbcType="VARCHAR" />
    <!-- <association property="saleOrder" column="saleOrderSerial" select="com.congmai.zhgj.web.dao.OrderInfoMapper.selectByPrimaryKey"/>  -->
    <association property="materielName" column="serialNum" select="com.congmai.zhgj.web.dao.DemandMaterielMapper.selectMaterielNameByProcurementPlanSerial"/>
  	<association property="buyOrderCount" column="serialNum" select="com.congmai.zhgj.web.dao.OrderInfoMapper.getBuyOrderCountByProcurementPlanSerial"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serialNum, saleOrderSerial,procurementPlanNum, buyCount, buyDate, status, remark, delFlg, creator, createTime, 
    updater, updateTime,endCount,endDate,maker
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap1" parameterType="com.congmai.zhgj.web.model.ProcurementPlanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from procurementPlan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from procurementPlan
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from procurementPlan
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.congmai.zhgj.web.model.ProcurementPlanExample" >
    delete from procurementPlan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.congmai.zhgj.web.model.ProcurementPlan" >
    insert into procurementPlan (serialNum, saleOrderSerial,procurementPlanNum, buyCount, 
      buyDate, status, remark, 
      creator, createTime, 
      updater, updateTime,endCount,endDate,maker)
    values (#{serialNum,jdbcType=VARCHAR}, #{saleOrderSerial,jdbcType=VARCHAR}, #{procurementPlanNum,jdbcType=VARCHAR}, #{buyCount,jdbcType=VARCHAR}, 
      #{buyDate,jdbcType=DATE}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},#{endCount,jdbcType=VARCHAR},#{endDate,jdbcType=TIMESTAMP},#{maker,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.ProcurementPlan" >
    insert into procurementPlan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serialNum,
      </if>
      <if test="saleOrderSerial != null" >
        saleOrderSerial,
      </if>
      <if test="procurementPlanNum != null" >
        procurementPlanNum,
      </if>
      <if test="buyCount != null" >
        buyCount,
      </if>
      <if test="buyDate != null" >
        buyDate,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="delFlg != null" >
        delFlg,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        updateTime,
          </if>
        <if test="endCount != null" >
        endCount,
      </if>
      <if test="endDate != null" >
        endDate,
      </if>
      <if test="maker != null" >
        maker,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="saleOrderSerial != null" >
        #{saleOrderSerial,jdbcType=VARCHAR},
      </if>
      <if test="procurementPlanNum != null" >
        #{procurementPlanNum,jdbcType=VARCHAR},
      </if>
      <if test="buyCount != null" >
        #{buyCount,jdbcType=VARCHAR},
      </if>
      <if test="buyDate != null" >
        #{buyDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
       <if test="endCount != null" >
         #{endCount,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
       #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="maker != null" >
        #{maker,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.congmai.zhgj.web.model.ProcurementPlanExample" resultType="java.lang.Integer" >
    select count(*) from procurementPlan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update procurementPlan
    <set >
      <if test="record.serialNum != null" >
        serialNum = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.saleOrderSerial != null" >
        saleOrderSerial = #{record.saleOrderSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.procurementPlanNum != null" >
        procurementPlanNum = #{record.procurementPlanNum,jdbcType=VARCHAR},
      </if>
      <if test="record.buyCount != null" >
        buyCount = #{record.buyCount,jdbcType=VARCHAR},
      </if>
      <if test="record.buyDate != null" >
        buyDate = #{record.buyDate,jdbcType=DATE},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlg != null" >
        delFlg = #{record.delFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
        <if test="record.endCount != null" >
        endCount = #{record.endCount,jdbcType=VARCHAR},
      </if>
      <if test="record.endDate != null" >
      endDate = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.maker != null" >
      maker = #{record.maker,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update procurementPlan
    set serialNum = #{record.serialNum,jdbcType=VARCHAR},
      saleOrderSerial = #{record.saleOrderSerial,jdbcType=VARCHAR},
		procurementPlanNum = #{record.procurementPlanNum,jdbcType=VARCHAR},	
      buyCount = #{record.buyCount,jdbcType=VARCHAR},
      buyDate = #{record.buyDate,jdbcType=DATE},
      status = #{record.status,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      delFlg = #{record.delFlg,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
        endCount = #{record.endCount,jdbcType=VARCHAR},
      endDate = #{record.endDate,jdbcType=TIMESTAMP},
      maker = #{record.maker,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.ProcurementPlan" >
    update procurementPlan
    <set >
      <if test="saleOrderSerial != null" >
        saleOrderSerial = #{saleOrderSerial,jdbcType=VARCHAR},
      </if>
      <if test="procurementPlanNum != null" >
        procurementPlanNum = #{procurementPlanNum,jdbcType=VARCHAR},
      </if>
      <if test="buyCount != null" >
        buyCount = #{buyCount,jdbcType=VARCHAR},
      </if>
      <if test="buyDate != null" >
        buyDate = #{buyDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
       <if test="endCount != null" >
        endCount = #{endCount,jdbcType=VARCHAR},
      </if>
       <if test="endDate != null" >
        endDate = #{endDate,jdbcType=TIMESTAMP},
      </if>
       <if test="maker != null" >
        maker = #{maker,jdbcType=VARCHAR},
      </if>
    </set>
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.ProcurementPlan" >
    update procurementPlan
    set saleOrderSerial = #{saleOrderSerial,jdbcType=VARCHAR},
    procurementPlanNum = #{procurementPlanNum,jdbcType=VARCHAR},
      buyCount = #{buyCount,jdbcType=VARCHAR},
      buyDate = #{buyDate,jdbcType=DATE},
      status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      delFlg = #{delFlg,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
        endCount = #{endCount,jdbcType=VARCHAR},
        endDate = #{endDate,jdbcType=TIMESTAMP},
        maker = #{maker,jdbcType=VARCHAR}
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
</mapper>