<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.PurchaseForecastMapper">
    
    <!--添加合同  -->
    <!-- <insert id="insertContract" parameterType="com.congmai.zhgj.web.model.ContractVO">
    INSERT INTO contract(serialNum,  comId,   contractNum,    contractType,  serviceModel,   settlementClause,  startDate,  endDate,   signDate,   signer,    remark,  electronicContract,  signContract,versionNO,status, isLatestVersion,creator,createTime,updater,updateTime) 
                VALUES(#{id},#{comId},#{contractNum},#{contractType},#{serviceModel},#{settlementClause},#{startDate},#{endDate},#{signDate},#{signer},#{remark},#{electronicContract},#{signContract},   '1','0',  '1',        #{creator},NOW(),#{creator},NOW())
    </insert> -->
    
    <!--查询采购预测列表  -->
   <select id="queryPurchaseForecastList" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.DemandPlanMateriel">
    SELECT 
	c.materielNum,c.materielName,c.specifications,(SELECT comName FROM company WHERE comId=b.buyComId) AS comName,
	a.deliveryDate,a.deliveryAddress,a.creator,a.serialNum,a.amount
	FROM
	demandPlanMateriel a 
	LEFT JOIN demandPlan b ON a.demandPlanSerial=b.serialNum AND a.delFlg='0' AND b.delFlg='0'
	LEFT JOIN materiel c ON a.materielSerial=c.serialNum  AND c.delFlg='0'
	WHERE a.deliveryDate&gt;=NOW()
	AND a.delFlg='0'
    </select>
    
    <!--删除采购预测  -->
    <update id="deletePurchaseForecast" parameterType="java.util.List">
    	UPDATE demandPlanMateriel set delFlg='1'
    	where serialNum in
        <foreach item="idList" collection="list" open="(" close=")" separator=",">
            #{idList}
        </foreach>
    </update>
    
    <!--查询合同对象  -->
    <!-- <select id="selectContractById" parameterType="java.lang.String" resultType="com.congmai.zhgj.web.model.ContractVO">
    SELECT 
    serialNum AS Id,
	contractNum,
	contractType,
	serviceModel,
	comId,
	settlementClause,
	startDate,
	endDate,
	signDate,
	signer,
	remark,
	electronicContract,
	signContract
	FROM
	contract
	WHERE 
	serialNum=#{id}
    </select> -->
    
    <!--更新合同  -->
    <!-- <update id="updateContract" parameterType="com.congmai.zhgj.web.model.ContractVO">
    UPDATE
	contract
	SET
	contractNum=#{contractNum},
	comId=#{comId},
	contractType=#{contractType},
	serviceModel=#{serviceModel},
	settlementClause=#{settlementClause},
	startDate=#{startDate},
	endDate=#{endDate},
	signDate=#{signDate},
	signer=#{signer},
	
	<if test="electronicContract!=null and electronicContract!=''">  
    electronicContract = #{electronicContract},  
    </if> 
    
    <if test="electronicContract!=null and electronicContract!=''">  
    signContract = #{signContract},  
    </if> 
	
	versionNO=versionNO+1,
	remark=#{remark},
	updater=#{updater},
	updateTime=NOW()
	WHERE
	serialNum=#{id}
    </update> -->
</mapper>