<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.Role">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="num" property="num" jdbcType="INTEGER" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="deptid" property="deptid" jdbcType="INTEGER" />
        <result column="tips" property="tips" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
    </resultMap>
    <!-- 通过角色id 查询角色信息 -->
    <select id="selectRoleById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT r.* FROM role r 
        WHERE r.id = #{id,jdbcType=INTEGER}
    </select>
</mapper>