<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.SupplyMaterielMapper" >
  <resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.SupplyMateriel" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="materielId" property="materielId" jdbcType="VARCHAR" />
    <result column="supplyComId" property="supplyComId" jdbcType="VARCHAR" />
    <result column="supplyMaterielNum" property="supplyMaterielNum" jdbcType="VARCHAR" />
    <result column="packageNum" property="packageNum" jdbcType="VARCHAR" />
    <result column="packageSpecifications" property="packageSpecifications" jdbcType="VARCHAR" />
    <result column="packageUnit" property="packageUnit" jdbcType="VARCHAR" />
    <result column="packagewidth" property="packagewidth" jdbcType="VARCHAR" />
    <result column="packageheight" property="packageheight" jdbcType="VARCHAR" />
    <result column="packagelength" property="packagelength" jdbcType="VARCHAR" />
    <result column="packagevolume" property="packagevolume" jdbcType="VARCHAR" />
    <result column="packageUnitConversion" property="packageUnitConversion" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="materielName" property="materielName" jdbcType="VARCHAR" />
    <result column="specifications" property="specifications" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="category1" property="category1" jdbcType="VARCHAR" />
    <result column="category2" property="category2" jdbcType="VARCHAR" />
    <result column="category3" property="category3" jdbcType="VARCHAR" />
    <result column="unitPriceGuide" property="unitPriceGuide" jdbcType="VARCHAR" />
    <result column="purchaseQuota" property="purchaseQuota" jdbcType="VARCHAR" />
    <result column="moq" property="moq" jdbcType="VARCHAR" />
    <association property="supply" column="supplyComId" select="com.congmai.zhgj.web.dao.CompanyMapper.selectByPrimaryKey"/>
    <association property="materiel" column="materielId" select="com.congmai.zhgj.web.dao.MaterielMapper.selectByMaterielId"/> 
    <association property="typeName" column="type" select="com.congmai.zhgj.web.dao.CategoryMapper.selectNameByPrimaryKey"/>
    <association property="categoryName1" column="category1" select="com.congmai.zhgj.web.dao.CategoryMapper.selectNameByPrimaryKey"/>
    <association property="categoryName2" column="category2" select="com.congmai.zhgj.web.dao.CategoryMapper.selectNameByPrimaryKey"/>
    <association property="categoryName3" column="category3" select="com.congmai.zhgj.web.dao.CategoryMapper.selectNameByPrimaryKey"/>
  </resultMap>
  
  
  <resultMap id="SupplyMaterielMap" type="com.congmai.zhgj.web.model.SupplyMateriel" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="materielId" property="materielId" jdbcType="VARCHAR" />
    <result column="supplyComId" property="supplyComId" jdbcType="VARCHAR" />
    <result column="supplyMaterielNum" property="supplyMaterielNum" jdbcType="VARCHAR" />
    <result column="packageNum" property="packageNum" jdbcType="VARCHAR" />
    <result column="packageSpecifications" property="packageSpecifications" jdbcType="VARCHAR" />
    <result column="packageUnit" property="packageUnit" jdbcType="VARCHAR" />
    <result column="packagewidth" property="packagewidth" jdbcType="VARCHAR" />
    <result column="packageheight" property="packageheight" jdbcType="VARCHAR" />
    <result column="packagelength" property="packagelength" jdbcType="VARCHAR" />
    <result column="packagevolume" property="packagevolume" jdbcType="VARCHAR" />
    <result column="packageUnitConversion" property="packageUnitConversion" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="materielName" property="materielName" jdbcType="VARCHAR" />
    <result column="specifications" property="specifications" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="category1" property="category1" jdbcType="VARCHAR" />
    <result column="category2" property="category2" jdbcType="VARCHAR" />
    <result column="category3" property="category3" jdbcType="VARCHAR" />
    <result column="unitPriceGuide" property="unitPriceGuide" jdbcType="VARCHAR" />
    <result column="purchaseQuota" property="purchaseQuota" jdbcType="VARCHAR" />
    <result column="moq" property="moq" jdbcType="VARCHAR" />
    <association property="supply" column="supplyComId" select="com.congmai.zhgj.web.dao.CompanyMapper.selectByPrimaryKey"/>
    <association property="typeName" column="type" select="com.congmai.zhgj.web.dao.CategoryMapper.selectNameByPrimaryKey"/>
    <association property="categoryName1" column="category1" select="com.congmai.zhgj.web.dao.CategoryMapper.selectNameByPrimaryKey"/>
    <association property="categoryName2" column="category2" select="com.congmai.zhgj.web.dao.CategoryMapper.selectNameByPrimaryKey"/>
    <association property="categoryName3" column="category3" select="com.congmai.zhgj.web.dao.CategoryMapper.selectNameByPrimaryKey"/>
  </resultMap>
  
  
  <resultMap id="SupplyMaterielMap4materielList" type="com.congmai.zhgj.web.model.SupplyMateriel" >
    <id column="serialNum" property="serialNum" jdbcType="VARCHAR" />
    <result column="materielId" property="materielId" jdbcType="VARCHAR" />
    <result column="supplyComId" property="supplyComId" jdbcType="VARCHAR" />
    <result column="supplyMaterielNum" property="supplyMaterielNum" jdbcType="VARCHAR" />
    <result column="packageNum" property="packageNum" jdbcType="VARCHAR" />
    <result column="packageSpecifications" property="packageSpecifications" jdbcType="VARCHAR" />
    <result column="packageUnit" property="packageUnit" jdbcType="VARCHAR" />
    <result column="packagewidth" property="packagewidth" jdbcType="VARCHAR" />
    <result column="packageheight" property="packageheight" jdbcType="VARCHAR" />
    <result column="packagelength" property="packagelength" jdbcType="VARCHAR" />
    <result column="packagevolume" property="packagevolume" jdbcType="VARCHAR" />
    <result column="packageUnitConversion" property="packageUnitConversion" jdbcType="VARCHAR" />
    <result column="delFlg" property="delFlg" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="materielName" property="materielName" jdbcType="VARCHAR" />
    <result column="specifications" property="specifications" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="category1" property="category1" jdbcType="VARCHAR" />
    <result column="category2" property="category2" jdbcType="VARCHAR" />
    <result column="category3" property="category3" jdbcType="VARCHAR" />
    <result column="unitPriceGuide" property="unitPriceGuide" jdbcType="VARCHAR" />
    <result column="purchaseQuota" property="purchaseQuota" jdbcType="VARCHAR" />
    <result column="moq" property="moq" jdbcType="VARCHAR" />
    <association property="supply" column="supplyComId" select="com.congmai.zhgj.web.dao.CompanyMapper.selectByPrimaryKey"/>
    <!-- <association property="typeName" column="type" select="com.congmai.zhgj.web.dao.CategoryMapper.selectNameByPrimaryKey"/>
    <association property="categoryName1" column="category1" select="com.congmai.zhgj.web.dao.CategoryMapper.selectNameByPrimaryKey"/>
    <association property="categoryName2" column="category2" select="com.congmai.zhgj.web.dao.CategoryMapper.selectNameByPrimaryKey"/>
    <association property="categoryName3" column="category3" select="com.congmai.zhgj.web.dao.CategoryMapper.selectNameByPrimaryKey"/> -->
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serialNum, materielId, supplyComId, supplyMaterielNum, packageNum, packageSpecifications, 
    packageUnit, packagewidth, packageheight, packagelength, packagevolume, packageUnitConversion, 
    delFlg, creator, createTime, updater, updateTime, remark, materielName, specifications, 
    unit, type, category1, category2, category3, unitPriceGuide, purchaseQuota, moq
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.congmai.zhgj.web.model.SupplyMaterielExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from supplyMateriel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
    
  
  <select id="selectSupplyMaterielByMaterielId" resultMap="SupplyMaterielMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from supplyMateriel
    where 
    materielId = #{materielId,jdbcType=VARCHAR}
    and delFlg = '0'
  </select>
  
  <select id="selectSupplyMaterielByMaterielId4materielList" resultMap="SupplyMaterielMap4materielList" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from supplyMateriel
    where 
    materielId = #{materielId,jdbcType=VARCHAR}
    and delFlg = '0'
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from supplyMateriel
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from supplyMateriel
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.congmai.zhgj.web.model.SupplyMaterielExample" >
    delete from supplyMateriel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.congmai.zhgj.web.model.SupplyMateriel" >
    insert into supplyMateriel (serialNum, materielId, supplyComId, 
      supplyMaterielNum, packageNum, packageSpecifications, 
      packageUnit, packagewidth, packageheight, 
      packagelength, packagevolume, packageUnitConversion, 
      creator, createTime, 
      updater, updateTime, remark, 
      materielName, specifications, unit, 
      type, category1, category2, 
      category3, unitPriceGuide, purchaseQuota, 
      moq,sort)
    values (#{serialNum,jdbcType=VARCHAR}, #{materielId,jdbcType=VARCHAR}, #{supplyComId,jdbcType=VARCHAR}, 
      #{supplyMaterielNum,jdbcType=VARCHAR}, #{packageNum,jdbcType=VARCHAR}, #{packageSpecifications,jdbcType=VARCHAR}, 
      #{packageUnit,jdbcType=VARCHAR}, #{packagewidth,jdbcType=VARCHAR}, #{packageheight,jdbcType=VARCHAR}, 
      #{packagelength,jdbcType=VARCHAR}, #{packagevolume,jdbcType=VARCHAR}, #{packageUnitConversion,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{materielName,jdbcType=VARCHAR}, #{specifications,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{category1,jdbcType=VARCHAR}, #{category2,jdbcType=VARCHAR}, 
      #{category3,jdbcType=VARCHAR}, #{unitPriceGuide,jdbcType=VARCHAR}, #{purchaseQuota,jdbcType=VARCHAR}, 
      #{moq,jdbcType=VARCHAR},#{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.congmai.zhgj.web.model.SupplyMateriel" >
    insert into supplyMateriel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        serialNum,
      </if>
      <if test="materielId != null" >
        materielId,
      </if>
      <if test="supplyComId != null" >
        supplyComId,
      </if>
      <if test="supplyMaterielNum != null" >
        supplyMaterielNum,
      </if>
      <if test="packageNum != null" >
        packageNum,
      </if>
      <if test="packageSpecifications != null" >
        packageSpecifications,
      </if>
      <if test="packageUnit != null" >
        packageUnit,
      </if>
      <if test="packagewidth != null" >
        packagewidth,
      </if>
      <if test="packageheight != null" >
        packageheight,
      </if>
      <if test="packagelength != null" >
        packagelength,
      </if>
      <if test="packagevolume != null" >
        packagevolume,
      </if>
      <if test="packageUnitConversion != null" >
        packageUnitConversion,
      </if>
      <if test="delFlg != null" >
        delFlg,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="materielName != null" >
        materielName,
      </if>
      <if test="specifications != null" >
        specifications,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="category1 != null" >
        category1,
      </if>
      <if test="category2 != null" >
        category2,
      </if>
      <if test="category3 != null" >
        category3,
      </if>
      <if test="unitPriceGuide != null" >
        unitPriceGuide,
      </if>
      <if test="purchaseQuota != null" >
        purchaseQuota,
      </if>
      <if test="moq != null" >
        moq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="materielId != null" >
        #{materielId,jdbcType=VARCHAR},
      </if>
      <if test="supplyComId != null" >
        #{supplyComId,jdbcType=VARCHAR},
      </if>
      <if test="supplyMaterielNum != null" >
        #{supplyMaterielNum,jdbcType=VARCHAR},
      </if>
      <if test="packageNum != null" >
        #{packageNum,jdbcType=VARCHAR},
      </if>
      <if test="packageSpecifications != null" >
        #{packageSpecifications,jdbcType=VARCHAR},
      </if>
      <if test="packageUnit != null" >
        #{packageUnit,jdbcType=VARCHAR},
      </if>
      <if test="packagewidth != null" >
        #{packagewidth,jdbcType=VARCHAR},
      </if>
      <if test="packageheight != null" >
        #{packageheight,jdbcType=VARCHAR},
      </if>
      <if test="packagelength != null" >
        #{packagelength,jdbcType=VARCHAR},
      </if>
      <if test="packagevolume != null" >
        #{packagevolume,jdbcType=VARCHAR},
      </if>
      <if test="packageUnitConversion != null" >
        #{packageUnitConversion,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="materielName != null" >
        #{materielName,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="category1 != null" >
        #{category1,jdbcType=VARCHAR},
      </if>
      <if test="category2 != null" >
        #{category2,jdbcType=VARCHAR},
      </if>
      <if test="category3 != null" >
        #{category3,jdbcType=VARCHAR},
      </if>
      <if test="unitPriceGuide != null" >
        #{unitPriceGuide,jdbcType=VARCHAR},
      </if>
      <if test="purchaseQuota != null" >
        #{purchaseQuota,jdbcType=VARCHAR},
      </if>
      <if test="moq != null" >
        #{moq,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.congmai.zhgj.web.model.SupplyMaterielExample" resultType="java.lang.Integer" >
    select count(*) from supplyMateriel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update supplyMateriel
    <set >
      <if test="record.serialNum != null" >
        serialNum = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.materielId != null" >
        materielId = #{record.materielId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplyComId != null" >
        supplyComId = #{record.supplyComId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplyMaterielNum != null" >
        supplyMaterielNum = #{record.supplyMaterielNum,jdbcType=VARCHAR},
      </if>
      <if test="record.packageNum != null" >
        packageNum = #{record.packageNum,jdbcType=VARCHAR},
      </if>
      <if test="record.packageSpecifications != null" >
        packageSpecifications = #{record.packageSpecifications,jdbcType=VARCHAR},
      </if>
      <if test="record.packageUnit != null" >
        packageUnit = #{record.packageUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.packagewidth != null" >
        packagewidth = #{record.packagewidth,jdbcType=VARCHAR},
      </if>
      <if test="record.packageheight != null" >
        packageheight = #{record.packageheight,jdbcType=VARCHAR},
      </if>
      <if test="record.packagelength != null" >
        packagelength = #{record.packagelength,jdbcType=VARCHAR},
      </if>
      <if test="record.packagevolume != null" >
        packagevolume = #{record.packagevolume,jdbcType=VARCHAR},
      </if>
      <if test="record.packageUnitConversion != null" >
        packageUnitConversion = #{record.packageUnitConversion,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlg != null" >
        delFlg = #{record.delFlg,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.materielName != null" >
        materielName = #{record.materielName,jdbcType=VARCHAR},
      </if>
      <if test="record.specifications != null" >
        specifications = #{record.specifications,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null" >
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.category1 != null" >
        category1 = #{record.category1,jdbcType=VARCHAR},
      </if>
      <if test="record.category2 != null" >
        category2 = #{record.category2,jdbcType=VARCHAR},
      </if>
      <if test="record.category3 != null" >
        category3 = #{record.category3,jdbcType=VARCHAR},
      </if>
      <if test="record.unitPriceGuide != null" >
        unitPriceGuide = #{record.unitPriceGuide,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseQuota != null" >
        purchaseQuota = #{record.purchaseQuota,jdbcType=VARCHAR},
      </if>
      <if test="record.moq != null" >
        moq = #{record.moq,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update supplyMateriel
    set serialNum = #{record.serialNum,jdbcType=VARCHAR},
      materielId = #{record.materielId,jdbcType=VARCHAR},
      supplyComId = #{record.supplyComId,jdbcType=VARCHAR},
      supplyMaterielNum = #{record.supplyMaterielNum,jdbcType=VARCHAR},
      packageNum = #{record.packageNum,jdbcType=VARCHAR},
      packageSpecifications = #{record.packageSpecifications,jdbcType=VARCHAR},
      packageUnit = #{record.packageUnit,jdbcType=VARCHAR},
      packagewidth = #{record.packagewidth,jdbcType=VARCHAR},
      packageheight = #{record.packageheight,jdbcType=VARCHAR},
      packagelength = #{record.packagelength,jdbcType=VARCHAR},
      packagevolume = #{record.packagevolume,jdbcType=VARCHAR},
      packageUnitConversion = #{record.packageUnitConversion,jdbcType=VARCHAR},
      delFlg = #{record.delFlg,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      materielName = #{record.materielName,jdbcType=VARCHAR},
      specifications = #{record.specifications,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      category1 = #{record.category1,jdbcType=VARCHAR},
      category2 = #{record.category2,jdbcType=VARCHAR},
      category3 = #{record.category3,jdbcType=VARCHAR},
      unitPriceGuide = #{record.unitPriceGuide,jdbcType=VARCHAR},
      purchaseQuota = #{record.purchaseQuota,jdbcType=VARCHAR},
      moq = #{record.moq,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.SupplyMateriel" >
    update supplyMateriel
    <set >
      <if test="materielId != null" >
        materielId = #{materielId,jdbcType=VARCHAR},
      </if>
      <if test="supplyComId != null" >
        supplyComId = #{supplyComId,jdbcType=VARCHAR},
      </if>
      <if test="supplyMaterielNum != null" >
        supplyMaterielNum = #{supplyMaterielNum,jdbcType=VARCHAR},
      </if>
      <if test="packageNum != null" >
        packageNum = #{packageNum,jdbcType=VARCHAR},
      </if>
      <if test="packageSpecifications != null" >
        packageSpecifications = #{packageSpecifications,jdbcType=VARCHAR},
      </if>
      <if test="packageUnit != null" >
        packageUnit = #{packageUnit,jdbcType=VARCHAR},
      </if>
      <if test="packagewidth != null" >
        packagewidth = #{packagewidth,jdbcType=VARCHAR},
      </if>
      <if test="packageheight != null" >
        packageheight = #{packageheight,jdbcType=VARCHAR},
      </if>
      <if test="packagelength != null" >
        packagelength = #{packagelength,jdbcType=VARCHAR},
      </if>
      <if test="packagevolume != null" >
        packagevolume = #{packagevolume,jdbcType=VARCHAR},
      </if>
      <if test="packageUnitConversion != null" >
        packageUnitConversion = #{packageUnitConversion,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        delFlg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="materielName != null" >
        materielName = #{materielName,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        specifications = #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="category1 != null" >
        category1 = #{category1,jdbcType=VARCHAR},
      </if>
      <if test="category2 != null" >
        category2 = #{category2,jdbcType=VARCHAR},
      </if>
      <if test="category3 != null" >
        category3 = #{category3,jdbcType=VARCHAR},
      </if>
      <if test="unitPriceGuide != null" >
        unitPriceGuide = #{unitPriceGuide,jdbcType=VARCHAR},
      </if>
      <if test="purchaseQuota != null" >
        purchaseQuota = #{purchaseQuota,jdbcType=VARCHAR},
      </if>
      <if test="moq != null" >
        moq = #{moq,jdbcType=VARCHAR},
      </if>
    </set>
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congmai.zhgj.web.model.SupplyMateriel" >
    update supplyMateriel
    set materielId = #{materielId,jdbcType=VARCHAR},
      supplyComId = #{supplyComId,jdbcType=VARCHAR},
      supplyMaterielNum = #{supplyMaterielNum,jdbcType=VARCHAR},
      packageNum = #{packageNum,jdbcType=VARCHAR},
      packageSpecifications = #{packageSpecifications,jdbcType=VARCHAR},
      packageUnit = #{packageUnit,jdbcType=VARCHAR},
      packagewidth = #{packagewidth,jdbcType=VARCHAR},
      packageheight = #{packageheight,jdbcType=VARCHAR},
      packagelength = #{packagelength,jdbcType=VARCHAR},
      packagevolume = #{packagevolume,jdbcType=VARCHAR},
      packageUnitConversion = #{packageUnitConversion,jdbcType=VARCHAR},
      delFlg = #{delFlg,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      materielName = #{materielName,jdbcType=VARCHAR},
      specifications = #{specifications,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      category1 = #{category1,jdbcType=VARCHAR},
      category2 = #{category2,jdbcType=VARCHAR},
      category3 = #{category3,jdbcType=VARCHAR},
      unitPriceGuide = #{unitPriceGuide,jdbcType=VARCHAR},
      purchaseQuota = #{purchaseQuota,jdbcType=VARCHAR},
      moq = #{moq,jdbcType=VARCHAR}
    where serialNum = #{serialNum,jdbcType=VARCHAR}
  </update>
</mapper>