<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congmai.zhgj.web.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.congmai.zhgj.web.model.User">

		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
		<result column="reg_date" property="regDate" jdbcType="TIMESTAMP" />
		<result column="group_id" property="groupId" jdbcType="INTEGER" />
		<result column="locked" property="locked" jdbcType="INTEGER" />
		<result column="user_salt" property="userSalt" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
        user_id, user_name, user_pwd, reg_date, group_id, locked, user_salt
    </sql>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
	
	<!-- 用户登录验证查询 -->
	<select id="authentication" resultMap="BaseResultMap"
		parameterType="map">
		select
		*
		from T_USER
		where user_name = #{record.userName,jdbcType=VARCHAR} and user_pwd =
		#{record.userPwd,jdbcType=VARCHAR}
	</select>
	<!-- 根据用户id查询用户信息 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from T_USER
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
    
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.congmai.zhgj.web.model.UserExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from T_USER
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.congmai.zhgj.web.model.User">
        update T_USER
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                user_pwd = #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="regDate != null">
                reg_date = #{regDate,jdbcType=TIMESTAMP},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=INTEGER},
            </if>
            <if test="locked != null">
                locked = #{locked,jdbcType=INTEGER},
            </if>            
            <if test="userSalt != null">
                user_salt = #{userSalt,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>


    <select id="getUserInfo" parameterType="java.lang.Integer" resultType="com.congmai.zhgj.web.model.User">
    SELECT
	USER_ID AS userId,
	USER_NAME AS userName,
	GROUP_ID AS groupId,
	sex,
	department,
	position,
	cellPhone,
	telephone,
	QQ AS QQNum,
	weChatNum,
	fax,
	email,
	avatar
	FROM
	T_USER
	WHERE
	USER_ID=#{userId}
    </select>
    
    <select id="getUserCompanyInfo" parameterType="java.lang.Integer" resultType="com.congmai.zhgj.web.model.Company">
    SELECT
	b.comId,
	b.comNum,
	b.comName,
	b.comType,
	b.abbreviation,
	b.businessNature,
	b.comNature,
	b.businessType,
	b.registeredCapital,
	b.legalPerson,
	b.address,
	b.taxpayeNumber,
	b.tel,
	b.remark
	FROM
	user_company a
	LEFT JOIN company b ON a.com_id=b.comId AND b.delFlg='0'
	WHERE
	a.user_id=#{userId}
	LIMIT 0,1
    </select>
    
    
    <update id="updateUserInfo" parameterType="com.congmai.zhgj.web.model.User">
    UPDATE 
	T_USER
	SET
	USER_NAME=#{userName},
	sex=#{sex},
	telephone=#{telephone},
	QQ=#{QQNum},
	<if test="avatar!= null and avatar!=''">
    avatar=#{avatar},
    </if>
	fax=#{fax}
	WHERE
	USER_ID=#{userId}
    </update>
    
    
    <update id="updateCompanyInfo" parameterType="com.congmai.zhgj.web.model.Company">
    UPDATE company SET 
    comNum=#{comNum},
    comName=#{comName},
    comType=#{comType},
    abbreviation=#{abbreviation},
    businessNature=#{businessNature},
    comNature=#{comNature},
    businessType=#{businessType},
    registeredCapital=#{registeredCapital},
    legalPerson=#{legalPerson},
    address=#{address},
    taxpayeNumber=#{taxpayeNumber},
    tel=#{tel},
    remark=#{remark},
    updater=#{updater},
    updateTime=NOW()
    WHERE 
    comId=#{comId}
    </update>
    
    
    <update id="updateEmail" parameterType="com.congmai.zhgj.web.model.User">
    UPDATE 
	T_USER
	SET
	email=#{email}
	WHERE
	USER_ID=#{userId}
    </update>
    
    
    <update id="updatePhone" parameterType="com.congmai.zhgj.web.model.User">
    UPDATE 
	T_USER
	SET
	cellPhone=#{cellPhone}
	WHERE
	USER_ID=#{userId}
    </update>
</mapper>