<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <description>apache shiro配置</description>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/rest/page/login"/>
        <property name="successUrl" value="/rest/index"/>
        <property name="unauthorizedUrl" value="/rest/page/401"/>
        
        <!-- 添加各种验证过滤器 -->  
        <property name="filters">  
            <map>  
                <entry key="roles" value-ref="anyRolesAuthorizationFilter"/>  
            </map>  
        </property> 
        <!-- 添加对各种请求执行的过滤操作 --> 
        <property name="filterChainDefinitions">
            <value>
                <!-- 静态资源允许访问 -->
                /app/** = anon
                /assets/** = anon
                <!-- 登录页允许访问 -->
                /rest/user/login = anon
                <!-- 其他资源需要认证 -->
                <!-- /** = authc -->
                <!-- 表示访问该地址用户必须身份验证通过（Subject. isAuthenticated()==true） -->
                <!-- /rest/index = authc --> 
                
                <!-- 防止登录后的非法访问 -->
                /rest/priceList/viewPriceList  = perms[zhgj:price:*]<!-- 价格目录   -->
				/rest/priceList/addOrEditPriceListInfo  = perms[]<!-- 新增价格   -->
				/rest/page/submitPriceApply  = perms[zhgj:price:*]<!-- 价格申请   -->
				/rest/page/approvalPriceApply  = perms[zhgj:price:*]<!-- 审批价格   -->
				/rest/page/editPriceApply  = perms[]<!-- 重新编辑价格   -->
				/rest/page/materiel  = perms[zhgj:materiel:*]<!-- 物料信息   -->
				/rest/page/addMateriel  = perms[materiel:add]<!-- 新增物料   -->
				/rest/page/saleOrder  = perms[zhgj:saleOrder:*]<!-- 销售订单   -->
				/rest/page/addSaleOrder  = perms[normalOrder:add]<!-- 新增销售订单   -->
				/rest/page/saleFrame  = perms[zhgj:saleFrame:*]<!-- 销售框架   -->
				/rest/page/addSaleFrame  = perms[zhgj:saleFrame:*]<!-- 新增销售框架   -->
				/rest/page/customerOrder  = perms[zhgj:customerOrder:*]<!-- 订单   -->
				/rest/page/customerFrame  = perms[zhgj:customerFrame:*]<!-- 订单   -->
				/rest/page/addCustomerOrder  = perms[zhgj:customerOrder:*]<!-- 新增订单   -->
				/rest/page/addCustomerDeliveryOrder  = perms[zhgj:customerOrder:*]<!-- 新增提货订单   -->
				/rest/page/viewCustomerDeliveryOrder  = perms[zhgj:customerOrder:*]<!-- 查看提货订单   -->
				/rest/page/viewCustomerOrder  = perms[zhgj:customerOrder:*]<!-- 查看订单   -->
				/rest/page/viewCustomerFrame  = perms[zhgj:customerFrame:*]<!-- 查看框架协议   -->
				/rest/page/submitSaleApply  = perms[normalOrder:add]<!-- 申请销售订单   -->
				/rest/page/approvalSaleApply  = perms[zhgj:saleOrder:*]<!-- 审批销售订单   -->
				/rest/page/editSaleApply  = perms[normalOrder:edit]<!-- 重新编辑订单   -->
				/rest/page/submitSaleFrameApply  = perms[zhgj:saleFrame:*]<!-- 申请销售框架   -->
				/rest/page/approvalSaleFrameApply  = perms[zhgj:saleFrame:*]<!-- 审批销售框架   -->
				/rest/page/editSaleFrameApply  = perms[zhgj:saleFrame:*]<!-- 重新编辑框架协议   -->
				/rest/page/buyOrder  = perms[zhgj:buyOrder:*]<!-- 采购订单   -->
				/rest/page/procurementPlan  = perms[zhgj:procurementPlan:*]<!-- 采购计划   -->
				/rest/page/buyFrame  = perms[zhgj:buyFrame:*]<!-- 采购框架   -->
				/rest/page/operateLog  = perms[]<!-- 操作日志   -->
				/rest/page/supplyOrder  = perms[zhgj:supplyOrder:*]<!-- 订单   -->
				/rest/page/supplyFrame  = perms[zhgj:supplyFrame:*]<!-- 框架协议   -->
				/rest/page/addSupplyOrder  = perms[zhgj:supplyOrder:*]<!-- 新增采购订单   -->
				/rest/page/addSupplyFrame  = perms[zhgj:supplyFrame:*]<!-- 新增采购框架   -->
				/rest/page/addBuyOrder  = perms[buyNormalOrder:add]<!-- 新增采购订单   -->
				/rest/page/addProcurementPlan  = perms[]<!-- 新增采购计划   -->
				/rest/page/addBuyFrame  = perms[]<!-- 新增采购框架   -->
				/rest/page/viewBuyOrder  = perms[zhgj:buyOrder:*]<!-- 查看采购订单   -->
				/rest/page/viewProcurementPlan  = perms[zhgj:procurementPlan:*]<!-- 查看采购计划   -->
				/rest/page/viewBuyFrame  = perms[zhgj:buyFrame:*]<!-- 查看采购框架   -->
				/rest/page/viewSaleOrder  = perms[zhgj:saleOrder:*]<!-- 查看销售订单   -->
				/rest/page/viewSaleFrame  = perms[zhgj:saleFrame:*]<!-- 查看销售框架   -->
				/rest/page/viewSupplyOrder  = perms[zhgj:supplyOrder:*]<!-- 查看订单   -->
				/rest/page/viewSupplyFrame  = perms[zhgj:supplyFrame:*]<!-- 查看框架协议   -->
				/rest/page/submitBuyApply  = perms[buyNormalOrder:add]<!-- 采购订单申请   -->
				/rest/page/approvalBuyApply  = perms[zhgj:buyOrder:*]<!-- 审批采购订单   -->
				/rest/page/editBuyApply  = perms[buyNormalOrder:edit]<!-- 重新编辑订单   -->
				/rest/page/submitBuyFrameApply  = perms[zhgj:buyFrame:*]<!-- 采购框架申请   -->
				/rest/page/approvalBuyFrameApply  = perms[zhgj:buyFrame:*]<!-- 审批采购框架   -->
				/rest/page/editBuyFrameApply  = perms[zhgj:buyFrame:*]<!-- 重新编辑框架协议   -->
				/rest/statement/supplyStatement  = perms[zhgj:statementSupply]<!-- 供应商对账单   -->
				/rest/statement/buyStatement  = perms[zhgj:statementBuy]<!-- 客户对账单   -->
				/rest/statement/statementBuyAdd  = perms[statementBuy:add]<!-- 新增客户对账单   -->
				/rest/statement/statementBuyView  = perms[zhgj:statementBuy]<!-- 新增客户对账单   -->
				/rest/statement/statementSupplyAdd  = perms[statementSupply:add]<!-- 新增供应商对账单   -->
				/rest/statement/statementSupplyView  = perms[zhgj:statementSupply]<!-- 查看供应商对账单   -->
				/rest/page/userContract  = perms[zhgj:contract:*]<!-- 合同管理   -->
				/rest/page/addUserContract  = perms[contract:add]<!-- 添加合同   -->
				/rest/contract/editUserContractPage  = perms[contract:edit]<!-- 修改合同   -->
				/rest/contract/saleOrderSign  = perms[zhgj:contract:*]<!-- 合同签订   -->
				/rest/page/purchaseForecast  = perms[zhgj:purchaseForecast:*]<!-- 采购预测   -->
				/rest/page/user  = perms[]<!-- 用户管理   -->
				/rest/company/companyManage  = perms[zhgj:companyManage:*]<!-- 企业信息   -->
				/rest/company/companyAdd  = perms[company:add]<!-- 新建企业信息   -->
				/rest/demandPlan/demandPlanManage  = perms[zhgj:demand:*]<!-- 需求计划   -->
				/rest/demandPlan/demandPlanAdd  = perms[demand:add]<!-- 新建需求计划   -->
				/rest/demandPlan/demandPlanView  = perms[zhgj:demand:*]<!-- 查看需求计划   -->
				/rest/takeDelivery/takeDeliveryManage  = perms[zhgj:takeDelivery]<!-- 收货计划   -->
				/rest/takeDelivery/takeDeliveryAdd  = perms[]<!-- 新增代发货   -->
				/rest/takeDelivery/takeDeliveryView  = perms[zhgj:takeDelivery]<!-- 查看收货详情   -->
				/rest/takeDelivery/takeDelivery  = perms[zhgj:takeDelivery]<!-- 收货   -->
				/rest/takeDelivery/takeDeliveryAudit  = perms[zhgj:takeDelivery]<!-- 收货审批   -->
				/rest/takeDelivery/takeDeliveryAdjustment  = perms[zhgj:takeDelivery]<!-- 收货调整   -->
				/rest/takeDelivery/stockInAdd  = perms[stock:add]<!-- 新建入库单   -->
				/rest/takeDelivery/stockIn  = perms[zhgj:stock:*]<!-- 入库   -->
				/rest/takeDelivery/stockInView  = perms[zhgj:stock:*]<!-- 查看入库单   -->
				/rest/takeDelivery/stockOutAdd  = perms[stock:add]<!-- 新建出库单   -->
				/rest/takeDelivery/stockOut  = perms[zhgj:stock:*]<!-- 出库   -->
				/rest/takeDelivery/stockOutView  = perms[zhgj:stock:*]<!-- 查看出库单   -->
				/rest/notice/noticeAdd  = perms[]<!-- 新建公告   -->
				/rest/notice/noticeView  = perms[]<!-- 公告详情   -->
				/rest/notice/noticeApply  = perms[]<!-- 公告申请   -->
				/rest/notice/noticeAudit  = perms[]<!-- 公告审核   -->
				/rest/notice/noticeAdjustment  = perms[]<!-- 公告调整   -->
				/rest/notice/myNotice  = perms[]<!-- 公告   -->
				/rest/message/myMessage  = perms[]<!-- 消息   -->
				/rest/paymentRecord/paymentRecordManage  = perms[]<!-- 收付款记录   -->
				/rest/warehouse/viewWarehouseList  = perms[zhgj:warehouse:*]<!-- 仓库信息   -->
				/rest/warehouse/addOrEditWarehouseInfo  = perms[warehouse:add]<!-- 新增仓库   -->
				/rest/stock/viewStockList  = perms[zhgj:stock:*]<!-- 库存   -->
				/rest/stock/addOrEditStock  = perms[stock:add]<!-- 新建库存   -->
				/rest/stock/stockView  = perms[zhgj:stock:*]<!-- 库存详情   -->
				/rest/stockInOut/viewStockInOutCheckList  = perms[zhgj:stock:*]<!-- 出入库检验   -->
				/rest/stockInOut/addOrEditStockInOutCheck  = perms[stock:add]<!-- 新建出入库检验   -->
				/rest/stockInOut/viewStockInOutCheck  = perms[zhgj:stock:*]<!-- 出入库检验详情   -->
				/rest/stockInOut/confirmStockInOutCheck  = perms[zhgj:stock:*]<!-- 出入库检验详情   -->
				/rest/delivery/addDelivery  = perms[]<!-- 新增发货   -->
				/rest/page/delivery  = perms[zhgj:delivery]<!-- 发货列表   -->
				/rest/delivery/viewDelivery  = perms[zhgj:delivery]<!-- 查看发货   -->
				/rest/delivery/applyDelivery  = perms[zhgj:delivery]<!-- 发货申请   -->
				/rest/delivery/auditDelivery  = perms[zhgj:delivery]<!-- 发货审批   -->
				/rest/delivery/editDeliveryPage  = perms[]<!-- 编辑发货   -->
				/rest/delivery/editAuditDelivery  = perms[]<!-- 调整发货申请   -->
				/rest/invoice/viewInvoiceList  = perms[]<!-- 发票   -->
				/rest/invoice/addOrEditInvoice  = perms[]<!-- 新建发票信息   -->
				/rest/invoice/viewInvoice  = perms[]<!-- 发票详情   -->
				/rest/page/submitInvoiceApply  = perms[]<!-- 销项票申请   -->
				/rest/page/approvalInvoiceApply  = perms[]<!-- 审批销项票   -->
				/rest/page/editInvoiceApply  = perms[]<!-- 重新编辑销项票   -->
				/rest/page/addPay  = perms[]<!-- 新增付款   -->
				/rest/page/viewPay  = perms[]<!-- 付款详情   -->
				/rest/page/applyPay  = perms[]<!-- 应付款申请   -->
				/rest/page/auditPay  = perms[]<!-- 应付款审批   -->
				/rest/page/editAuditPay  = perms[]<!-- 调整应付款申请   -->
				/rest/page/paymentRecord  = perms[]<!-- 付款列表   -->
				/rest/page/editPay  = perms[]<!-- 编辑付款   -->
				/rest/page/addGatheringMoney  = perms[]<!-- 新增收款   -->
				/rest/page/gatheringMoneyRecord  = perms[]<!-- 收款列表   -->
				/rest/page/viewGatheringMoney  = perms[]<!-- 收款详情   -->
				/rest/page/userInfo  = perms[]<!-- 个人中心   -->
				/rest/page/companyInfo  = perms[]<!-- 企业信息   -->
				/rest/page/accountSecurity  = perms[]<!-- 账户安全   -->
				/rest/page/editGatheringMoney  = perms[]<!-- 编辑收款   -->
				/rest/customsForm/customsDeclarationForm  = perms[]<!-- 报关单   -->
				/rest/customsForm/addCustomsForm  = perms[]<!-- 新增报关单   -->
				/rest/customsForm/viewCustomsForm  = perms[]<!-- 查看详情   -->
				/rest/customsForm/customsClearanceForm  = perms[]<!-- 清关单   -->
				/rest/page/addReceiveMemo  = perms[]<!-- 新增收款水单   -->
				/rest/page/receiveMemo  = perms[]<!-- 收款水单列表   -->
				/rest/page/viewReceiveMemo  = perms[]<!-- 收款水单详情   -->
				/rest/page/addPayMemo  = perms[]<!-- 新增付款水单   -->
				/rest/page/payMemo  = perms[]<!-- 付款水单列表   -->
				/rest/page/viewMemoPay  = perms[]<!-- 付款水单详情   -->
				/rest/page/addPay  = perms[]<!-- 新增付款   -->
				/rest/page/viewPay  = perms[]<!-- 付款详情   -->
				/rest/page/applyPay  = perms[]<!-- 应付款申请   -->
				/rest/page/auditPay  = perms[]<!-- 应付款审批   -->
				/rest/page/editAuditPay  = perms[]<!-- 调整应付款申请   -->
				/rest/page/paymentRecord  = perms[]<!-- 付款列表   -->
				/rest/page/submitDeliveryPlanApply  = perms[zhgj:delivery]<!-- 申请发货计划   -->
				/rest/page/approvalDeliveryPlanApply  = perms[zhgj:delivery]<!-- 审批发货计划   -->
				/rest/page/editDeliveryPlanApply  = perms[deliveryPlan:edit]<!-- 重新编辑发货计划   -->
                
            	<!-- 访问该地址的用户是身份验证通过或RememberMe登录的都可以 -->
            	/** = user 
            </value>
        </property>
    </bean>
    
    <!-- 多角色过滤器实现 -->
    <bean id="anyRolesAuthorizationFilter" class="com.congmai.zhgj.web.security.AnyRolesAuthorizationFilter"/>

    <!-- 缓存管理器 使用Ehcache实现 -->
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
    </bean>

    <!-- 会话DAO -->
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO"/>

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="sessionDAO"/>
    </bean>
    
    <!-- 会话验证调度器 -->  
    <!-- <bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">  
        <property name="sessionManager" ref="sessionManager"/>  
        设置调度时间间隔，单位毫秒，默认就是1小时   
        <property name="interval" value="60000"/>  
    </bean>  --> 

	<bean id="securityRealm" class="com.congmai.zhgj.web.security.SecurityRealm" >      
	    <property name="cacheManager" ref="shiroEhcacheManager"/>  
	    
	    <!-- 配置缓存相关 -->
	    <!-- 启用缓存 -->
	    <property name="cachingEnabled" value="true"/>
	    <!-- 开启认证缓存-->
	    <property name="authenticationCachingEnabled" value="true"/>
	    <!-- 指定认证缓存的名字(与 ehcache.xml 中声明的相同) -->
	    <property name="authenticationCacheName" value="shiroCache"/>
	    <!--开启授权缓存-->
	    <property name="authorizationCachingEnabled" value="true"/>
	    <!-- 指定授权缓存的名字(与 ehcache.xml 中声明的相同) -->
	    <property name="authorizationCacheName" value="shiroCache"/>
	    
	</bean>

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realms">
            <list>
                <ref bean="securityRealm"/>
            </list>
        </property>
        
        <property name="rememberMeManager" ref="rememberMeManager" />
        
        <!-- cacheManager,集合spring缓存工厂 -->
        <!-- <property name="cacheManager" ref="shiroEhcacheManager" /> --> 
        <!-- <property name="sessionManager" ref="sessionManager" /> -->
    </bean>

    <!-- Shiro生命周期处理器 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

	<!-- remenberMe配置 -->
   <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
       <constructor-arg value="rememberMe" />
       <property name="httpOnly" value="true" />
       <!-- 默认记住7天（单位：秒） -->
       <property name="maxAge" value="604800" />
   </bean>
   <!-- rememberMe管理器 -->
   <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
       <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}" />
       <property name="cookie" ref="rememberMeCookie" />
   </bean>

</beans>