body,html {
    margin:0;padding: 0;color: #333;font-size:14px; overflow-x:hidden;
    font-family: Microsoft YaHei, SimSun, Arial, Helvetica, Verdana, sans-serif;        
}
/***********使网站整体变灰色的样式代码 如果需要打开，把下面的body注释去掉*************/
/**
body,html {filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: url("data:image/svg+xml;utf8,#grayscale");}
**/
/**变灰色的样式支持IE6以上和Webkit浏览器(Chrome 18+, Safari 6.0+, and Opera 15+)**/

a{text-decoration:none;color:#333;cursor:pointer;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{text-decoration:underline;}
input,textarea,select {outline:none;} 
img{border:0;outline:none;} 
input[type="button"]{cursor:pointer;}
input::-ms-clear{display: none;}
input::-ms-reveal{display: none;}
input[type="search"] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;  -webkit-user-select: text;  -webkit-rtl-ordering: logical; -webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;display: none;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;display: none;}

input.placeholder{color:#ccc;}/*给input定义 placeholder样式*/
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset !important;} /*解决谷歌浏览器中的input背景色默认是黄色*/
ul, ol, li {list-style-type:none;padding:0;margin:0;}  

*{margin:0;padding:0;}/*淘宝的样式初始化：*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
/*h1,h2,h3,h4,h5,h6{font-weight: normal; line-height: 1.5;margin:10px 0 10px 0;}*/
h1{font-size: 36px;} 
h2{font-size: 30px;} 
h3{font-size: 24px;} 
h4{font-size: 18px;} 
h5{font-size: 14px;} 
h6{font-size: 12px;}

p,pre{line-height:1.5;margin:5px 0 5px 0;-ms-word-break: break-all; word-break: break-all;white-space: pre-wrap;}
sub,sup {position: relative; font-size: 75%; line-height: 0; vertical-align: baseline;}
sup {top: -.5em;vertical-align:text-top;}
sub {bottom: -.25em; vertical-align:text-bottom;}
table {border-collapse: collapse;}
em {position:relative;color: red; padding-left: 3px;line-height:1;vertical-align:central; font:14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}
hr {margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #eee;}

/*为加上0.1秒的过渡**/
/**{outline: none; -moz-transition: all 0.1s linear 0s; -o-transition: all 0.1s linear 0s;-webkit-transition: all 0.1s linear 0s; transition: all 0.1s linear 0s;}*/
.sp-transition{-webkit-transition:0.6s;	-moz-transition:0.6s;-ms-transition:0.6s;-o-transition:0.6s;transition:0.6s;}/**过渡**/
.sp-transition-no{-moz-transition:0s; -o-transition:0s; -webkit-transition:0s;transition:0s;}

/*文字的对齐方式，大小写，加粗，换行*/
.sp-text-left {text-align: left;}
.sp-text-right {text-align: right;} 
.sp-text-center {text-align: center;}
.sp-text-justify {text-align: justify;}/*两侧对其*/
.sp-text-lowercase {text-transform: lowercase;}/*小写*/
.sp-text-uppercase {text-transform: uppercase;}/*大写*/
.sp-text-capitalize {text-transform: capitalize;}/*首字母大写*/
.sp-text-bold{font-weight:bold;}/*字体加粗*/
.sp-nowrap {white-space: nowrap;} /*禁止文字换行*/
.sp-wordbreak{word-break:break-all; white-space:normal;}/*允许文字换行*/ 
.sp-ellipsis{white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}/*溢出后以省略号显示*/

 /**浮动**/
.sp-pull-left{float:left;} 
.sp-pull-right{float:right;}
.sp-clear-left{clear:left;} /**清除浮动**/
.sp-clear-right{clear:right;}  
.sp-clear-both{clear:both;}

/*定义隐藏、透明的样式*/
.sp-hide{display: none;}
.sp-opacity{opacity:0; height:0 !important;height:0;}

/*字体大小设置*/
.sp-font12{font-size:12px !important;} 
.sp-font13{font-size:13px !important;} 
.sp-font14{font-size:14px !important;}
.sp-font15{font-size:15px !important;} 
.sp-font16{font-size:16px !important;} 
.sp-font17{font-size:17px !important;}
.sp-font18{font-size:18px !important;}
.sp-font20{font-size:20px !important;}
.sp-font22{font-size:22px !important;}

/*冻结头部和底部*/
.sp-fixed-top{position:fixed;top:0;left:0; width:100%;height:50px;line-height:50px;font-size:17px;z-index:999; background-color:#fff;}
.sp-fixed-foot{position:fixed;left:0;bottom:0; width:100%;height:40px;line-height:40px;border-top:1px solid #e5e6e7;z-index:999;}

/**背景遮罩层**/
.sp-bgMask {/*background:#000;opacity: 0.3;filter: alpha(opacity=30);*/  background:url('./icons/bgMask.png') center center repeat; position: fixed;top: 0;left: 0;z-index: 100;display:none;width: 100%;height: 100%;} 

/*loading加载层样式*/
.sp-loading{z-index:311;background:#fff;height:200px;width:450px;display:none; border:1px solid #ddd; box-shadow: 0 0 7px #888; border-radius:5px;}
.sp-loading-img{float:left;width:439px; margin-left:5px; height:175px;background:url('./icons/loading_round.gif') center center no-repeat;}
.sp-loading-title{float:left;width:100%;height:30px;line-height:30px;text-align:center;color:#093;margin-top:-50px;}

/**对话框样式,注意名字**/
.sp-dialog{height:auto;z-index:310;background:#fff;max-height:400px;width:300px;display:none;}
.sp-dialog-head{float:left;height:34px;line-height:34px;background:#05519c;text-indent:10px;width:100%;color:#fff;font-size:15px;}
.sp-dialog-tip{float:left;width:auto;line-height:34px;margin-left:7px; color:#fff;}
.sp-dialog-close{float:right;height:32px;line-height:32px; width:22px; font-size:26px; color:#fff;margin:0 10px 2px 0;}
.sp-dialog-body{float:left;width:94%;margin-left:3%;padding:10px 0; min-height:24px; overflow-y:auto;line-height:24px;-ms-word-break:break-all; word-break:break-all;}
.sp-dialog-foot{float:left;width:100%;height:50px;background:#fafafa;border-top:1px solid #85a9cc;text-align:center;font-size:15px;}
.sp-dialog-btnTrue{background:none;border:none; height:30px;line-height:30px;margin:10px 10px; text-align:center;width:80px;border-radius:3px; background-color:#215b94;color:#fff; cursor:pointer;}
.sp-dialog-btnCancle{background:none;border:none; height:30px;line-height:30px;margin:10px 10px; text-align:center;width:80px;border-radius:3px; background-color:#8697a7;color:#fff; cursor:pointer;}
.sp-dialog-btnClose{background:none;border:none; height:30px;line-height:30px;float:right; margin:10px 10px; text-align:center;width:80px;border-radius:3px; background-color:#215b94;color:#fff; cursor:pointer;}

/**居中的 对话框**/
.sp-layer{width:auto;height:auto;background:#fff;z-index:300;min-width:400px;max-width:1000px;max-height:700px;display:none; position:absolute;}
.sp-layer-head{float:left;width:100%;height:34px; line-height:34px;background-color:#05519c;border-bottom:1px solid #85a9cc; color:#fff;font-size:15px;}
.sp-layer-title{width:auto;float:left;line-height:34px;margin-left:15px; color:#fff;font-size:15px;}
.sp-layer-close{float:right;width: 20px;height:100%;height:32px;line-height:32px; font-size:26px;color:#fff; cursor:pointer;margin:0 3px 2px 0;}
.sp-layer-body{float:left;width:94%;margin-left:3%; height:auto;min-height:80px; padding:10px 0;overflow-y:auto; }
.sp-layer-foot{float:left;width:100%;height:50px;background:#fafafa;border-top:1px solid #85a9cc;text-align:center;font-size:15px;}
.sp-dialog-btnTrue{background:none;border:none; height:30px;line-height:30px;margin:10px 10px; text-align:center;width:100px;border-radius:3px; background-color:#215b94;color:#fff; cursor:pointer;}
.sp-dialog-btnCancle{background:none;border:none; height:30px;line-height:30px;margin:10px 10px; text-align:center;width:100px;border-radius:3px; background-color:#8697a7;color:#fff; cursor:pointer;}
.openCenter,.closeCenter,.openDialog,.closeDialog{cursor:pointer;}/*作为打开关闭的标记class*/


/**宽度自适应的表格**/
.sp-grid-autowidth a { color:#000000; text-decoration: none; }
.sp-grid-autowidth a:hover { color:#000000; text-decoration: underline; }
.sp-grid-autowidth{border-collapse: collapse;min-width:100%;table-layout: fixed;}
.sp-grid-autowidth thead th{line-height:20px;padding:8px 10px;border:none; white-space: nowrap; background:#F5F6FA; text-align:center;}
.sp-grid-autowidth tbody td{text-align: left;border-top:1px solid #E1E6EB;line-height:20px;padding:8px 10px;font-size:13px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/**table表格**/
.sp-grid a { color:#676767; text-decoration: none; }
.sp-grid a:hover {text-decoration: underline; }
.sp-grid{border-collapse: collapse;width:100%;}
.sp-grid thead th{line-height:20px;padding:8px 12px; border:none; white-space: nowrap; background:#F5F6FA; text-align:left; font-weight:normal !important;letter-spacing:1px;}
.sp-grid tbody td{text-align: left;line-height:20px;padding:10px 8px;font-size:13px;border-bottom:1px solid #E1E6EB;}
.sp-grid tbody tr:hover{background:#f2fbff;}

.sp-grid-striped{}/*条纹*/
.sp-grid-striped tbody td{border-bottom:none;}
.sp-grid-striped .evenTr{background:#fbfbfb;}/*奇数行背景*/

.sp-grid-border{border:1px solid #E1E6EB;} /*对表格加上头部和外围线*/
.sp-grid-border thead th{border-bottom:1px solid #E1E6EB; }
.sp-grid-border tbody td{border-bottom:1px solid #E1E6EB;}

.sp-grid-noline{} /*取消掉table的下划线*/
.sp-grid-noline tbody td{border-bottom:none;}

.sp-grid-nothead{}/*设置thead为不可见*/
.sp-grid-nothead thead th{height:0 !important;line-height:0 !important; opacity:0; border:0;padding:0;background:none !important;}

.sp-grid-nowrap{table-layout: fixed;}/*以省略号显示过长字段*/
.sp-grid-nowrap tbody td{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.sp-grid-nohover{}/*取消鼠标移入的变色效果*/
.sp-grid-nohover tbody tr:hover{background:none;}

.sp-grid-trSelected{background:#fbec88 !important;}/*点击行后选中该行变色*/
/*数据表格用到的单独的一个样式*/
.sp-table a { color:#999999; text-decoration: none; } 
.sp-table a:hover {text-decoration: underline; }
.sp-table{border-collapse: collapse;width:100%; border:1px solid #E1E6EB; color:#999999;}
.sp-table thead th{line-height:20px;padding:8px 8px; border:none; white-space: nowrap; background:#F5F6FA; text-align:left; font-weight:normal !important;letter-spacing:1px;}
.sp-table tbody td{text-align: left;line-height:20px;padding:11px 8px;font-size:13px; border-top:1px solid #E1E6EB;}
.sp-table tbody tr:hover{background:#F9F9FA;}
.sp-table tfoot td{text-align: left;line-height:20px;padding:15px 8px;font-size:13px; border-top:1px solid #E1E6EB;}
.sp-table .btninput{outline:none;border:0; padding:4px 15px;background:#F7F7F7; color:#555; border:1px solid #ddd; cursor:pointer; margin:3px;}/*灰色按钮*/
.sp-table .btninput:hover{background:#fff;}
a.title-unread{color:#000 !important;}
.sp-pagebtn{outline:none;border:0; padding:4px 15px;background:#F7F7F7; color:#555; border:1px solid #ddd; cursor:pointer;}/*灰色按钮*/
.sp-sp-gridbottom{width:100%;height:200px;line-height:200px;font-size:18px; text-align:center; border:1px solid #E1E6EB; border-top:none; display:none;}
.sp-sp-gridbottom i{color:#57C2ED;}


.sp-grid-job{border-collapse: collapse;width:100%; border:1px solid #E1E6EB; border-left:none;}
.sp-grid-job tbody td{text-align: center;line-height:30px;font-size:13px;border-bottom:1px solid #E1E6EB; border-left:1px solid #E1E6EB;}
.sp-grid-job tbody td input[type='text']{outline:none;border:none;width:100%; text-indent:5px;}
.sp-grid-job tbody td select{outline:none;border:none;width:96%; margin-left:2%; }
.sp-grid-job tbody td select:hover{border:1px solid #ddd;}
.sp-grid-job tbody td img{outline:none;border:0; width:100%;height:100%; vertical-align:middle; }

.sp-grid-job-div{width:100%;height:40px;line-height:40px; text-align:center; border:1px solid #E1E6EB; border-top:none;}
.sp-grid-job-div a{color:#0066cc !important;}

.sp-grid-import{border-collapse: collapse;width:100%; border:1px solid #E1E6EB; border-left:none;}
.sp-grid-import thead th{line-height:20px;padding:8px 12px; border-bottom:1px solid #E1E6EB; border-left:1px solid #E1E6EB; white-space: nowrap; text-align:center; font-weight:normal !important;letter-spacing:1px;}
.sp-grid-import tbody td{text-align: center;line-height:20px;padding:8px 10px;font-size:13px;border-bottom:1px solid #E1E6EB; border-left:1px solid #E1E6EB;}


/**table结束**/

/*字体颜色设置*/
.sp-color-white{color:#fff;} 
.sp-color-black{color:#222;}
.sp-color-dpblack{color:#000 !important; font-size:24px;}
.sp-color-dpblack a{color:#000 !important; font-size:24px;}
.sp-color-orange{color:#ff9900 !important;}
.sp-color-green{color:#009900 !important;}
.sp-color-blue{color:#0066cc !important;}
.sp-color-blue a{color:#0066cc !important;}
 a.sp-color-blue{color:#0066cc !important;padding:0 5px;}
 a.sp-color-blue:hover{text-decoration:underline !important;}

.sp-color-red{color:red !important;}
.sp-color-red a{color:red !important;}
 a.sp-color-red{color:red !important;padding:0 5px;}
 a.sp-color-red:hover{text-decoration:underline !important;}
.sp-color-gray{color:#999999 !important;}
.sp-color-gray a{color:#999999 !important;}

/**页面宽度列行布局**/
.sp-page-title{float:left; height:18px;line-height:18px; width:100%; border-left:2px solid #88B7E0; text-indent:8px; margin:10px 0;}
.sp-page-title-btnback{outline:none;height:18px;line-height:18px; text-align:center; padding:1px 10px;background:#fff; color:#666; border:1px solid #BBBBBB; cursor:pointer;}

.sp-page-width{float:left;width:100%;}
.sp-page-mid{width:96%;padding:8px 0; margin-left:2%;}
.sp-page-midbox{width:1000px;margin:0 auto;}

.sp-page-row{float:left;width:100%;padding:3px 0;}
.sp-page-column{float:left;width:auto;height:auto;}

.sp-page-box{width:100%;padding:8px 0; display:inline-block;} /*没有浮动的盒子*/
.sp-page-boxline{width:100%;line-height:26px; padding:3px 0;}
.sp-page-boxcolumn{width:auto;display:inline-block; vertical-align:top;}

.sp-page-content{width:1000px;margin:0 auto;}

/*新闻样式*/
.sp-news-content{width:100%;height:100%;float:left; border:1px solid #eeeeee; margin:10px 0; padding:15px 0; font-family:Microsoft YaHei;}
.sp-news-maintitle{width:100%;line-height:20px; text-align:center; padding-top:20px; padding-bottom:10px; font-size:17px;color:#333333;}
.sp-news-subtitle{width:80%;line-height:20px;margin:0 10% 0 10%; padding:5px 0 12px 0; font-size:14px;color:#888;text-align:center;border-bottom:1px solid #eee;}
.sp-news-info{width:800px;margin:0 auto; padding-top:30px; color:#666; line-height:26px;}

/*行*/
.sp-line-pc{float: left;width:100%;line-height:20px;margin:3px 0;}
.sp-line-txt{line-height:30px;float:left;width:100%; margin:3px 0;} /*适用于form表单存放控件*/
.sp-line-margin{float:left;width:94%;line-height:20px;padding:3px 3%;}

/*下划线、底线*/
.sp-line-blue{float:left;width:100%;height:1px;border-bottom:1px solid #0f9ae0;margin:10px 0;}
.sp-line-gray{float:left;width:100%;height:1px;border-bottom:1px solid #eeeeee;margin:10px 0;display:block; clear:both;}
.sp-line-gray-dashed{float:left;width:100%;height:1px;border-bottom:1px dashed #eeeeee;margin:10px 0;}

/***圆角兼容ie的处理   PIE.htc文件路径是相对于html文件的路径，而不是相对于css文件**/
.sp-radius{position:relative;behavior:url('../css/PIE.htc'); -ms-border-radius: 3px;-moz-border-radius: 3px; -webkit-border-radius: 3px;border-radius: 3px;}

/*盒阴影、文字阴影*/
.sp-shadow-box{ -ms-box-shadow: 0 0 10px #aaa; -moz-box-shadow: 0 0 10px #aaa; -webkit-box-shadow: 0 0 10px #aaa;box-shadow: 0 0 10px #aaa;}/**边框阴影**/
.sp-shadow-text-shine{-webkit-text-shadow:0 0 0.2em #f87,0 0 0.2em #f87;text-shadow:0 0 0.2em #f87,0 0 0.2em #f87;}/*文字阴影：发光字体*/
.sp-shadow-text-dent{-webkit-text-shadow:1px 1px #fff, -1px -1px #333; text-shadow:1px 1px #fff, -1px -1px #333;}/**凹体文字**/
.sp-shadow-text-solid{-webkit-text-shadow:-1px -1px #fff, 1px 1px #333; text-shadow:-1px -1px #fff, 1px 1px #333;}/**立凸体文字**/
.sp-shadow-text-relief{-webkit-text-shadow: 0 2px 0 rgba(255,255,255,0.6); text-shadow: 0 2px 0 rgba(255,255,255,0.6); }/*浮雕文字阴影效果*/

/*form表单的input与textarea控件*/
.sp-input {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
           margin:1px 0;border: solid 1px #ddd; width: 100%; height:30px;-webkit-line-height: 1;line-height: 30px\9;-ms-line-height: 30px; text-indent:5px;}
.sp-textarea{width:100%;text-indent:3px;border: solid 1px #ddd; -webkit-line-height: 1;line-height: 22px\9;-ms-line-height: 22px; 
             -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;} 
/*鼠标移入变色效果*/
.sp-input:hover, .sp-textarea:hover{border: solid 1px #3bb4f2;}
.sp-input:focus, .sp-textarea:focus{border: solid 1px #0f9ae0 \9; border-color: rgba(82,168,236,0.8);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(102, 175, 233, 0.6);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(102, 175, 233, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(102, 175, 233, 0.6); 
}

/*表单验证：右侧提示信息*/
.sp-error{position: relative;line-height:18px; padding:4px 5px;white-space:nowrap;display:none;vertical-align:top;background: #d45252;border-radius:3px;color:#fff;font-size:12px;margin-left:5px; top:7px;}
.sp-error:after, .sp-error:before {right: 100%;top: 50%;border: solid transparent;content: " "; height: 0;width: 0;position: absolute;pointer-events: none;}
.sp-error:after {border-color: rgba(136, 183, 213, 0);border-right-color: #d45252;border-width: 6px;margin-top: -6px;} 
.sp-errorTip{border:1px solid #d45252;}
.sp-errorTip:hover{border:1px solid #d45252;}/**验证错误后，边框变红**/
.sp-errorTip:focus{border:1px solid #d45252;box-shadow:0 0 2px rgba(212,82,82,0.8);-moz-box-shadow:0 0 2px rgba(212,82,82,0.8);-ms-box-shadow:0 0 2px rgba(212,82,82,0.8);-webkit-box-shadow:0 0 2px rgba(212,82,82,0.8);}

.sp-requireLogo{padding-right:21px;background:url('./icons/input-require.png') no-repeat;background-position:right center;}
.sp-errorLogo{padding-right:21px;background:url('./icons/input-errorLogo.png') no-repeat;background-position:right center;}
.sp-rightLogo{padding-right:21px;background:url('./icons/input-rightLogo.png') no-repeat;background-position:right center;}
textarea.sp-errorLogo {background-position:right 7px;} 
textarea.sp-requireLogo {background-position:right 7px;}
 
.sp-strength-tip{position: relative;line-height:18px; padding:4px 5px;white-space:nowrap;display:none;vertical-align:top; background: #59c153;border-radius:3px;color:#fff;font-size:12px;margin-left:5px; top:7px;}
.sp-strength-tip:after, .sp-strength-tip:before {right: 100%;top: 50%;border: solid transparent;content: " "; height: 0;width: 0;position: absolute;pointer-events: none;}
.sp-strength-tip:after {border-color: rgba(136, 183, 213, 0);border-right-color: #59c153;border-width: 6px;margin-top: -6px;} 

/*表单验证是需要用到的class名*/
.require{} 
.telephone{} 
.phone{}  
.tel{}
.IDcard{} 
.email{} 
.postcode{}
.fax{}  
.num{} 
.decimal{} 
.url{} 
.ip{} 
.chinese{} 
.username{} 
.pwd{}
/*end 表单验证：右侧提示信息*/

/*input radio单选按钮*/
.sp-radio-default,.sp-radio-range,.sp-radio-blue{line-height:16px;}
/*1.灰色radio*/
.sp-radio-default label{vertical-align:middle;margin:0 10px;}
.sp-radio-default img{vertical-align:middle;}
.rd_default{padding-left:25px;cursor:pointer;background: url("./icons/rd_default.png") no-repeat left center;}
.rd_defaultChecked{padding-left:25px;cursor:pointer;background: url("./icons/rd_defaultChecked.png") no-repeat left center;}
/*2.橙色radio*/
.sp-radio-range label{vertical-align:middle;margin:0 10px;}
.sp-radio-range img{vertical-align:middle;}
.rdlbl_Hui {padding-left:25px;cursor:pointer;background: url("./icons/rd_Orange.png") no-repeat left center;}
.rdlbl_HuiChecked{padding-left:25px;cursor:pointer;background:url('./icons/rd_OrangeChecked.png') no-repeat left center;}
/*3.蓝色radio*/
.sp-radio-blue label{vertical-align:middle;margin:0 10px;}
.sp-radio-blue img{vertical-align:middle;}
.rd_blue{padding-left:25px;padding-right:15px;cursor:pointer;background: url("./icons/rd_blue.png") no-repeat left center;}
.rd_blueChecked{padding-left:25px;cursor:pointer;background: url("./icons/rd_blueChecked.png") no-repeat left center;}

/*checkbox多选按钮样式*/
.sp-checkbox-orange{line-height:16px;}/*橙色checkbox*/
.sp-checkbox-orange label{vertical-align:middle;margin:0 10px;}
.chb_Orange{padding-left:25px;padding-right:15px;cursor:pointer;background: url("./icons/chb_Or.png") no-repeat left center;}
.chb_OrangeChecked{padding-left:25px;cursor:pointer;background: url("./icons/chb_OrChecked.png") no-repeat left center;}
.sp-checkbox-blue{line-height:16px;}/*蓝色checkbox*/
.sp-checkbox-blue label{vertical-align:middle;margin:0 10px;}
.chb_Blue{padding-left:25px;padding-right:15px;cursor:pointer;background: url("./icons/chb_Blue.png") no-repeat left center;}
.chb_BlueChecked{padding-left:25px;cursor:pointer;background: url("./icons/chb_BlueChecked.png") no-repeat left center;}
.sp-checkbox-all{}

/* 按钮 */
.sp-btn-default{outline:none;border:0; padding:7px 20px;color:#000;background:#c2c2c2;cursor:pointer; margin:3px;}/*灰色按钮*/
.sp-btn-default:hover{background:#bababa;}
.sp-btn-gray{outline:none;border:0; padding:5px 15px;background:#F7F7F7; color:#555; border:1px solid #ddd; cursor:pointer;}/*灰色按钮*/
.sp-btn-gray:hover{background:#fff;}
.sp-btn-blue{outline:none;border:0; padding:7px 20px;color:#fff;background:#1c84c6;cursor:pointer; margin:3px;}/*蓝色按钮*/
.sp-btn-blue:hover{background:#1a7bb9;}
.sp-btn-blue-lig{outline:none;border:0; padding:7px 20px;color:#fff;background:#0f9ae0;cursor:pointer; margin:3px;}/*蓝色按钮*/
.sp-btn-green{outline:none;border:0; padding:7px 20px;color:#fff;background:#009f3c;cursor:pointer; margin:3px;}/*绿色 #02aa41 #009f3c*/
.sp-btn-green:hover{background:#02aa41;}
.sp-btn-red{outline:none;border:0; padding:7px 20px;color:#fff;background:#e3302b;cursor:pointer; margin:3px;}/*红色*/
.sp-btn-orange{outline:none;border:0; padding:7px 20px;color:#fff;background:#f8ac59;cursor:pointer; margin:3px;}
.sp-btn-orange:hover{background:#f7a54a;}
.sp-btn-orange-dp{outline:none;border:0; padding:7px 20px;color:#fff;background:#e97505;cursor:pointer; margin:3px;}
.sp-btn-orange-dp:hover{background:#ed7a0a;}
.sp-btn-import{outline:none;border:0; padding:7px 20px;background:#cf8c00;color:#fff;cursor:pointer; margin:3px;}
.sm{padding:3px 10px;}  
.lg{padding:7px 40px;}

/*用于时间框，宽度是240*/
.sp-input-date{border: solid 1px #ddd;width:240px;height:30px;-webkit-line-height: 1;line-height: 30px\9;-ms-line-height: 30px; text-indent:5px;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/*一般的密码框、用户名*/
.sp-input-user{border: solid 1px #ddd;width:240px;height:30px;-webkit-line-height: 1;line-height: 30px\9;-ms-line-height: 30px; text-indent:5px; padding-right:25px;background:url('./icons/logo-user.png') no-repeat;background-position:right center;background-color:#fff; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.sp-input-pwd{border: solid 1px #ddd;width:240px;height:30px;-webkit-line-height: 1;line-height: 30px\9;-ms-line-height: 30px; text-indent:5px; padding-right:25px;background:url('./icons/logo-pwd.png') no-repeat;background-position:right center;background-color:#fff; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/*背景图片合成的搜索框*/
.sp-search-imgtxt{float:left; border: none;width:206px;height:32px;line-height:30px;text-indent:5px;color:#aaa;background:url('./icons/bg_searchTxt.png') no-repeat; }
.sp-search-imgbtn{float:left;cursor:pointer; margin-left:-2px; outline:none;border:0; background:url('./icons/bg_btnSeacrh.png') no-repeat;width:64px; height:32px;color:#fff; border:1px solid #f27d0a;}

/*常用搜索框*/
.sp-input-search{float:left;border: solid 1px #ddd;width:240px;height:30px;-webkit-line-height: 1;line-height: 30px\9;-ms-line-height: 30px; text-indent:35px;  background:url('./icons/input_search.png') no-repeat;background-position:left center;background-color:#fff; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.sp-search{float:left;width:200px;height:28px;line-height:28px;border:1px solid #ccc;text-indent:5px; border-radius:3px 0 0 3px;}
.sp-search:focus{border:1px solid #aaa;}
.sp-search-btn{float:left;outline:none;border:0;width:60px; height:30px;line-height:30px;color:#000;background-color:#c2c2c2;cursor:pointer; border-radius:0 3px 3px 0;}
.sp-search-btn:hover{background-color:#bababa;}

.sp-search-green{float:left;width:200px;height:28px;line-height:28px;border:1px solid #009f3c;text-indent:5px;border-radius:3px 0 0 3px;}
.sp-search-green:focus{border:1px solid #093;}
.sp-search-green-btn{float:left;outline:none;border:0; width:60px; height:30px;line-height:30px;color:#fff;background:#009f3c;cursor:pointer;border-radius:0 3px 3px 0;}
.sp-search-green-btn:hover{background:#093;}

.sp-search-blue{float:left;width:200px;height:28px;line-height:28px;border:1px solid #1c84c6;text-indent:5px;border-radius:3px 0 0 3px;}
.sp-search-blue:focus{border:1px solid #1a7bb9;}
.sp-search-blue-btn{float:left;outline:none;border:0; width:60px; height:30px;line-height:30px;color:#fff;background:#1c84c6;cursor:pointer;border-radius:0 3px 3px 0;}
.sp-search-blue-btn:hover{background:#1a7bb9;}

.sp-search-orange{float:left;width:200px;height:28px;line-height:28px;border:1px solid #ea7706;text-indent:5px;border-radius:3px 0 0 3px;}
.sp-search-orange:focus{border:1px solid #ed7a0a;}
.sp-search-orange-btn{float:left;outline:none;border:0; width:60px; height:30px;line-height:30px;color:#fff;background:#e97505;cursor:pointer;border-radius:0 3px 3px 0;}
.sp-search-orange-btn:hover{background:#ed7a0a;}

/*span自定义宽度设置*/
.span1 { width: 80px;} 
.span2 { width: 160px;} 
.span3 { width: 240px;}
.span4 { width: 320px;}
.span5 { width: 400px;} 
.span6 { width: 480px;} 
.span7 { width: 560px;} 
.span8 { width: 640px;}
.span9 { width: 720px;}  
.span10 { width: 800px;} 
.span11 { width: 880px;} 
.span12 { width: 960px;}

/*位置导航栏*/
ul.navBar{float:left;width:96%;padding:0 2%; background-color:#fff;color:#222;margin:1px 0; border-bottom:1px solid #ddd;}
ul.navBar a{color:#222;}
ul.navBar li{float:left;width:auto;margin:0 5px;height:38px;line-height:38px!important; letter-spacing:1px;}

/*导航-左、右侧布局*/
.sp-nav-head{position:fixed;top:0;left:0;z-index:2;width:100%;height:50px;background-color:#3589F9;color:#fff;min-width:900px;}
.sp-nav-body{float:left;width:100%;height:100%;margin-top:50px;min-width:900px;}
.sp-nav-body-left{position:absolute; left:0; width:200px;height:100%;background-color:#2F4050;}
.sp-nav-body-right{ position:absolute;left:200px;min-width:500px;min-height:400px;overflow-y:auto;overflow-x:hidden;}
.sp-nav-mid{width:96%;margin:5px 2%; min-width:800px; float:left; }

/*头部导航*/
.sp-nav-head-left{float:left;width:auto; height:50px;white-space:nowrap;}
.sp-nav-head-left-title{float:left;height:50px;line-height:50px;cursor:pointer;padding:0 10px;}
.sp-nav-head-left-title i{font-size:18px;}
.sp-nav-head-left-title .title{padding-left:5px;font-size:18px;}

.sp-nav-head-right{float:right;width:auto; height:50px;white-space:nowrap;margin:0 30px 0 0;}
.sp-nav-head-right .has-sub{}/*用以标识头部列 下面含有子节点*/

.sp-nav-head-col{float:left;height:50px;line-height:50px;cursor:pointer;}
.sp-nav-head-col span{padding:0 10px;height:50px;line-height:50px; }
.sp-nav-head-col a{text-decoration:none;color:#fff;}
.sp-nav-head-col:hover{background-color:#5C9FFA;}
/*标识头部含有子菜单*/
.sp-nav-head-sub{position:absolute; background:#fff;width:100%;height:auto;padding:5px 0; color:#333;display:none;z-index:99; box-shadow:0 0 3px #333;}
.sp-nav-head-sub a{color:#333;}
.sp-nav-head-sub i{color:#f56704;}

/*网页皮肤设置*/
.sp-skin-box{}
.sp-skin-box span{float:left; width:23px !important;height:23px !important;padding:1px !important;margin:3px;}
.sp-skin-box .sp-skin-current{background-color:red;}

.sp-skin-black{background-color:#333438 !important;float:left; width:23px;height:23px;}
.sp-skin-white{background-color:#576a85 !important;float:left; width:23px;height:23px;}
.sp-skin-green{background-color:#19a97b !important;float:left; width:23px;height:23px;}
.sp-skin-blue{background-color:#169ddc !important;float:left; width:23px;height:23px;}
.sp-skin-brown{background-color:#bc3906 !important;float:left; width:23px;height:23px;}

/*左侧最多能扩th-扩展
/*左侧最多能扩展到五级的菜单*/
.sp-menu{float:left;width:200px; overflow:hidden;background-color:#2F4050;table-layout: fixed;font-size:13px;}
.sp-menu-row{float:left;width:220px;height:100%; overflow-y:scroll;overflow-x:hidden; }
.sp-menu ul li{padding:0;margin:0;list-style-type:none;line-height:0 !important;}
.sp-menu ul li .active{cursor:pointer;color:#fff;background-color:#f27d0a !important;background:url('./icons/sidebar-menu-arrow.png') no-repeat 193px center;-moz-transition:0s; -o-transition:0s; -webkit-transition:0s;transition:0s;}
.sp-menu a{text-decoration:none;cursor:pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sp-menu a:hover{text-decoration:none;cursor:pointer;}

/*左侧菜单上部折叠的开关*/
.sp-menu .sp-menu-switch{float:left;width:100%;height:38px; line-height:38px;background-color:#394555;cursor:pointer;}
.sp-menu .sp-menu-switch i{font-size:20px;text-align:center;width:100%;height:38px; line-height:38px;color:#f7f7f7;}

/*一级one 二级two 三级three 四级four 五级five*/
.sp-menu .one{float:left;width:200px;line-height:38px;background-color:#2F4050; color:#A7B1C2;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; }
.sp-menu .one:hover{background-color:#364a5c;color:#fff;}
.sp-menu .one .ltitle{width:auto;}
.sp-menu .one i{width:23px;padding-left:10px;}
.sp-menu .two{float:left;width:200px;display:none;line-height:38px;background-color:#3d5266;color:#e6e5e5;cursor:pointer; border-bottom:1px solid #31485e;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.sp-menu .two:hover{color:#fff;}
.sp-menu .two .ltitle{padding-left:25px;}
.sp-menu .three{float:left;width:200px;display:none;line-height:38px;background-color:#475f75;color:#e6e5e5;border-bottom:1px solid #3a536a;}
.sp-menu .three .ltitle{padding-left:32px;}
.sp-menu .four{float:left;width:200px;display:none;line-height:38px;background-color:#4f6a82;border-bottom:1px solid #49627a;color:#e6e5e5;}
.sp-menu .four .ltitle{padding-left:38px;}
.sp-menu .five{float:left;width:200px;display:none;line-height:38px;background-color:#587389;color:#e6e5e5;}
.sp-menu .five .ltitle{padding-left:44px;}
.sp-menu .next{}/*作为标记*/
.sp-menu .has-sub{}/*下面有子菜单的标记*/
.sp-menu .menuClick{}/*给二级或者三级菜单一个点击后的标记，方便再次打开时定位到这里*/

/*左侧菜单的 图标*/
.sp-menu span.ltitle{width:auto;}
.sp-menu .has-sub i.sub-logo{ float:right;margin-right:12px;line-height:38px;color:#a0abb3;}
.sp-menu .has-sub i.sub-logo-hide{float:right;margin-right:10px; line-height:38px;display:none;color:#a0abb3;}

/*菜单折叠*/
.sp-menu-fold{width:50px;}
.sp-menu-fold .sp-menu-row{width:70px;}
.sp-menu-fold .one{width:50px;}
.sp-menu-fold .one i{text-align:center;}
.sp-menu-fold .one .ltitle{display:none !important;}
.sp-menu-fold .one:hover .ltitle{position:absolute;display:block !important;width:130px;text-indent:10px;line-height:38px;background-color:#364a5c;margin-left:49px;margin-top:-38px;z-index:30;}
.sp-menu-fold .two{width:50px;display:none !important;}
.sp-menu-fold .three{width:50px;display:none !important;}
.sp-menu-fold .four{width:50px;display:none !important;}
.sp-menu-fold .five{width:50px;display:none !important;}
.sp-menu-fold .sub-logo{display:none !important;}
.sp-menu-fold .sub-logo-hide{display:none !important;}

/*tab选项卡*/
 .sp-tab{float:left; width:100%;background-color:#fff;}
 .sp-tab .sp-tab-menu{float:left;overflow:hidden;height:30px;width:100%;}/*tab的菜单*/
 .sp-tab .sp-tab-menu li{float:left;width:100px;height:30px;line-height:30px !important;color:#333;text-align:center;cursor:pointer;} 
 .sp-tab .sp-tab-menu li.sp-tab-current{position:relative;color:#4a910c;font-weight:bold; background-color:#fff;border-bottom:2px solid #4a910c;height:28px;line-height:28px;}
 .sp-tab .sp-tab-menu li a{color:#333;text-decoration:none;}
 .sp-tab .sp-tab-menu li.sp-tab-current a{color:#4a910c;}
 .sp-tab .sp-tab-box{float:left; width:97%; padding:10px 1.5%; line-height:22px;border-top:1px solid #bdbdbd;margin-top:-1px;}/*tab的肚子*/
 .sp-tab .sp-tab-box .hide{display:none;}
 .sp-tab .sp-tab-box .sp-tab-current{}
 
 /*tab选项卡绿色风格*/
 .sp-tab-green .sp-tab-menu li{color:#333;}
 .sp-tab-green .sp-tab-menu li.sp-tab-current{color:#fff;height:29px;line-height:29px;background-color:#22a557;border-bottom:none;}
 .sp-tab-green .sp-tab-menu li a{color:#333;text-decoration:none;}
 .sp-tab-green .sp-tab-menu li.sp-tab-current a{color:#fff;}
 .sp-tab-green .sp-tab-box{border-top:2px solid #22a557;}/*tab的肚子*/
 
 /*sp-tab-round选项卡 椭圆风格*/
 .sp-tab-round .sp-tab-menu{border:1px solid #009933; border-radius:5px;height:32px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
 .sp-tab-round .sp-tab-menu li{color:#333; width:25%;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
 .sp-tab-round .sp-tab-menu li.sp-tab-current{color:#fff;height:32px;line-height:32px;background-color:#009933; border-bottom:none;}
 .sp-tab-round .sp-tab-menu li a{color:#333;text-decoration:none;}
 .sp-tab-round .sp-tab-menu li.sp-tab-current a{color:#fff;}
 .sp-tab-round .sp-tab-box{border-top:none;}/*tab的肚子*/

/**美化滚动条 只对webkit内核管用**/
/*::-webkit-scrollbar{ width: 14px;height: 14px;}        
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb{border-radius: 999px;border: 5px solid transparent;}        
::-webkit-scrollbar-track{box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;}        
::-webkit-scrollbar-thumb{min-height: 20px;-moz-background-clip: content-box; -webkit-background-clip: content-box; background-clip: content-box;box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;}        
::-webkit-scrollbar-corner{background: transparent;}*/

/*label的数字提示*/
.label {display: inline;padding:1px 5px;font-size: 12px !important;line-height: 1;color: #fff;white-space: nowrap;border-radius: .25em;vertical-align:text-top;font-weight:normal;left:-10px;}
 a.label:hover,a.label:focus {color: #fff;text-decoration: none; cursor: pointer;}
.label:empty {display: none;}
.label {position: relative;top: -1px;}
.label-default {background-color: #777;}
.label-default[href]:hover,.label-default[href]:focus {background-color: #5e5e5e;}
.label-primary {background-color: #337ab7;}
.label-primary[href]:hover,.label-primary[href]:focus {background-color: #286090;}
.label-success {background-color: #5cb85c;}
.label-success[href]:hover,.label-success[href]:focus {background-color: #449d44;}
.label-info {background-color: #5bc0de;}
.label-info[href]:hover,.label-info[href]:focus {background-color: #31b0d5;}
.label-warning {background-color: #f0ad4e;}
.label-warning[href]:hover,.label-warning[href]:focus {background-color: #ec971f;}
.label-danger {background-color: #d9534f;}
.label-danger[href]:hover,.label-danger[href]:focus {background-color: #c9302c;}

/*圆圈中间有数字的 提示样式*/
.sp-circletip-default{position:absolute;width:22px;height:22px;line-height:22px;font-size: 12px !important;color:#fff; text-align:center;background:url('./icons/label_default.png') no-repeat center;}
.sp-circletip-primary{position:absolute;width:22px;height:22px;line-height:22px;font-size: 12px !important;color:#fff; text-align:center;background:url('./icons/label_primary.png') no-repeat center;}
.sp-circletip-success{position:absolute;display: inline;width:22px;height:22px;line-height:22px;font-size: 12px !important;color:#fff; text-align:center;background:url('./icons/label_success.png') no-repeat center;}
.sp-circletip-danger{position:absolute;width:22px;height:22px;line-height:22px;font-size: 12px !important;color:#fff; text-align:center;background:url('./icons/label_danger.png') no-repeat center;}
.sp-circletip-red{position:absolute;width:22px;height:22px;line-height:22px; border-radius:11px; font-size: 12px !important;color:#fff; text-align:center;background:url('./icons/label_red.png') no-repeat center;}
.sp-circletip-warning{position:absolute;display: inline;width:22px;height:22px;line-height:22px;font-size: 12px !important;color:#fff; text-align:center;background:url('./icons/label_warning.png') no-repeat center;}
.sp-circletip-info{position:absolute;display: inline;width:22px;height:22px;line-height:22px;font-size: 12px !important;color:#fff; text-align:center;background:url('./icons/label_info.png') no-repeat center;}

/*面板panel*/
.sp-panel{float:left;height:auto;width:100%;border-radius:5px;margin:5px 0;}
.sp-panel .sp-panel-head{float:left;width:94%;line-height:22px;padding:8px 3%;font-size:15px; cursor:pointer;}
.sp-panel .sp-panel-body{float:left;width:94%;line-height:22px;padding:8px 3%;}
.sp-panel .sp-panel-footer{float:left;width:94%;line-height:22px;padding:8px 3%; background-color:rgba(0, 0, 0, 0.075); border-top:1px solid #ccc;}
.sp-panel .sp-panel-body .line{float:left;width:100%;line-height:22px;padding:5px 0;}

.sp-panel-green{border:1px solid #093;}
.sp-panel-green .sp-panel-head{background-color:#093;color:#fff;}
.sp-panel-default{border:1px solid #ccc;}
.sp-panel-default .sp-panel-head{background-color:rgba(0, 0, 0, 0.075);color:#333;}
.sp-panel-blue{border:1px solid #1C84C6;}
.sp-panel-blue .sp-panel-head{background-color:#1C84C6;color:#fff;}
/*折叠面板*/
.sp-panel-folder{}
.sp-panel-folder .sp-panel-body{display:none;transition: height 0.5s;-ms-transition: height 0.5s;-moz-transition: height 0.5s;}
.sp-panel-folder .sp-panel-footer{display:none;}

/*文件上传 控件*/
.sp-upload{position:relative; display:inline-block; min-height:33px;overflow:hidden;vertical-align:middle; cursor:pointer;}
.sp-upload-input-file{position:absolute; right:0; top:0; font-size:100px; opacity:0; filter:alpha(opacity=0);cursor:pointer;}
.sp-upload-btn{outline:none;border:0; padding:7px 10px;color:#fff;background:#1c84c6;cursor:pointer; margin:3px; border-radius:3px;}
.sp-upload-url { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius:2px;
                            border: solid 1px #ddd; width: 200px; height:30px;-webkit-line-height: 1;line-height: 30px\9;-ms-line-height: 30px; text-indent:3px;}
.sp-upload-tip {display:none; background-color:#1c84c6; padding:2px 10px; color:#fefefe; font-size:12px !important;border-radius:3px;}
.sp-upload-img{position:absolute; right:0; top:0; font-size:100px; opacity:0; filter:alpha(opacity=0);cursor:pointer; width:82px;height:82px;}
.sp-upload-photo{float:left; outline:none; width:82px;height:82px;background:url('./icons/addPhotocenter.png') center center no-repeat #fff;border-radius:3px; cursor:pointer;}

/********************* 开始：跑马灯 *********************/
.sp-scroll-img{ float:left; width:100%; background-color:#e2e7ed; height:auto; padding:10px 0;}
.sp-scroll-img  .scroll-content{width:1000px;margin:0 auto;height:131px;background:#f1f5f8;}
.scroll-content .scroll-content-goleft{float:left;width:27px;height:51px;line-height:51px;margin-top:40px;cursor:pointer;}
.scroll-content .scroll-content-goleft .scroll-goleftLogo{float:left;width:27px; height:51px; line-height:51px; background:url('icons/goLeft.png');}
.scroll-content .scroll-content-goright{float:right; width:28px;height:49px;line-height:49px; margin-top:41px;cursor:pointer;}
.scroll-content .scroll-content-goright .scroll-gorightLogo{float:left;width:28px; height:49px; line-height:49px;background:url('icons/goRight.png');}
.scroll-content .scroll-content-center{ float:left;width:944px;overflow: hidden;height:101px;background:none;padding:15px 0;}

.scroll-content-center .scroll-img-wrap {width: 944px; height: 101px; text-align: center; overflow: hidden; position: relative;}
.scroll-img-wrap ul, li {list-style-type: none; margin: 0; padding: 0;}
.scroll-img-wrap ul {position: absolute;left: 0;top: 0;}
.scroll-img-wrap li {float: left;width: 217px;height: 101px;line-height: 101px;background: #aacccc; margin-right: 5px;}
.scroll-img-wrap li img{height: 101px; width: 217px;}
/********************* 结束：跑马灯 *********************/

/*横向菜单：纵向向下展开的二级菜单  horizontal的缩写是：horz  vertical缩写：vert*/
.sp-horz-down{position:relative;width:auto;height:auto;}
.sp-horz-down ul,li{padding:0; margin:0; list-style:none;}
.sp-horz-down ul li{float:left;width:120px;line-height:30px !important;cursor:pointer; background-color:#093;text-align:center;color:#fff;}
.sp-horz-down ul li a{text-decoration:none;color:#fff;width:100%;}
.sp-horz-down ul li ul{position:absolute;display:none; width:118px;border-right:1px solid #f4f4f4;border-left:1px solid #f4f4f4;}
.sp-horz-down ul li:hover ul{display:block !important;}
.sp-horz-down ul li:hover ul li{float:left;width:100%;line-height:30px !important;cursor:pointer; background-color:#fff; border-bottom:1px solid #f4f4f4;}
.sp-horz-down ul li:hover ul li a{color:#333;}
.sp-horz-down ul li:hover ul li a:hover{color:#ffae3e;}

/*横向菜单：纵向向上展开的二级菜单 样式 */
.sp-horz-up {width:auto;position:relative; font-size:14px;}
.sp-horz-up ul,li {padding:0; margin:0;list-style-type: none; }
.sp-horz-up ul li {float:left; position:relative;}
.sp-horz-up ul li a{display:block;text-decoration:none;width:120px; height:30px;line-height:30px !important; text-align:center; color:#fff; border-top:1px solid #f4f4f4;background:#1c84c6;font-size:14px; cursor:pointer;}
.sp-horz-up ul li ul {display: none; }
.sp-horz-up ul li:hover a {color:#fff; background:#167bbb;}
.sp-horz-up ul li:hover ul {display:block; position:absolute;bottom:30px;left:0;border-right:1px solid #f4f4f4;border-left:1px solid #f4f4f4;width:118px;}
.sp-horz-up ul li:hover ul li {display:block; background:#fff; width:100%; clear:both;}
.sp-horz-up ul li:hover ul li a {display:block; background:#fff; color:#000; width:100%; line-height:30px !important;}
.sp-horz-up ul li:hover ul li a:hover {background:#eee; color:#000;}

/*进度条*/
.sp-progress {position: relative;border: 1px solid #1ab394;background-color: #fff;border-radius:5px;}
.sp-progress .progress-in {position: absolute;height: 100%;width: 0%;border: none;background-color: #1ab394;text-align: center;color: #fff;z-index: 1;}
.sp-progress .direction-left{left:0;border-top-right-radius: 2px;border-bottom-right-radius: 2px;}
.sp-progress .direction-right{right:0;border-top-left-radius: 2px;border-bottom-left-radius: 2px;}
.sp-progress .percent-show {position: absolute;width: 100%;height: 100%;top: 0;left: 0;color: #333;text-align: center;z-index: 2;}
.progress-blue{border:1px solid #1c84c6;}   
.progress-blue .progress-in{background-color: #1c84c6;}
.progress-orange{border:1px solid #f8ac59;}  
.progress-orange .progress-in{background-color: #f8ac59;}
.progress-red{border:1px solid #ed5565;}     
.progress-red .progress-in{background-color: #ed5565;}

/*时间轴 自定义蓝色*/
.sp-timesp-line-blue{float:left;width:98%;padding:1%;height:100%;background-color:#f8f8f8;}
.sp-timesp-line-blue .timesp-line-blue-title{float:left;width:100%;text-indent:150px;line-height:40px;font-size:16px; font-weight:bold;}
.sp-timesp-line-blue .timesp-line-blue-clock{float:left;width:100%;height:40px;background: url("icons/timeline-clock-blue.png") no-repeat 105px 0;}
.sp-timesp-line-blue .timesp-line-blue-list{float:left;width:100%;background: url("icons/timeline-bg-blue.png") repeat-y 124px 0; padding-top:20px;}
.timesp-line-blue-list ul,li{padding:0;margin:0;list-style:none;}
.timesp-line-blue-list ul{float:left;width:100%;background: url("icons/timeline-circle-blue.png") no-repeat 117px 12px;color: #333; min-height:50px; padding:5px 0;}
.timesp-line-blue-list .timesp-line-blue-left{float:left;width:110px;height:auto;padding:5px 0;}
.timesp-line-blue-left .timesp-line-blue-date{width:100%;text-align:left;float:left; line-height:20px;word-break:break-all; word-wrap:break-word;}
.timesp-line-blue-list .timesp-line-blue-right{position:relative; margin:1px 12px 0 145px; height:100%;border-radius:2px; background-color:#008bf5;}
.timesp-line-blue-right .timesp-line-blue-right-info{float:left;width:100%;text-align:left;line-height:22px;padding:5px; word-break:break-all; word-wrap:break-word;background-color:#008bf5; border-radius:5px;color:#fff; }
.timesp-line-blue-right:after, .sp-timeline-right:before{right: 100%;top: 14px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.timesp-line-blue-right:after {border-color: rgba(136, 183, 213, 0);border-right-color: #008bf5;border-width: 6px;margin-top: -6px;}
.timesp-line-blue-right:before {border-color: rgba(194, 225, 245, 0);border-right-color: #008bf5;border-width: 7px;margin-top: -7px;}
.timesp-line-blue-list .timesp-line-blue-end-linecover{float:left;width:124px;height:30px;border-right:2px solid #f8f8f8; margin-top:-30px;}/*去掉时间轴的尾巴*/

/*时间轴蓝色和灰色：右侧有时间、新闻*/
.sp-timeline-default{float:left;width:98%;padding:1%;height:100%;background-color:#f8f8f8;}
.sp-timeline-default .timeline-default-list{float:left;width:100%;height:auto; background:url("icons/timeline-bg-default.png") repeat-y 8px 0;}
.timeline-default-list ul,li{padding:0;margin:0;list-style:none;}
.timeline-default-list ul{float:left;width:100%;height:auto;padding:5px 0;background:url("icons/timeline-circle-default.png") no-repeat 0 0;}
.timeline-default-up{float:left;width:100%;height:auto;}
.timeline-default-date{float:left;width:100%;height:22px;line-height:22px;text-indent:28px; margin-top:-6px; color:#8a8686 !important;}
.timeline-default-down{position:relative;margin:20px 10px 5px 28px;background:#fff; line-height:22px; min-height:32px;border:1px solid #f5f5f5;}
.timeline-default-down-info{float:left;width:100%;position:relative;line-height:22px; padding:5px; background:#fff;word-break:break-all; word-wrap:break-word;}

/*时间轴 绿色风格*/
.sp-timeline-green{float:left;width:98%;padding:1%;height:100%;background-color:#f8f8f8;}
.sp-timeline-green .timeline-green-list{float:left;width:100%;height:auto; background:url("icons/timeline-bg-green.png") repeat-y 8px 0;}
.timeline-green-list ul,li{padding:0;margin:0;list-style:none;}
.timeline-green-list ul{float:left;width:100%;height:auto;padding:10px 0;background:url("icons/timeline-circle-green.png") no-repeat 0 11px; }
.timeline-green-up{position:relative;margin:0 10px 0 28px;height:auto;background-color:#339933;}
.timeline-green-up-date{float:left;width:100%;padding:5px;height:22px;line-height:22px;margin-top:-5px; color:#fff !important; background-color:#339933; font-size:15px;border-radius:5px 5px 0 0;}
.timeline-green-up-date:after, .timeline-green-up-date:before{right: 100%;top: 11px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.timeline-green-up-date:after {border-color: rgba(136, 183, 213, 0);border-right-color: #339933;border-width: 6px;margin-top: -6px;}
.timeline-green-up-date:before {border-color: rgba(194, 225, 245, 0);border-right-color: #339933;border-width: 7px;margin-top: -7px;}
.timeline-green-down{position:relative;margin:28px 10px 5px 28px;background:#fff;line-height:22px; min-height:32px;}
.timeline-green-down-info{float:left;width:100%;position:relative;line-height:22px; padding:5px; background:#fff;word-break:break-all; word-wrap:break-word; border-radius:0 0 5px 5px;box-shadow: 0 2px 1px #dcdcdc;}
.timeline-green-up-linecover{float:left;background:no-repeat;width:8px;height:15px;margin-bottom:-15px;border-right:2px solid #f8f8f8; }/*用于遮盖住顶部长处来的线条*/


/*设置消息左侧导航 2017-03-10*/
.sp-pagebar-head{float: left;width: 100%; height: 70px;line-height: 70px;text-indent: 20px;background-color: #d9dee4;}
.sp-pagebar-content{float: left;width: 100%;height: 100%; background-color:#F6F8F8;}
.sp-pagebar-content ul, li {padding: 0;margin: 0;list-style: none;}
.sp-pagebar-content ul {float: left;width: 100%;}
.sp-pagebar-content ul li {float: left;width: 100%;}
.sp-pagebar-content ul li a {float: left;width: 100%;line-height: 40px;text-indent: 25px;cursor: pointer;}
.sp-pagebar-content ul li a:hover {background-color: #f4f6f8;}
.sp-pagebar-content ul.has-sub li a {text-indent: 0;}
.sp-pagebar-content ul.has-sub li a i {float: left;margin-left: 8px;line-height: 33px;padding-right: 8px;font-size: 16px;}
.sp-pagebar-content ul li a.active {background-color: #fff;}
.sp-pagebar-content ul li ul li a i{float: left; margin-top:3px;}
.sp-pagebar-content ul li ul li a span{float: left; margin-left:0;}
.sp-pagebar-content ul li ul li {float: left;width: 100%;}/*二级*/
.sp-pagebar-content ul li ul li a {float: left;width: 100%;line-height: 40px;text-indent: 25px !important;}
.sp-pagebar-leftfold {position: absolute; width: 21px;height: 77px; margin-left: 159px;margin-top: 267px; cursor: pointer;z-index:20;}
.sp-pagebar-leftfold i:hover{font-size:16px;}

/*禁用样式*/
.sp-disabled{cursor: not-allowed;}
input.sp-disabled, label.sp-disabled{cursor: default; opacity: 0.5;filter: alpha(opacity=50);}
a.sp-disabled{cursor: default; text-decoration: none;}
input.sp-disabled, textarea.sp-disabled {background-color: #e6e6e6;cursor: default;}

/*select 单选样式 作为标记*/
.sp-select{float:left;width:100%; height:30px;line-height:30px;border: solid 1px #ddd;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.sp-select option{padding:3px 6px;}
.sp-select-mul{width:100%;padding:3px 0; border: solid 1px #ddd;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.sp-select-mul option{padding:3px 6px;}
.sp-select-mul-btn{width:80px;outline:none;border:0; padding:4px 15px;background:#F7F7F7; color:#555; border:1px solid #ddd; cursor:pointer; margin:3px;}
.sp-select-mul-btn:hover{background:#fff;}

.select-set{ float:left; width:100%;}
.div-select{background:url('./icons/icon-selectRight.png') no-repeat right center;
            border: solid 1px #ddd;border-radius:3px;  height: 30px; line-height: 30px; cursor: pointer;width:100%;background-color: #fff;}
.div-select:hover,.div-select:focus{border: solid 1px #3bb4f2;height: 30px; line-height: 30px;} 
.div-select-text{float: left;border-radius:3px;background-color: #fff; height: 100%;white-space:nowrap; overflow: hidden;cursor: pointer; font-size: 13px;line-height: 30px;} 
.div-select-text > div {text-indent: 5px;line-height: 30px;}
.div-select-list{max-height: 212px;position: absolute; float: left;top: 100px;left: 100px;border: solid 1px #ddd;border-top: solid 1px #3bb4f2; 
  overflow-y: auto; display: none; z-index: 1;font-size: 13px; 
}
.div-select-list:hover{display:block;}
.div-select-item{height: 30px;line-height: 30px; text-indent: 6px; background-color: #fff; word-break: keep-all;overflow: hidden;cursor: default;} 
.div-select-item-hover{background-color: #3399ff!important;color:#fff;} 
.div-select-selected{background-color: #3399ff !important;color:#fff;}

/**首页的桌面布局**/
.sp-desktop{float:left;width:100%; height:auto;}
.sp-desksp-nav-head-left{float:left;width:40%;}
.sp-desksp-nav-head-right{float:right;width:60%;}
.sp-desktop .dtrow{float:left; width:180px; height:60px;background-color:#ccc; margin:10px;padding:15px 20px; color:#fff; border-radius:6px;cursor:pointer;}
.sp-desktop .dtrow a{color:#fff;}
.sp-desktop .dtrow .left{float:left; width:40px;height:60px;line-height:60px;font-size:30px;}
.sp-desktop .dtrow .right{float:right;width:135px;line-height:60px;font-size:28px; text-align:center;}

.sp-desktop .dtrowBlue{background-color:#476b9f;}   .sp-desktop .dtrowBlue:hover{background-color:#426494;}
.sp-desktop .dtrowGreen{background-color:#689f30;}  .sp-desktop .dtrowGreen:hover{background-color:#60942c;}
.sp-desktop .dtrowRed{background-color:#db2042;}    .sp-desktop .dtrowRed:hover{background-color:#d22040;}
.sp-desktop .dtrowOrg{background-color:#e6891d;}    .sp-desktop .dtrowOrg:hover{background-color:#db831c;}
.sp-desktop .dtrowDeep{background-color:#853636;}   .sp-desktop .dtrowDeep:hover{background-color:#5e2626;}
.sp-desktop .dtrowZi{background-color:#8c1987;}     .sp-desktop .dtrowZi:hover{background-color:#7d1779;}
.sp-desktop .dtrowHuang{background-color:#ff8000;}  .sp-desktop .dtrowHuang:hover{background-color:#e27303;}
.sp-desktop .dtrowLan{background-color:#007cc6;}    .sp-desktop .dtrowLan:hover{background-color:#1f82e5;}

/*fontello字体图标*/
@font-face {font-family: 'fontello';font-weight: normal;font-style: normal;src: url('./fontello/font/fontello.eot?38983849');
      src: url('./fontello/font/fontello.eot?38983849#iefix') format('embedded-opentype'),url('./fontello/font/fontello.woff?38983849') format('woff'),url('./fontello/font/fontello.ttf?38983849') format('truetype'),url('./fontello/font/fontello.svg?38983849#fontello') format('svg');      
  }
.fontello{ font-family: "fontello"; font-style: normal; font-weight: normal; speak: none;display: inline-block;text-decoration: inherit;
       text-align: center; font-variant: normal;text-transform: none;line-height: 1em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}


.sp-step{float:left;width:100%;height:40px;min-width:300px;}
.sp-step-col{float:left;width:25%; min-width:100px;height:40px;background:url('./icons/sp-step-line-gray.png') repeat-x left center; }
.sp-step-col-num{float:left;width:50px;height:40px;background:url('./icons/sp-step-roundGray.png') no-repeat 10px center #fff;line-height:40px;text-align:center; text-indent:10px; color:#cdcdcd !important; font-size:16px;}
.sp-step-col-title{float:left;width:auto;height:40px;line-height:40px; padding:0 10px; color:#999999;background-color:#fff;}
/*.sp-step-col-line{float:left;width:150px;height:40px;background:url('./icons/sp-step-line-gray.png') repeat-x left center; margin:0 10px;}*/




















